/* Large Devices, Desktops */
@media only screen and (max-width : 1220px) {
	.head-right{
		margin-left:350px;
	}
	.search-box{
		width:100%;
	}
	.top-nav>ul>li>a{
		font-size:13px;
		padding:0 15px;
	}
	.product-card-left{
		margin:0 auto;
	    float:none;
	}
	.product-card-right{
		margin:0;
		padding:0 5px;
	}
	.carousel-box1{
	    width:100%;
		padding-left:0;
		padding-right:0;
	}
	.top-carousel{
	    margin:0 auto;
	}
	.top-new-img img{
		width:80%;
	}
	.top-new-text {
		font-size: 38px;
		line-height: 38px;
		bottom:50px;
	}
	.top-img-new:after{
		width:72%;
	}
	.top-new-cont{
		width:68%;
	}
	.top-new-prod{
		padding:10px 0;
	}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header{
		padding:10px 0;
	}
	.head-left-cont{
		padding:0;
	}
	.head-left{
		padding-top:20px;
	}
	.head-box-right{
		width:auto;
		float:none;
		padding-bottom:5px;
	}
	.head-left-cont,
	.head-box-left {
		margin:0;
		float: none;
	}
	.lang-panel{
		top:65px;
	}
	.top-tel b {
		font-size: 24px;
	}
	.top-bar-cont{
		height:60px;
		position:relative;
		z-index:5;
	}
	.top-bar-left,
	.top-nav-block{
		margin:0;
	}
	.top-nav{
	    height:auto;
		position:absolute;
		left:0;
		right:0;
		top:60px;
		background:#e1e2e9;
	    display:none;
	} 
	.top-nav>ul{
		display:block;
	}
	.top-nav>ul>li{
		width:auto;
	    height:auto;
		line-height:normal;
	    display:block;
	    margin:0;
		padding:0;
		float:none;
		text-align:left;
		border-bottom:1px solid #FFF;
	}
	.top-nav>ul>li>a{
	    color:#000;
		height:auto;
		text-align:left;
		line-height:normal;
		padding:7px 15px;
		border:0;
		margin:0;
		display:block;
	}
	.top-nav>ul>li>a:hover{
	    background:#000;
		color:#FFF;
	}
	.top-nav>ul>li:after{
		display:none;
	}
	.top-nav-button{
	    display:block;
	}
	.top-bar-right{
		float:none;
		position:absolute;
		right:0;
		top:0;
	}
	.top-cont-left{
		width:auto;
		float:none;
		text-align:center;
		margin-bottom:10px;
	}
	.top-cont-right{
		margin:0;
	}
	.foot-left{
		float:none;
		margin-bottom:10px;
	}
	.bot-logo{
		text-align:center;
	}
	.foot-right{
		margin:0;
		margin-bottom:10px;
	}
	.foot-box:first-child:after{
		display:none;
	}
	.right-bar,
	.right-bar-cont{
		float:none;
		margin:0;
	}
	.right-bar-cont{
		margin-bottom:20px;
	}
	.left-bar{
		width:auto;
		float:none;
	}
	.prod-tab-img,
	.prod-tab-name{
		padding:4px 0;
		width:auto;
	}
	.prod-tab-img a{
		margin:0 auto;
		display:block;
	}
	/* carousel top */
	.carousel-prod-about{
	    width:auto;
		float:none;
		margin-left:500px;
	}
	.top-new-img img {
		width: 70%;
	}
	.top-new-text{
		bottom:auto;
		left:auto;
		top:20px;
		right:20px;
	}
	.top-img-new:after{
		width:100%;
		height:80%;
	}
	.top-new-cont {
		width: 90%;
	}
	.top-new-img{
		left:0;
	}
	.blackboard{
		margin-right:20px;
	}
	.top-clock{
		right:110px;
	}
	.right-bar-cont .text-boxtv{
	width: 100%;
	float: none;
	}
	.right-bar-cont .dostv{
	width: 100%;
	float: none;
	}
	.bot-menu{
		padding:0;
	}
	.bot-menu .top-nav{
		display:none !important;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.header{
		padding:7px 0;
	}
	.head-left{
		padding-top:0;
		float:none;
		margin:0 auto;
	}
	.head-right{
		max-width:330px;
		margin:0 auto;
	}
	.head-top-right{
		margin-left:160px;
	}
	.top-tel a{
		font-size:16px;
	}
	.top-tel b {
		font-size: 16px;
	}
	.top-mail a{
		font-size: 18px;
	}
	.lang-panel{
		top:5px;
	}
	.foot-box{
		width:auto;
		float:none;
		padding:10px 0;
	}
	.foot-box:after{
		display:none;
	}
	.catalog{
		text-align:center;
	}
	.prod-tab-head,
	.prod-tab-img{
		display:none !important; 
	}
	/* prettyPhoto styling for small screens */
	.pp_pic_holder.pp_default { width: 100%!important; left: 0!important; overflow: hidden; }
	div.pp_default .pp_content_container .pp_left { padding-left: 0!important; }
	div.pp_default .pp_content_container .pp_right { padding-right: 0!important; }
	.pp_content { width: 100%!important; height: auto!important; }
	.pp_fade { width: 100%!important; height: 100%!important; }
	a.pp_expand, a.pp_contract, .pp_hoverContainer, .pp_gallery, .pp_top, .pp_bottom { display: none!important; }
	#pp_full_res img { width: 100%!important; height: auto!important; }
	.pp_details { width: 94%!important; padding-left: 3%; padding-right: 4%; padding-top: 10px; padding-bottom: 10px; background-color: #fff; margin-top: -2px!important; }
	a.pp_close { right: 10px!important; top: 10px!important; }
	/* carousel top */
	.carousel-prod-img{
	    width:320px;
		height:320px;
	    margin:0 auto;
		margin-bottom:10px;
		float:none;	
	}
	.carousel-prod-img img{
        max-width:305px;
        max-height:305px;
    }
    .carousel-prod-img span{
        width:320px;
        height:320px;
	}
	.carousel-prod-about{
	    padding:0 10px;
		margin:0;
	}
	.prev,.next{
	    top:320px;
	}
	.prev{
	    left:5px;
	}
	.next{
	     right:5px;
	}
	.top-new-img{
		width:auto;
		position:relative;
		z-index:0;
		text-align:center;
	}
	.top-img-new .container{
		padding:0;
	}
	.top-img-new{
		height:auto;
	}
	.top-img-new:after{
		display:none;
	}
	.top-new-text{
		position:static;
		text-align:center;
		top:auto;
		right:auto;
		bottom: 20px;
		font-size:28px;
		line-height:28px;
	}
	.top-new-cont{	
		width:auto;
		text-align:center;
		padding:15px;
		background:#FFF;
	}
	.top-new-text{
		position:relative;
		z-index:0;
	}
	.blackboard {
		margin: 0 10px;
	}
	.top-clock{
		width:320px;
		right:50%;
		margin-right:-160px;
	}
	.top-clock:after, 
	.top-clock:before {
		width: 116px;
		background-size:contain;
	}
	.blog-bar>.blog-box{
		width:50%;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.head-left{
		width:300px;
	}
	.head-text{
		font-size:16px;
	}
	.head-right{
		width:300px;
	}
	.head-top-right {
		margin-left: 155px;
	}
	.top-tel {
		padding-left: 25px;
		padding-top: 6px;
	}
	.top-tel b,
	.top-tel a {
		font-size: 14px;
	}
	.top-mail a{
		font-size:16px;
	}
	.top-img-block{
		padding:0;
	}
	.configurator-box{
		width:280px;
		height:280px;
	}
	.configurator-box:after {
		width: 310px;
		height: 310px;
		background-size:cover;
		left:-15px;
		top:-15px;
	}
	.configurator-box-cont{
		padding: 80px 20px 0 20px;
	}
	.top-cont{
	    padding:0 5px;
	}
	.top-info-name{
		font-size:20px;
	}
	.top-cont-right{
		font-size:18px;
	}
	.bot-bar{
		padding:30px 0;
	}
	.copy-box{
		text-align:center;
	}
	.product-cat-box{
		width:150px;
		margin:0;
	}
	.product-cat-name a{
		font-size:18px;
	}
	.prev-page,
	.next-page{
		display:none !important;
	}
	.block-box-title{
		font-size:20px;
	}
	.block-box-title span,
	.block-box-title h1.h1-span{
		font-size:18px;
	}
	.left-block-title{
		font-size:20px;
	}
	.left-nav > ul > li > a,
	.left-cat ul li a{
		font-size:16px;
	}
	.product-card-left{
		width:auto;
		margin-bottom:20px;
	}
	.product-img,
	.product-img a { 
		width:300px !important;
		height:200px !important;
	}
	.product-name{
		font-size:20px;
	}
	.product-card-price span{
		font-size:24px;
	}
	.prod-tab-box{
		margin-bottom:5px;
	}
	.prod-tab-img{
		display:block !important;
	}
	.prod-tab-box,
	.prod-tab-box > div{
		display:block;
		overflow:hidden;
		width:auto;
		padding:5px;
		text-align:center;
		border:0;
	}
	.clear-button{
		float:right;
	}
	.order-btn-right{
		text-align:center;
	}
	.order-btn-right .button{
		margin:0 auto;
	}
	.carousel-box1{
	    width:100%;
		padding-left:0;
		padding-right:0;
	}
	.top-carousel{
	    margin:0 auto;
	}
	.modal-box{
		margin-left:10px;
		margin-right:10px;
		padding: 45px 5px;
	}
	.modal-box p{
		margin-bottom:10px;
	}
	.close-modal{
		right:0 !important;
		z-index:5;
	}
	.top-basket{
		padding-right: 50px;
	}
	.top-bar-right{
		width: 254px;
	}
	.article-description {
		margin-left: 210px;
	}
	.article-box-title{
		padding:0;
		font-size:14px;
		text-align: left;
	}
	.blog-bar>.blog-box{
		width:100%;
		float:none;
	}
}	
/* Small Devices, Tablets */
@media only screen and (min-width : 992px) {
    .top-nav-button{
		display:none !important;
	}
    .top-nav{
	    display:block !important;
	}	
	
}