/* --- Описываем модальное окно --- */
.modal {
    /* Полупрозрачный слой перекрытия */
        position: fixed;
        top: 0;
        right: 0;
        width: 100%; 
        height: 100%;
        background: rgba(0,0,0,0.4);
        z-index: 1000;
		display:none;
  
    /* --- Содержание модального окна --- */    
        & > div {
            max-width: 400px;
            background: #37b6dd;
            position: relative;
            margin: 10% auto;
        /* Добавляем стили внешнего вид */
            padding: 20px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }
    
    /* --- Стили текста в модальном окне --- */
        p {
            font-family: 'Arial', sans-serif;
            text-align: center;
            font-size: 16px;
            text-transform: uppercase;
            line-height: 24px;
            font-weight: bold;
            color: #fff;
        } 
}

/* Описываем стили формы */
    #backPhone{
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
	margin-top: 20px;
	/*margin-left: 25%;*/
    }
/* Стили поля ввода  */  
    #telForm {
        width: 100%;
        height: 35px;
        float: left;
        border: none;
       text-align:center;
        background: beige;
        -moz-border-radius: 5px 5px 5px 5px;
             border-radius: 5px 5px 5px 5px;
			 margin-bottom: 3px;
    }
/* Стили кнопки */
    #telButton {
        width: 58%;
       /* float:left;*/
        border: none;
        height: 37px;
        background: #ff6600;
        color:#fff;
        cursor: pointer;
        transition: .6s;
        -moz-border-radius:5px 5px 5px 5px;
             border-radius:5px 5px 5px 5px;
	margin-top: 10px;
margin-left: 0px;
  
/* Стили кнопки при наведении */
        &:hover {
            background: #1d8425;
            transition: .6s;
        }
    }
.close-modal{
	position: absolute;
	right: 27%;
top: 5px;

}
.close-modal:after{
    color: transparent;
	font-family: 'Arial';
	font-size: 14px;
	content: 'X';
	display: block;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 20px;
	padding: 3px 2px;
	text-decoration: none;
	text-align: center;
	background: #C60;
	color: #fff;
	-moz-border-radius: 1px;
	border-radius: 1px;	
}	

.errors{
    padding-top: 0px;
    padding-left: 10%;
   /* color: aqua;*/
    font-stretch: ;
    font-size: medium;
}
