* {margin:0; padding:0;}

html,body{
	width: 100%;
	height: 100%;
	background:#FFF;
	color:#000;
    font-size:18px;
    font-family: Arial,sans-serif;
}
body{
    overflow-x:hidden;
    min-width:320px;
}
h1,h2,h3,h4,h5,h6{
    font-weight:normal;
}
a{
    color:#3f67c0;
}
a:hover{
    text-decoration:none;
}
ul{
    list-style:none;
}
iframe,
img{
    max-width:100%;
    border:none;
}
input,textarea{ 
    outline:none;
    font-family: Arial,sans-serif;
}
textarea{
    overflow:hidden;
}
.container{
    max-width:1170px;
    min-width:310px;
    padding:0 5px;
    margin:0 auto;
}
.header{
    padding:20px 0;
    color:#2a1770;
    position:relative;
    z-index:6;
}
.head-left{
	width:330px;
    float:left;
    overflow:hidden;
}
.logo-box{
	width:165px;
    float:left;
}
.head-text{
    margin-left:180px;
	padding:10px 0 10px 10px;
    font-size:21px;
    line-height:24px;
    color:#3f67c0;
    font-weight:bold;
    border-left:4px solid #beeaff;
}
.head-right{
    margin-left:400px;
}
.head-box-right{
	width:410px;
	float:right;
	position:relative;
	z-index:1;
}
.head-box-left{
	width:100%;
	margin-right:-430px;
	float:left;
}
.head-left-cont{
	margin-right:430px;
	padding-top:15px;
}
.head-right-top{
	overflow:hidden;
}
.head-top-left{
	width:150px;
	float:left;
}
.head-top-right{
	margin-left:180px;
}
.order-call{
	color:#b26303;
	font-size:16px;
	font-weight:bold;
	margin-right:20px;
}
.order-call a{
	width:100px;
	height:54px;
	padding:10px 0 0 75px;
	color:#b26303;
	font-size:13px;
	font-weight:bold;
	display:block;
	text-decoration:none;
	overflow:hidden;
	background:url(../images/order-btn.png) no-repeat left center;
}
.order-call a:hover span{
	border-color:transparent;
}
.order-call span{
	border-bottom:1px dashed #b26303;
}
.top-tel{
    padding-left:30px;
	padding-top: 5px;
    background:url(../images/icons/tel-icon.png) no-repeat left 7px;
    margin-bottom:6px;
}
.top-tel a{
    color:#2a1770;
    text-decoration:none;
    font-size:20px;
    line-height:22px;
    font-family: 'arialnarrow',sans-serif;
}
.top-tel a:hover{
    color:#3f67c0;
}
.top-tel b{
    font-size:27px;
    font-family: Arial,sans-serif;
}
.top-mail{
    padding-left:30px;
    background:url(../images/icons/mail-icons.png) no-repeat left center;
    margin-bottom:10px;
}
.top-mail a{
    color:#2a1770;
    text-decoration:none;
    font-size:20px;
    line-height:22px;
    font-family: 'arialnarrow',sans-serif;
}
.top-mail a:hover{
    color:#3f67c0;
}
.search-box{
	width:70%;
    height:34px;
    padding:2px 30px 2px 10px;
    background:#e1e2e9;
	position:relative;
	z-index:0;
	box-sizing:border-box;
}
.search-input{
    width:100%;
    height:30px;
    background:#e1e2e9;
    border:0;
    font-size:16px;
    color:#a1a1a1;
}
.search-button{
    width:30px;
    height:30px;
    border:0;
    cursor:pointer;
    font-size:0;
    background:url(../images/icons/lupe-icon.png) no-repeat center center;
    position:absolute;
	z-index:1;
	top:2px;
	right:0;
}
.lang-panel{
    height:12px;
    position:absolute;
	z-index:3;
    top:60px;
    right:0;
}
.lang-panel ul li{
    color:#a1a1a1;
    height:13px;
	line-height:12px;
    float:left;
	border-right:1px solid #CCC;
	padding:0 4px;
}
.lang-panel ul li:last-child{
    border:0;
}
.lang-panel ul li a:hover{
    opacity:0.5;
}
.top-bar{
    background:#3f67c0;
	position:relative;
    z-index:5;
}
.top-bar-cont{
    max-width:1170px;
    min-width:310px;
    padding:0 5px;
    margin:0 auto;
}
.top-bar-right{
    width:274px;
    height:50px;
    float:right;
    position: relative;
    z-index: 0;
}
.top-bar-left{
    width:100%;
    margin-right:-274px;
    float:left;
}
.top-nav-block{
    margin-right:284px;
}
.top-nav-button{
    width:24px;
	height:22px;
	padding:2px 2px;
	border:2px solid #FFF;
	cursor:pointer;
    margin:15px 0 0 10px;
    display:none;
	border-radius:3px;
}
.top-nav-button:hover{
    background:#FFF;
}
.top-nav-line{
    margin:3px 0;
	height:2px;
	background:#FFF;
}
.top-nav-button:hover .top-nav-line{
    background:#002060;
}
.top-nav{
    height:60px;
}
.top-nav>ul{
	display:table;
}
.top-nav>ul>li{
    height:60px;
    display:table-cell;
	text-align:center;
    position:relative;
}
.top-nav>ul>li:after{
    content:'';
    width:1px;
    height:100%;
    display:block;
    position:absolute;
    left:0;
    top:0;
    background:#5279c9;
}
.top-nav>ul>li>a{
    display:table-cell;
	vertical-align:middle;
    height:60px;
    color:#FFF;
    font-size:16px;
    text-decoration:none;
    text-align:center;
    padding:0 20px;
}
.top-nav>ul>li>a:hover{
    background:#7ac3ee;
    color:#FFF;
}
.top-basket{
    height:60px;
    overflow:hidden;
	padding-right: 75px;
}
.top-basket-icon{
    width:61px;
    height:50px;
    padding-top:10px;
    text-align:center;
    float:left;
    background:url(../images/top-basket-bg.png) no-repeat left top;
}
.top-basket-icon a{
    display:block;
}
.top-basket-text{
    margin-left:70px;
    padding-top:10px;
    font-size:16px;
    line-height:18px;
    font-family: 'arialnarrow',sans-serif;
    color:#FFF;
}
.top-basket-text b{
    font-family: Arial,sans-serif;
}
.top-basket-text a{
    font-size:16px;
    color:#FFF;
    text-decoration:none;
}
.top-basket-text a:hover{
    text-decoration:underline;
}
/* new banner */
.top-img-new{
	max-width:1920px;
	height:500px;
    margin:0 auto;
    position:relative;
	z-index:0;
	overflow:hidden;
	background:#3f51b5;
}
.top-img-new:after{
	content:'';
	width:62%;
	height:90%;
	position:absolute;
	z-index:-1;
	right:0;
	bottom:0;
	background:url(../images/banner-bg.png) no-repeat left top;
	background-size:cover;
}
.top-img-new>.container{
	height:100%;
	position:relative;
	z-index:0;
}
.top-new-img{
	position:absolute;
	z-index:0;
	left:20px;
	top:0;
}
.top-new-text{
	position:absolute;
	z-index:0;
	left:20px;
	bottom:40px;
	font-size:48px;
	line-height:48px;
	color:#FFF;
	font-family: 'MonotypeCorsiva';
}
.top-new-cont{
	width:58%;
	padding-top:140px;
	float:right;
}
.top-new-prod{
	width:120px;
	height:130px;
	display:inline-block;
	vertical-align:top;
	margin:10px 5px;
}
.top-new-prod-icon{
	width:85px;
	height:85px;
	margin:0 auto;
	position:relative;
	z-index:0;
	margin-bottom:15px;
}
.top-new-prod-icon a{
	width:85px;
	height:85px;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}
.top-new-prod-icon img{
	max-width:40px;
	max-height:40px;
}
.top-new-prod-icon:after{
    content:'';
    width:85px;
    height:85px;
    display:block;
    position:absolute;
    z-index:-1;
    left:0;
    top:0;
    background:url(../images/elipse-cat.png) no-repeat left top;
    background-size:cover;
    transition: .3s all;  /* rotate gradually instead of instantly */
}
.top-new-prod:hover .top-new-prod-icon:after{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.top-new-prod-name{
	text-align:center;
	color:#3f51b5;
	font-size:14px;
}
.top-new-prod-name a{
	color:#3f51b5;
	font-size:14px;
	text-decoration:none;
	font-weight:bold;
}
.top-classroom{
	background:#ddd6cd url(../images/classroom/wall-bg.png) repeat center top;
	position:relative;
	z-index:0;
}
.top-classroom:after{
	content:'';
	width:100%;
	height:30px;
	position:absolute;
	z-index:0;
	top:0;
	left:0;
	right:0;
	background: #85817b url(../images/classroom/deck-bg.png) repeat-x left top;
}
.top-classroom:before{
	content:'';
	width:100%;
	height:100%;
	position:absolute;
	z-index:-1;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:url(../images/classroom/furniture.png) no-repeat center bottom;
}
.top-classroom .container{
    padding-top:75px;
	padding-bottom:70px;
	position:relative;
	z-index:1;
}
.top-classroom .container:after{
	content:'';
	display:table;
	clear:both;
}
.top-clock{
	width:523px;
	height:73px;
	position:absolute;
	z-index:2;
	top:0;
	right:220px;
	text-align:center;
}
.top-clock:before{
	content:'';
	width:216px;
	height:13px;
	position:absolute;
	z-index:-1;
	top:4px;
	left:0;
	background:url(../images/classroom/lamp.png) no-repeat left top;
}
.top-clock:after{
	content:'';
	width:216px;
	height:13px;
	position:absolute;
	z-index:-1;
	top:4px;
	right:0;
	background:url(../images/classroom/lamp.png) no-repeat left top;
}
.blackboard{
	max-width:730px;
	position:relative;
	z-index:0;
	text-align:center;
	border:10px solid #e0e0e0;
	border-bottom-color:#c6c6c6;
	background-size:100% 100%;
	box-shadow:0 0 3px 5px #cac4bc;
	float:right;
	margin-right:135px;
}
.blackboard:before{
	content:'';
	width:12px;
	height:13px;
	background:#e0e0e0;
	position:absolute;
	z-index:-1;
	left:-11px;
	top:-11px;
	box-shadow: inset 0 0 4px #c6c6c6;
}
.blackboard:after{
	content:'';
	width:12px;
	height:13px;
	background:#e0e0e0;
	position:absolute;
	z-index:-1;
	right:-11px;
	top:-11px;
	box-shadow: inset 0 0 4px #c6c6c6;
}
.blackboard-inner{
	position:relative;
	z-index:0;
	background:#FFF;
	padding:20px 5px 10px 5px;
	box-shadow: inset 0 0 15px #514f4f;
}
.blackboard-inner:before{
	content:'';
	width:10px;
	position:absolute;
	z-index:-1;
	left:-10px;
	top:2px;
	bottom:-10px;
	background: rgb(224,224,224);
	background: -moz-linear-gradient(top,  rgba(224,224,224,1) 0%, rgba(198,198,198,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(198,198,198,1) 100%);
	background: linear-gradient(to bottom,  rgba(224,224,224,1) 0%,rgba(198,198,198,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#c6c6c6',GradientType=0 );
}
.blackboard-inner:after{
	content:'';
	width:10px;
	position:absolute;
	z-index:-1;
	right:-10px;
	top:2px;
	bottom:-10px;
	background: rgb(224,224,224);
	background: -moz-linear-gradient(top,  rgba(224,224,224,1) 0%, rgba(198,198,198,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(198,198,198,1) 100%);
	background: linear-gradient(to bottom,  rgba(224,224,224,1) 0%,rgba(198,198,198,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#c6c6c6',GradientType=0 );
}
.blackboard-top{
	position:absolute;
	height:4px;
	left:1px;
	right:1px;
	top:-7px;
	background: rgb(165,149,132);
	background: -moz-linear-gradient(left,  rgba(165,149,132,1) 0%, rgba(194,178,158,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(165,149,132,1) 0%,rgba(194,178,158,1) 100%);
	background: linear-gradient(to right,  rgba(165,149,132,1) 0%,rgba(194,178,158,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a59584', endColorstr='#c2b29e',GradientType=1 );
}
.blackboard-top:before{
	content:'';
	width:3px;
	height:3px;
	background:#898886;
	position:absolute;
	z-index:-1;
	top:1px;
	left:-7px;
}
.blackboard-top:after{
	content:'';
	width:3px;
	height:3px;
	background:#898886;
	position:absolute;
	z-index:-1;
	top:1px;
	right:-7px;
}
.blackboard-bottom{
	position:absolute;
	z-index:1;
	bottom:-10px;
	left:-9px;
	right:-9px;
	height:5px;
	background: rgb(188,187,187);
	background: -moz-linear-gradient(top,  rgba(188,187,187,1) 0%, rgba(106,103,102,1) 66%);
	background: -webkit-linear-gradient(top,  rgba(188,187,187,1) 0%,rgba(106,103,102,1) 66%);
	background: linear-gradient(to bottom,  rgba(188,187,187,1) 0%,rgba(106,103,102,1) 66%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbbbb', endColorstr='#6a6766',GradientType=0 );
}
.blackboard-bottom:before{
	content:'';
	width:15px;
	height:8px;
	background:#4b4b4a;
	position:absolute;
	z-index:-1;
	bottom:0;
	left:0;
	border-radius:2px 2px 0 0;
} 
.blackboard-bottom:after{
	content:'';
	width:15px;
	height:8px;
	background:#4b4b4a;
	position:absolute;
	z-index:-1;
	bottom:0;
	right:0;
	border-radius:2px 2px 0 0;
}
.blackboard-box{
	width:103px;
	height:130px;
	display:inline-block;
	vertical-align:top;
	margin:0 10px 15px 10px;
}
.blackboard-box-icon{
	width: 85px;
    height: 85px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    margin-bottom: 15px;
}
.blackboard-box-icon img {
    max-width: 40px;
    max-height: 40px;
}
.blackboard-box-icon>a{
	width: 85px;
    height: 85px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.blackboard-box-icon:after {
    content: '';
    width: 85px;
    height: 85px;
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    background: url(../images/elipse-cat.png) no-repeat left top;
    background-size: cover;
    transition: .3s all;
}
.blackboard-box:hover .blackboard-box-icon:after {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.blackboard-box-name a{
	font-size:12px;
	color:#424c9c;
	font-weight:bold;
	text-transform:uppercase;
	text-decoration:none;
}
.top-img{
    max-width:1920px;
    margin:0 auto;
    padding:90px 0 60px 0;
    background:url(../images/top-img.jpg) no-repeat center top;
    background-size:cover;
}
.top-img-block{
    max-width:544px;
    padding:0 20px;
}
.configurator-box{
    width:316px;
    height:316px;
    text-align:center;
    background:url(../images/configurator-bg.png) repeat center top;
    margin:0 auto;
    position:relative;
    z-index:0;
    text-transform:uppercase;
    font-weight:bold;
    font-size:30px;
    line-height:34px;
    color:#2a1770;
    border-radius:100%;
}
.configurator-box-cont{
    padding:90px 40px 0 40px;
}
.configurator-box-cont p{
    margin-bottom:15px;
}
.configurator-box:after{
    content:'';
    width:352px;
    height:352px;
    display:block;
    position:absolute;
    z-index:-1;
    left:-18px;
    top:-18px;
    background:url(../images/elipse.png) no-repeat left top;
    transition: .3s all;  /* rotate gradually instead of instantly */
}
.configurator-box:hover:after{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.configurator-box-cont .button{
    margin:0 auto;
}
a.button{
    line-height:44px;
}
.button{
    width:187px;
    height:44px;
    display:block;
    text-decoration:none;
    font-size:18px;
    font-weight:bold;
    text-transform:none;
    color:#000;
    text-align:center;
    border:0;
    border-bottom:3px solid #b26303;
    background: #ee8615; /* Old browsers */
    background: -moz-linear-gradient(top, #ee8615 0%, #ffd83e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ee8615 0%,#ffd83e 100%); /* Chrome10-25,Safari5.1-6 */
    background: url(../images/btn-shadow.png) right top no-repeat, linear-gradient(to bottom, #ee8615 0%,#ffd83e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee8615', endColorstr='#ffd83e',GradientType=0 ); /* IE6-9 */
    border-radius:4px;
	cursor: pointer;
}
.button:hover{
	box-shadow: 0 0 1px 1px #d9d9d9;
    background: #ffd83e; /* Old browsers */
    background: -moz-linear-gradient(top, #ffd83e 0%, #ee8615 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffd83e 0%,#ee8615 100%); /* Chrome10-25,Safari5.1-6 */
    background: url(../images/btn-shadow.png) right top no-repeat, linear-gradient(to bottom, #ffd83e 0%,#ee8615 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd83e', endColorstr='#ee8615',GradientType=0 ); /* IE6-9 */
}
.top-info{
    padding:40px 0;
}
.top-info-name{
    text-align:center;
    color:#3f67c0;
    font-size:28px;
    font-weight:bold;
    margin-bottom:20px;
}
.top-cont{
    overflow:hidden;
    padding:0 45px;
}
.top-cont-left{
    width:445px;
    float:left;
}
.top-cont-right{
    margin-left:445px;
    color:#000;
    font-size:23px;
    padding-top:30px;
}
.sitebox{
    padding:20px 0;
    background:#f7f7f4 url(../images/site-bg.png) repeat left top;
}
.block-box{
    margin-bottom:20px;
}
.block-box:last-child{
    margin-bottom:0;
}
.block-box-title{
    color:#3f67c0;
    font-size:28px;
    font-weight:bold;
    padding-bottom:3px;
    border-bottom:1px solid #3f67c0;
    position:relative;
    z-index:0;
    margin-bottom:30px;
}
/* .block-box-title:after,
.block-box-title:before{
    content:'';
    width:100%;
    height:1px;
    display:block;
    background:#3f67c0;
    position:absolute;
    z-index:-1;
    bottom:-1px;
}
.block-box-title:after{
    left:-100%;
}
.block-box-title:before{
    right:-100%;
} */
.block-box-title p{
    display:inline-block;
    position:relative;
    z-index:0;
}
.block-box-title span,
.block-box-title h1.h1-span{
    font-size:22px;
    color:#7ac3ee;
    font-weight:300;
    display: contents;
}
h2.old-h1{
    font-size: 2em;	
}
.block-box-title:after {
    content: '';
    width: 250px;
    height: 4px;
    display: block;
    background: #3f67c0;
    position: absolute;
    bottom: -4px;
}
.carousel-box{
    padding:0 35px;
}
.product-box{
    width:255px;
    height:310px;
    position:relative;
    z-index:0;
    background:#7ac3ee;
    margin:0 auto;
}
.product-box-img{
    width:255px;
    height:156px;
    overflow:hidden;
    background:#FFF;
    margin-bottom:10px;
}
.product-box-img a{
    width:255px;
    height:156px;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
.product-box-img img{
    max-width:255px;
    max-height:156px;
}
.product-box-name{
    padding:0 5px;
    height:50px;
    overflow:hidden;
    text-align:center;
    line-height:16px;
    color:#FFF;
}
.product-box-name a{
    font-size:17px;
    color:#FFF;
    text-decoration:none;
    font-weight:bold;
}
.product-box .prod-isset{
text-align: center;
color: #fff;
font-style: italic;
}
.product-box-price{
    text-align:center;
    color:#fce51f;
    font-weight:bold;
    font-size:20px;
    line-height:20px;
}
.product-box-button{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
}
.product-button{
    width:152px;
    height:27px;
    line-height:30px;
    display:block;
    text-decoration:none;
    text-align:center;
    color:#FFF;
    font-size:14px;
	font-weight: bold;
    margin:0 auto;
   /* background:url(../images/product-btn.png) no-repeat center top;*/
	background-color: #3f67c0;
}
.product-button:hover{
   /* background:url(../images/product-btn-hover.png) no-repeat center top;*/
	background-color: #ffff66;
	color: black;
}
.products-cat{
    padding:40px 0;
    text-align:center;
}
.product-cat-box{
    width:170px;
    height:230px;
    display:inline-block;
    vertical-align:top;
    margin:0 20px;
}
.product-cat-icon{
    width:120px;
    height:120px;
    position:relative;
    z-index:0;
    margin:0 auto;
    margin-bottom:25px;
}
.product-cat-icon img{
    max-width:61px;
    max-height:61px;
}
.product-cat-icon a{
    width:120px;
    height:120px;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
.product-cat-icon:after{
    content:'';
    width:120px;
    height:120px;
    display:block;
    position:absolute;
    z-index:-1;
    left:0;
    top:0;
    background:url(../images/elipse-cat.png) no-repeat left top;
    background-size:cover;
    transition: .3s all;  /* rotate gradually instead of instantly */
}
.product-cat-box:hover .product-cat-icon:after{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.product-cat-name{
    text-align:center;
}
.product-cat-name a{
    text-transform:uppercase;
    text-decoration:none;
    
    font-size:20px;
   /* font-family: 'arialnarrow',sans-serif;*/
    font-weight:bold;

color: #3f67c0;
}
.product-cat-name a:hover{
    color:#78c1ea;
}
.right-bar-cont .text-boxtv{
    width: 64%;
	float: left;
}
.right-bar-cont .dostv{
    width: 29%;
	float: right;
	background: #7ac3ee;
	box-sizing:border-box;
padding: 10px 5px 10px 28px;
font-size: 16px;
color: #fff;

}
.dostv1{
margin-bottom:15px;
}
.dostv1 p ,.dostv2 p{
margin-top:5px;
}
.dostv1  li, .dostv2 li{
margin-top:5px;
list-style: outside;
list-style-position: inherit;
}
.text-box, .text-boxtv{
    padding:20px 0;
}
.text-box p, .text-boxtv p{
    margin-bottom:25px;
	text-align: justify;
}
.cab-about  p{
   
	text-align: justify;
}
.text-box p:last-child , .text-boxtv p:last-child{
    margin-bottom:0;
}
.text-box ul, .text-boxtv ul{
    list-style:disc;
    margin:0 0 20px 25px;
}
.text-box ol, .text-boxtv ol{
    margin:0 0 20px 25px;
}
.benefit-name{
    text-align:center;
    font-weight:bold;
    font-size:28px;
    color:#3f67c0;
    margin-bottom:40px;
}
.benefits-cont{
    text-align:center;
    padding-bottom:20px;
}
.benefit-box{
    width:245px;
    height:350px;
    margin:0 10px;
    display:inline-block;
    vertical-align:top;
}
.benefit-icon{
    width:120px;
    height:120px;
    margin:0 auto;
    margin-bottom:25px;
    position:relative;
    z-index:0;
}
.benefit-icon span{
    width:120px;
    height:120px;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
.benefit-icon:after{
    content:'';
    width:120px;
    height:120px;
    display:block;
    position:absolute;
    z-index:-1;
    left:0;
    top:0;
    background:url(../images/elipse-cat.png) no-repeat left top;
    background-size:cover;
    transition: .3s all;  /* rotate gradually instead of instantly */
}
.benefit-box:hover .benefit-icon:after{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.benefit-text{
    text-align:center;
    color:#000;
    font-size:18px;
}
.bot-bar{
    background:#002060;
    color:#FFF;
    font-size:18px;
    padding:10px 0 50px 0;
    overflow:hidden;
}
.foot-left{
    float:left;
}
.foot-right{
    margin-left:430px;
    padding-top:10px;
    overflow:hidden;
}
.foot-box{
    width:50%;
    float:left;
    position:relative;
    z-index:0;
}
.foot-box:after{
    content:'';
    width:1px;
    height:100%;
    display:block;
    position:absolute;
    z-index:-1;
    left:0;
    top:0;
    background:#003172;
}
.bot-address{
    max-width:210px;
    min-height:85px;
    padding:5px 0 5px 45px;
    margin:0 auto;
    line-height:22px;
    background:url(../images/icons/location-icon.png) no-repeat left top;
}
.bot-tel{
    max-width:210px;
    min-height:89px;
    padding:5px 0 5px 45px;
    margin:0 auto;
    line-height:22px;
    background:url(../images/icons/fax-icon.png) no-repeat left top;
}
.bot-tel a{
    text-decoration:none;
    color:#FFF;
    font-size:18px;
}
.bot-tel a:hover{
    color:#7cbde3;
}
.copy-box{
    font-size:14px;
    color:#3f67c0;
    font-family: 'arialnarrow',sans-serif;
}
/* inner page */
.main-content{
	padding-bottom:20px;
}
.left-bar{
	width:290px;
	float:left;
}
.left-block{
	margin-bottom:30px;
}
.left-block:last-child{
	margin-bottom:0;
}
.left-block-title{
	background:#7ac3ee;
	color:#FFF;
    font-weight:bold;
	font-size:28px;
	padding:10px;
    position:relative;
    z-index:1;
    border-bottom:1px solid #3f67c0;
}
.left-block-title:after{
    content:'';
    width:100px;
    height:4px;
    display:block;
    position:absolute;
    z-index:-1;
    left:0;
    bottom:-4px;
    background:#3f67c0;
}
.left-nav>ul>li>a{
	padding:12px 10px;
    display:block;
    background:#FFF;
    font-size:18px;
    color:#3f67c0;
    font-weight:bold;
    text-decoration:none;
    border:1px solid #e1e1e0;
    border-top:0;
}
.left-nav>ul>li.active>a,
.left-nav>ul>li>a:hover{
    background:#3f67c0;
    color:#FFF;
    border-color:#3f67c0;
}
.left-nav ul ul{
    padding:10px;
    border-bottom:1px solid #e1e1e0;
    display:none;
}
.left-nav ul ul ul{
	padding:10px 10px 0 15px;
    border-bottom:0;
}
.left-nav ul li.active>ul{
    display:block;
}
.left-nav ul ul ul ul{
    display:none !important;
}
.left-nav ul li li{
    margin-bottom:10px;
}
.left-nav ul li li a{
    padding-left:20px;
    display:block;
    font-size:14px;
    text-decoration:none;
    background:url(../images/nav-arrow.png) no-repeat left 4px;
}
.left-nav ul li li.active>a,
.left-nav ul li li a:hover{
    color:#7ac3ee;
    background:url(../images/nav-arrow.png) no-repeat left 4px;
}
.left-cat img{
	max-width:25px;
    max-height:25px;
	position:absolute;
    z-index:0;
    top:50%;
    margin-top:-10px;
}
.left-cat ul li span{
	display:block;
	margin-left:35px;
	padding-top:5px;
}
.left-cat ul li a{
    display:block;
	font-size:18px;
	line-height:18px;
    padding:10px 10px;
	text-decoration:none;
	color:#3f67c0;
	font-weight:bold;
    border:1px solid #e1e1e0;
    border-top:0;
    background:#FFF;
    position:relative;
    z-index:0;
}
.left-cat ul li.active,
.left-cat ul li a:hover{
	background:#3f67c0;
    color:#FFF;
    border-color:#3f67c0;
}
.right-bar{
	width:100%;
	margin-left:-310px;
	float:right;
}
.right-bar-cont{
	margin-left:310px;
	padding-top:15px;
}
.catalog-box{
    width:266px;
    height:310px;
    background:#FFF;
    border:1px solid #e5e5e5;
    position:relative;
    z-index:0;
    display:inline-block;
    vertical-align:top;
    margin:7px 5px;
}
.catalog-box-img{
    width:266px;
    height:163px;
    overflow:hidden;
    background:#FFF;
    border-bottom:1px solid #d0ced3;
    margin-bottom:14px;
}
.catalog-box-img a{
    width:266px;
    height:163px;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
.catalog-box-img img{
    max-width:266px;
    max-height:163px;
}
.catalog-box-name{
    padding:0 5px;
    height:50px;
    overflow:hidden;
    text-align:center;
    line-height:16px;
    font-weight:bold;
}
.catalog-box-name a{
    font-size:17px;
    color:#000;
    text-decoration:none;
    font-weight:bold;
}
.catalog-box-name a:hover{
    color:#47aae5;
}
.catalog-box-price{
    text-align:center;
    color:#47aae5;
    font-weight:bold;
    font-size:20px;
    line-height:20px;
}
.catalog-box  .prod-isset{
text-align:center;
color:#47aae5;
font-style: italic;
}
.pagination-box{
	text-align:center;
	padding:15px 0;
}
.pagination-box ul li{
	height:30px;
	display:inline-block;
	vertical-align:top;
    margin:0 7px;
}
.pagination-box ul li a{
	height:30px;
	line-height:30px;
	color:#000;
	text-decoration:none;
	font-size:18px;
	font-weight:500;
	display:inline-block;
	vertical-align:top;
}
.pagination-box ul li a:hover{
	color:#47aae5;
}
.pagination-box ul li.active>a{
	color:#47aae5;
    font-weight:bold;
}
.product-card{
    margin-bottom:20px;
}
.product-card-left{
    width:430px;
    float:left;
}
.product-img-thumb{
    overflow:hidden;
}
.product-card-right{
    margin-left:445px;
    padding-top:15px;
}
.product-name,
.product-name h1{
	font-size:26px;
    font-weight:bold;
    color:#3f67c0;
    margin-bottom:15px;
}
.product-card-price{
    font-size:20px;
    line-height:24px;
    color:#47aae5;
    font-weight:bold;
    margin-bottom:15px;
}
.product-card-price span{
    font-size:40px;
}
.product-card-text{
    font-size:16px;
    line-height:20px;
    margin-bottom:20px;
}
.product-card-text p{
    margin-bottom:20px;
}
.product-card-text b{
    font-size:18px;
}
.right-bar .carousel-box{
    padding:0 20px 30px 20px;
}
.carousel-products .catalog-box{
    display:block;
    margin:0 auto;
}
.carousel-configurator .product-cat-box{
    margin:0 auto;
    display:block;
}
.carousel-configurator .product-cat-icon,
.carousel-configurator .product-cat-icon a,
.carousel-configurator .product-cat-icon:after{
    width:150px;
    height:150px;
}
.carousel-configurator .product-cat-icon img{
    max-width:77px;
    max-height:none;
}
.breadcrumbs{
    margin-bottom:20px;
    font-size:14px;
}
.breadcrumbs ul li{
    display:inline-block;
    vertical-align:top;
    color:#3f67c0;
}
.breadcrumbs ul li:first-child:before{
    display:none;
}
.breadcrumbs ul li:before{
    content:'';
    width:5px;
    height:5px;
    display:inline-block;
    vertical-align:top;
    position:relative;
    top:6px;
    margin:0 5px;
    background:url(../images/breadcrumbs-black.png) no-repeat left top;
}
.breadcrumbs ul li:last-child:before{
    background:url(../images/breadcrumbs-blue.png)
}
.breadcrumbs ul li a{
    color:#000;
    text-decoration:none;
    font-size:14px;
}
.breadcrumbs ul li a:hover{
    text-decoration:underline;
}
.clear{
    width:100%;
	height:0;
	font-size:1px;
	clear:both;
}
/*Р         Р       Р      Р     Р   Р  РІР‚ Р   Р Р†Р вЂљРЎв„ўР  Р вЂ Р Р†Р вЂљРЎвЂєР Р†Р вЂљРІР‚СљР      Р     Р   Р  РІР‚ Р   Р Р†Р вЂљРЎв„ў Р      Р    Р   Р Р†Р вЂљ Р    Р  Р вЂ Р  РІР‚С™Р РЋРІвЂћСћР   Р  Р вЂ№Р  Р вЂ Р Р†Р вЂљРЎвЂєР РЋРЎвЂєР     Р    Р   Р Р†Р вЂљРІвЂћвЂ“Р    Р   Р  РІР‚в„–Р   Р  Р вЂ№Р  Р вЂ Р Р†Р вЂљРЎвЂєР РЋРЎвЂєР         Р       Р      Р     Р   Р  РІР‚ Р   Р Р†Р вЂљРЎв„ўР  Р вЂ Р Р†Р вЂљРЎвЂєР Р†Р вЂљРІР‚СљР      Р     Р   Р  РІР‚ Р   Р Р†Р вЂљРЎв„ў Р      Р    Р   Р Р†Р вЂљ Р    Р  Р вЂ Р  РІР‚С™Р РЋРІвЂћСћР   Р  Р вЂ№Р  Р вЂ Р Р†Р вЂљРЎвЂєР РЋРЎвЂєР     Р    Р   Р Р†Р вЂљРІвЂћвЂ“Р    Р   Р  РІР‚в„–Р   Р  РІР‚ Р   Р Р†Р вЂљРЎв„ўР  Р Р‹Р Р†Р вЂљРЎСљР        Р       Р      Р    Р   Р Р†Р вЂљ Р    Р  Р вЂ Р  РІР‚С™Р РЋРІвЂћСћР   Р  РІР‚ Р  Р вЂ Р  РІР‚С™Р РЋРІР‚С”Р  Р вЂ Р  РІР‚С™Р Р†Р вЂљРЎС™Р        Р      Р     Р   Р  РІР‚ Р   Р Р†Р вЂљРЎв„ў Р      Р    Р   Р Р†Р вЂљ Р    Р  Р вЂ Р  РІР‚С™Р РЋРІвЂћСћР   Р  Р вЂ№Р  Р вЂ Р Р†Р вЂљРЎвЂєР РЋРЎвЂєР     Р    Р   Р Р†Р вЂљРІвЂћвЂ“Р    Р   Р Р†Р вЂљ Р   Р  РІР‚ Р   Р Р†Р вЂљРЎв„ўР  Р Р‹Р Р†Р вЂљРЎвЂќР   Р  Р вЂ№Р  Р Р‹Р Р†Р вЂљРЎвЂќР         Р       Р     Р    Р  Р вЂ Р  РІР‚С™ Р     Р   Р  РІР‚ Р   Р Р†Р вЂљРЎв„ўР  Р Р‹Р Р†РІР‚С›РЎС›Р    Р   Р Р†Р вЂљ Р   Р  РІР‚ Р   Р Р†Р вЂљРЎв„ўР  Р Р‹Р Р†Р вЂљРЎвЂќР   Р  Р вЂ№Р  Р Р‹Р Р†Р вЂљРЎвЂќР      Р    Р   Р Р†Р вЂљ Р    Р  Р вЂ Р  РІР‚С™Р РЋРІвЂћСћР   Р  РІР‚ Р  Р вЂ Р  РІР‚С™Р РЋРІР‚С”Р  Р Р‹Р РЋРІР‚С”Р     Р   Р  РІР‚ Р   Р Р†Р вЂљРЎв„ўР  Р вЂ Р Р†Р вЂљРЎвЂєР РЋРЎвЂєР    Р  Р вЂ Р  РІР‚С™Р Р†РІР‚С›РЎС›Р   Р Р†Р вЂљРІвЂћСћР  РІР‚в„ўР вЂ™Р’В·Р         Р       Р      Р     Р   Р  РІР‚ Р   Р Р†Р вЂљРЎв„ўР  Р вЂ Р Р†Р вЂљРЎвЂєР Р†Р вЂљРІР‚СљР      Р     Р   Р  РІР‚ Р   Р Р†Р вЂљРЎв„ў Р      Р    Р   Р Р†Р вЂљ Р    Р  Р вЂ Р  РІР‚С™Р РЋРІвЂћСћР   Р  Р вЂ№Р  Р вЂ Р Р†Р вЂљРЎвЂєР РЋРЎвЂєР     Р   Р  РІР‚ Р   Р Р†Р вЂљРЎв„ўР  Р вЂ Р Р†Р вЂљРЎвЂєР РЋРЎвЂєР    Р  Р вЂ Р  РІР‚С™Р Р†РІР‚С›РЎС›Р   Р Р†Р вЂљРІвЂћСћР  РІР‚в„ўР вЂ™Р’ВР         Р        Р      Р     Р   Р  РІР‚ Р   Р Р†Р вЂљРЎв„ў Р      Р    Р   Р Р†Р вЂљ Р    Р  Р вЂ Р  РІР‚С™Р РЋРІвЂћСћР   Р  Р вЂ№Р  Р вЂ Р Р†Р вЂљРЎвЂєР РЋРЎвЂєР     Р   Р  РІР‚ Р   Р Р†Р вЂљРЎв„ўР  Р вЂ Р Р†Р вЂљРЎвЂєР РЋРЎвЂєР    Р  Р вЂ Р  РІР‚С™Р Р†РІР‚С›РЎС›Р   Р Р†Р вЂљРІвЂћСћР  РІР‚в„ўР вЂ™Р’В¦Р         Р       Р     Р    Р  Р вЂ Р  РІР‚С™ Р     Р   Р  РІР‚ Р   Р Р†Р вЂљРЎв„ўР  Р Р‹Р Р†РІР‚С›РЎС›Р    Р   Р Р†Р вЂљ Р   Р  РІР‚ Р   Р Р†Р вЂљРЎв„ўР  Р Р‹Р Р†Р вЂљРЎвЂќР   Р  Р вЂ№Р  Р Р‹Р Р†Р вЂљРЎвЂќР      Р    Р   Р Р†Р вЂљ Р    Р  Р вЂ Р  РІР‚С™Р РЋРІвЂћСћР   Р  РІР‚ Р  Р вЂ Р  РІР‚С™Р РЋРІР‚С”Р  Р Р‹Р РЋРІР‚С”Р     Р   Р  РІР‚ Р   Р Р†Р вЂљРЎв„ўР  Р вЂ Р Р†Р вЂљРЎвЂєР РЋРЎвЂєР    Р  Р вЂ Р  РІР‚С™Р Р†РІР‚С›РЎС›Р   Р Р†Р вЂљРІвЂћСћР  РІР‚в„ўР вЂ™Р’В°?*/
.mod-block h3{color: #ff6600;}
.prod-tab{
	display:table;
	width:100%;
	margin:15px 0 50px 0;
}
.basket-tab{
	display:table;
	width:100%;
}
.prod-tab-head{
    display:table-row;	 
}
.prod-tab-head>div{
	padding:10px 0;
    display:table-cell;
    vertical-align:middle;
    font-size:18px !important;
    color:#000 !important;
    font-weight:500 !important;
}
.prod-tab-head .prod-tab-sum p{
	margin-left:25px;
}
.prod-tab-box{
    /*background:#FFF;*/
    overflow:hidden;
    font-weight:500;
    color:#000;
    font-size:18px;
	display:table-row;
	border:1px solid #000;
}
.prod-tab-box>div{
    display:table-cell;
	vertical-align:middle;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
}
.prod-tab-box:hover{
    background:#f7f7f7;
}
.prod-tab-box:hover>div{
	border-color:#dfdfdf;
}
.prod-tab-clear{
    width:40px;
}
.clear-button{
    width:20px;
    height:20px;
    display:block;
    line-height:14px;
    text-align:center;
    color:red;
    text-decoration:none;
    font-family:Tahoma, sans-serif;
    font-size:22px;
    display:block;
    border:2px solid red;
    border-radius:100%;
	cursor: pointer;
	margin:0 auto;
}
.clear-button:hover{
    background:red;
    border-color:red;
    color:#FFF;
}
.prod-tab-img{
    width:120px;
    text-align:center;
}
.prod-tab-img a{
    width:100px;
    height:65px;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    overflow:hidden;
}
.prod-tab-img img{
    max-width:75px;
    max-height:65px;
}
.prod-tab-name{
    width:300px;
    color:#000;
    font-size:16px;
    font-weight:500;
}
.prod-tab-name a{
    color:#000;
    font-size:16px;
    font-weight:500;
    text-decoration:none;
}
.prod-tab-name a:hover{
    text-decoration:underline;
}
.prod-tab-count{
    width:130px;
	text-align:center;
}
.prod-count{
    width:125px;
    overflow:hidden;
    margin:0 auto;
}
.minus{
    width:20px;
    height:20px;
    line-height:18px;
    text-align:center;
    display:inline-block;
    color:#FFF;
    text-decoration:none;
    font-family:Arial, sans-serif;
    font-size:18px;
    border:2px solid #ff6600;
    background:#ff6600;
    cursor:pointer;
    margin-top:15px;
    border-radius:100%;
}
.plus{
    width:20px;
    height:20px;
    line-height:20px;
    text-align:center;
    display:inline-block;
    color:#FFF;
    text-decoration:none;
    font-family:Arial, sans-serif;
    font-size:18px;
    border:2px solid #ff6600;
    background:#ff6600;
    cursor:pointer;
    margin-top:15px;
    border-radius:100%;
}
.plus:hover,.minus:hover{
    background:#000;
    border-color:#000;
    color:#FFF;
}
.input-count{
    width:40px;
    height:40px;
    padding:5px;
    text-align:center;
    line-height:40px;
    display:inline-block;
    background:#FFF;
    font-size:18px;
    color:#000;
    border:1px solid #CCC;
}
.prod-tab-price{
    width:165px;
    font-size:18px;
    color:#ff6600;
    text-align:center;
}
.prod-tab-sum{
	width:200px;
    font-size:18px;
    font-weight:500;
    color:#000;
    text-align:center;
}
.firstInput{
background:none;
    font-size:18px;
    font-weight:500;
    color:#000;
    text-align:right;
	width: 100px;
border: 0;
}
.firstInput:hover{
background:none;
}
.order-sum{
    margin:20px 0 40px 0;
    text-align:right;
    font-size:18px;
}
.order-sum b{
    font-size:30px;
}
.order-btn-box{
    overflow:hidden;
    padding:20px 0 40px 0;
}
.order-btn-left{
    float:left;
}
.order-btn-right{
    float:right;
}
.order-details-title1{
margin-top: 10px;
margin-bottom: 5px;
}
.input-modal {
    width: 91%;
    height: 41px;
    line-height: 41px;
    padding: 2px 4%;
    border: 2px solid #009fe3;
    margin: 10px 0;
    font-size: 18px;
    color: #333;
    border-radius: 25px;
}
.textarea-modal {
    width: 91%;
    height: 150px;
    line-height: 41px;
    padding: 2px 4%;
    border: 2px solid #009fe3;
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
    border-radius: 25px;
}
.send-button {
    width: 300px;
    height: 41px;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    background: #ff6600;
    cursor: pointer;
    font-family: 'Intro';
    border: 2px solid #ff6600;
    display: inline-block;
    border-radius: 25px;
    margin-top: 10px;
}
.cab-about {
   /* width: 460px;
    float: right;*/
    line-height: 24px;
}
.cab-img {
    width: 380px;
    float: left;
	margin: 20px;
}
.modal-box{
    max-width:420px;
    padding:45px 60px;
    background:#FFF;
    position:relative;
    z-index:5;
    margin:20px auto;
    color:#333;
    font-size:22px;
    text-align:center;
    border:10px solid #ff6600;
    box-shadow: 0 0 5px #888;
}
.modal-box-close{
    width:30px;
    height:30px;
    line-height:30px;
    color:#FFF;
    font-size:18px;
    position:absolute;
    right:-5px;
    top:-5px;
    text-align:center;
    cursor:pointer;
    text-transform:uppercase;
    font-family: 'Intro';
    background:#ff6600;
}
.modal-box h3{
    font-size:30px;
    line-height:30px;
    font-weight:500;
    margin-bottom:25px;
}
.modal-form{
    padding:30px 0;
}
.input-modal{
    width:91%;
    height:41px;
    line-height:41px;
    padding:2px 4%;
    border:2px solid #ff6600;
    margin:10px 0;
    font-size:18px;
    color:#333;
    border-radius:25px;
}
.textarea-modal{
    width:91%;
    height:150px;
    line-height:41px;
    padding:2px 4%;
    border:2px solid #ff6600;
    margin-bottom:10px;
    font-size:18px;
    color:#333;
    border-radius:25px;
}
.ajaxSearch_paging {display: block;}
.cab-about ul{list-style: disc; padding-left: 25px;}
.top-cart img{
	display:none;
}
.carousel-block{
    width:100%;
    min-height:655px;
    position:relative;
    z-index:0;
    background: #fff;
	background-size:auto;
}
.carousel-box1{
    max-width:830px;
    padding:55px 115px;
    margin:0 auto;
    position:relative;
    z-index:1;
	box-sizing:border-box;
}
.carousel-product{
    max-width:800px;
    /* min-height:345px; */
}
.carousel-product .carousel-prod-text img{
	height:auto;
}
.carousel-prod-img{
    width:690px;
    height:345px;
    float:left;
}
.carousel-prod-img img{
    max-width:690px;
    max-height:345px;
}
.carousel-prod-img span{
    width:690px;
    height:345px;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
.carousel-prod-text{
    line-height:21px;
    margin-bottom:5px;
}
.prev{
    width:16px;
    height:30px;
    position:absolute;
    z-index:3;
    cursor:pointer;
    left:5px;
    top:200px;
	padding: 6px;
    background:url(../images/prev-next.png) no-repeat left top;
}
.next{
    width:16px;
    height:30px;
    position:absolute;
    z-index:3;
    cursor:pointer;
    right:5px;
    top:200px;
	padding: 6px;
    background:url(../images/prev-next.png) no-repeat right top;
}
.carousel-box1 ul{
border: 0;
outline: none;
margin: 0;
padding: 0;
}
.sltit{
text-align:center;
font-size: 22px;
font-weight: bold;
}
/*
.proect-box{
    width:820px;
    height:650px;
    position:relative;
    z-index:0;
    margin:0 auto;
	padding:0 5px;
}
.proect-box-img{
    width:555px;
    height:456px;
    overflow:hidden;
    background:#FFF;
    margin-bottom:10px;
}
.proect-box-img a{
    width:555px;
    height:456px;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
.proect-box-img img{
    max-width:555px;
    max-height:456px;
}
.proect-box-name{
    padding:5px;
    height:50px;
    overflow:hidden;
    text-align:center;
    line-height:16px;
 }
.proect-box-name a{
    font-size:17px;
    text-decoration:none;
    font-weight:bold;
}
.proect-box-content{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
	text-align: justify;
	padding: 5px 10px;
}*/
.social-nav-bot{
 float: right;
    margin-top: 15px;
    vertical-align: top;
    position: absolute;
    right: 0px;
    top: 0px;
}
.social-nav-bot1{
margin-top: 5px;
}
.article-box {
    padding-bottom: 40px;
    clear: left;
}
.article-img {
    width: 204px;
    height: 153px;
    float: left;
    overflow: hidden;
}
.article-img img{
    height: 100%;
}
.article-description {
    margin-left: 220px;
    font-weight: 300;
    font-size: 14px;
    color: #000;
    text-align: left;
}
.article-date {
    color: #000;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5px;
}
.article-box-title {
    padding-right: 20px;
    font-weight: 500;
    color: #000;
    font-size: 18px;
    margin-bottom: 10px;
}
/*search*/
#search-result{
	position: absolute;
	top:30px;
	left:0;
	right:0;
	padding-top:10px;
}
.search-inner{
background: #fff;
}
.search-inner .errorsearch{
font-size:12px;
}
.search_item{
font-size:12px;
}
.search_item a{
text-transform: uppercase;
}
.search-box1{
width:100%;
max-height: 60px;
margin:0;
padding:3px 4px;
background: #fff;
box-sizing:border-box;
}
.search-img{
float:left;
}
.search-name1{
padding-top: 10px;
padding-left: 50px;
font-size:12px;
}
.search-img img{
max-height: 40px;
max-width: 40px;
}
.headtitle1{
color:#271174;
}
.headtitle2{
color:#0083BA;
}
/* reviews */
.review-bar{
	padding:35px 0 50px 0;
	position:relative;
	z-index:0;
	margin-bottom:30px;
}
.review-bar:before{
	content:'';
	height:9px;
	position:absolute;
	z-index:-1;
	left:0;
	right:0;
	top:0;
	background: rgb(243,243,243);
	background: -moz-linear-gradient(top, rgba(243,243,243,1) 0%, rgba(251,251,251,1) 100%);
	background: -webkit-linear-gradient(top, rgba(243,243,243,1) 0%,rgba(251,251,251,1) 100%);
	background: linear-gradient(to bottom, rgba(243,243,243,1) 0%,rgba(251,251,251,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#fbfbfb',GradientType=0 );
}
.review-bar:after{
	content:'';
	height:10px;
	position:absolute;
	z-index:-1;
	left:0;
	right:0;
	bottom:0;
	background: rgb(249,249,249);
	background: -moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(240,240,240,1) 100%);
	background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(240,240,240,1) 100%);
	background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(240,240,240,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f0f0f0',GradientType=0 )
}
.review-bar .carousel-box{
	padding-top:30px;
}
.review-box{
	max-width:445px;
	min-height:184px;
	padding:0 40px;
	font-size:17px;
	margin:0 auto;
	position:relative;
	z-index:0;
}
.review-box:before{
	content:'';
	width:32px;
	height:29px;
	position:absolute;
	z-index:-1;
	left:0;
	top:3px;
	background:url(../images/icons/quote.png) no-repeat right top;
}
.review-box:after{
	content:'';
	width:28px;
	height:184px;
	position:absolute;
	z-index:-1;
	right:-20px;
	bottom:0;
	top:0;
	opacity:0.2;
	background:url(../images/icons/quote-line.png) no-repeat left top;
	background-size:cover;
}
.reviews-bot{
	color:#3f67c0;
	font-style:italic;
}
.review-box p{
	margin-bottom:20px;
}
.review-box p:last-child{
	margin-bottom:0;
}
.prod-art{
color: #3f67c0;
margin-bottom:10px;
}
.prod-isset .issetyes, .prod-isset .issetno{
font-size: 14px;
padding-top: 4px;
}
.prod-isset2{
margin-bottom:10px;
}
.prod-isset2  .issetyes{
color: #47aae5;
font-style: italic;
}
.prod-isset2  .issetno{
color: red;
font-style: italic;
}
.stikr{
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
}
.bot-menu{
padding-left: 10%;
background: #3f67c0;
}
.blog-bar:after{
	content:'';
	display:table;
	clear:both;
}
.blog-bar>.blog-box{
	width:33.3333%;
	float:left;
}
.blog-box>a{
	width:100%;
	height:244px;
	display:block;
	position:relative;
	z-index:0;
	text-decoration:none;
	color:#FFF;
	font-size:18px; 
}
.blog-box-name{
	width:100%;
	height:36px;
	position:absolute;
	z-index:1;
	left:0;
	right:0;
	bottom:0;
	padding:10px;
	box-sizing:border-box;
	transition: all 0.4s ease-out;
	background:rgba(000,000,000,0.6);
}
.blog-box>a:hover .blog-box-name{
	height:100%;
}
.blog-box>a:hover .blog-box-name>span{
	width:100%;
	height:244px;
	display:table-cell;
	vertical-align:middle;
}
.text-blog{
padding: 20px;
background: #fff;
}
.text-blog p, .text-blog li, .text-blog h1, .text-blog h2, .text-blog h3, .text-blog h4, .text-blog h5, .text-blog h6{
margin: 10px 0;
text-align: justify;
}
/**/
#comments{
	margin-top: 15px;
}
#rating{
	display: none;	
}
.myraiting{
    width: 100px;
    height: 20px;
	float: left;
}
.myraitingmargin{
    margin-top: -10px;
    margin-bottom: 10px;
}
.myraiting5{
	background: transparent url(/assets/images/rating/rating.png) no-repeat 0 0;
	background-size: cover;
}
.myraiting4{
	background: transparent url(/assets/images/rating/rating.png) no-repeat 0 25%;
	background-size: cover;
}
.myraiting3{
	background: transparent url(/assets/images/rating/rating.png) no-repeat 0 50%;
	background-size: cover;
}
.myraiting2{
	background: transparent url(/assets/images/rating/rating.png) no-repeat 0 75%;
	background-size: cover;
}
.myraiting1{
	background: transparent url(/assets/images/rating/rating.png) no-repeat 0 100%;
	background-size: cover;
}
.jot-name{
    float: left;
    color: #47aae5;
    font-size: 14px!important;
    margin-right: 20px;
    margin-bottom: 10px;
}
.jot-comment-entry{
    clear: both;
}
.clear-initial{
    float: none!important;
}
.jot-list{
	font-size: 12px!important;	
}
.big-text{
	display: none;	
}
.read-next{
	cursor: pointer;
    color: #ccc;
    text-decoration: underline;
}
.jot-row .jot-comment-entry {
	background-color: inherit!important;
    border-radius: inherit!important;
    border: none!important;
    padding: 0px!important;
}
.jot-show-form {
	cursor: pointer;
    border: 1px solid #47aae5;
    color: #47aae5;
    padding: 10px 20px;
    display: table;
    text-align: center;
    margin: 0 auto;
}
.jot-form-block{
	display: inline-block;
    width: 100%;
}
.jot-reply-title{
    text-align: center!important;
    margin: 15px!important;
}
.jot-show-form{
	display: none;
}
.jot-input-prepend{
  box-sizing: border-box;
}
.rating {
  display: flex;
	margin: 10px;
}
.rating-item {
  width: 25px;
  height: 25px;
  background: transparent url(/assets/images/rating/rating-small.png) no-repeat 0 100%;
  background-size: cover;
  cursor: pointer;
}
.rating-item.active{
	background: transparent url(/assets/images/rating/rating-small.png) no-repeat 0 0;
	background-size: cover;
}
.count-comments{
	position: relative;
    padding-left: 10px;
    margin-top: -7px;
    top: -10px;
    width: 100px;
    height: 35px;
    font-size: 14px!important;
    text-decoration: underline;
    color: #ccc;
}