@font-face {
    font-family: 'arialnarrow';
    font-display: fallback;
    src: url('../fonts/arialn-webfont.eot');
    src: url('../fonts/arialn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arialn-webfont.woff') format('woff'),
         url('../fonts/arialn-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MonotypeCorsiva';
    font-display: fallback;
    src: url('../fonts/monotype-corsiva.eot');
    src: url('../fonts/monotype-corsivaeot?#iefix') format('embedded-opentype'),
         url('../fonts/monotype-corsiva.woff') format('woff'),
         url('../fonts/monotype-corsiva.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}