@charset 'utf-8';

@import 'https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Roboto:300,400,500,700&display=swap" rel="stylesheet"';
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet"';




::-webkit-input-placeholder{color:#B0B0B0;}
::-moz-placeholder{color:#B0B0B0;}
:-ms-input-placeholder{color:#B0B0B0;}
:-moz-placeholder{color:#B0B0B0;}
input:focus::-webkit-input-placeholder{color:transparent;}
input:focus:-moz-placeholder{color:transparent;}
input:focus::-moz-placeholder{color:transparent;}
input:focus:-ms-input-placeholder{color:transparent;}
input, select, textarea, button{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
input, select, textarea, button{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
::-webkit-scrollbar{width:10px;height:0px;}
::-webkit-scrollbar-thumb{background: #c1c1c1;}
::-webkit-scrollbar-thumb{width:10px;height:0px;} 
::-webkit-scrollbar-track{background: #fff;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
img{max-width:100%;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{display:block;}
body{line-height:1.4;color:#333333;font-family: 'Noto Sans', sans-serif;transition: 0s; background: #FBFAFA;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
input:focus,
button,
button:focus,
textarea{outline:none;}
button {cursor: pointer;}
.roboto{font-family: 'Roboto', sans-serif;}
.mt50{margin-top:50px !important;}
.mr50{margin-right:50px !important;}
.mb50{margin-bottom:50px !important;}
.ml50{margin-right:50px !important;}
.w50{width:50px !important;}
.mt45{margin-top:45px !important;}
.mr45{margin-right:45px !important;}
.mb45{margin-bottom:45px !important;}
.ml45{margin-right:45px !important;}
.w45{width:45px !important;}
.mt40{margin-top:40px !important;}
.mr40{margin-right:40px !important;}
.mb40{margin-bottom:40px !important;}
.ml40{margin-right:40px !important;}
.w40{width:40px !important;}
.mt35{margin-top:35px !important;}
.mr35{margin-right:35px !important;}
.mb35{margin-bottom:35px !important;}
.ml35{margin-right:35px !important;}
.w35{width:35px !important;}
.mt30{margin-top:30px !important;}
.mr30{margin-right:30px !important;}
.mb30{margin-bottom:30px !important;}
.ml30{margin-right:30px !important;}
.w30{width:30px !important;}
.mt25{margin-top:25px !important;}
.mr25{margin-right:25px !important;}
.mb25{margin-bottom:25px !important;}
.ml25{margin-right:25px !important;}
.w25{width:25px !important;}
.mt20{margin-top:20px !important;}
.mr20{margin-right:20px !important;}
.mb20{margin-bottom:20px !important;}
.ml20{margin-right:20px !important;}
.w20{width:20px !important;}
.mt15{margin-top:15px !important;}
.mr15{margin-right:15px !important;}
.mb15{margin-bottom:15px !important;}
.ml15{margin-right:15px !important;}
.w15{width:15px !important;}
.mt10{margin-top:10px !important;}
.mr10{margin-right:10px !important;}
.mb10{margin-bottom:10px !important;}
.ml10{margin-right:10px !important;}
.w10{width:10px !important;}
.mt5{margin-top:5px !important;}
.mr5{margin-right:5px !important;}
.mb5{margin-bottom:5px !important;}
.ml5{margin-right:5px !important;}
.mt0{margin-top:0px !important;}
.mr0{margin-right:0px !important;}
.mb0{margin-bottom:0px !important;}
.ml0{margin-right:0px !important;}
.w5{width:5px !important;}
.uppercase{text-transform:uppercase;}
.text-initial{text-transform:initial;}
.text-right{text-align:right;}
.text-left{text-align:left;}
.text-center{text-align: center;}
button{background-color:transparent;border:none;}
.row:after,
.wrapper:after,
.clearfix:after,
.super-wrapper:after{content:'';clear:both;display:block;}
a:focus,
a:active{color:initial;outline:0;text-decoration:none;}
a:hover{color:initial;text-decoration:none;}
.left{float:left !important;}
.right{float:right !important;}
a,
input[type="submit"]{transition:all 0.3s ease;color:inherit;}
textarea{resize:none;}
.mauto{display: table !important;margin: 0 auto !important;}
.w-max{width:100%;}
.h-max{height:100%;}
.italic{font-style: italic;}
.pl0{padding-left:0 !important;}
.pr0{padding-right:0 !important;}
.p0{padding:0 !important;}
.table-respond{overflow: auto;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
.flex { -webkit-flex-direction: row; -ms-flex-direction: row; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; } 
.flex-reverse { -webkit-flex-direction: row-reverse; -ms-flex-direction: row-reverse; -webkit-box-orient: horizontal; -webkit-box-direction: reverse; flex-direction: row-reverse; } 
.flex-center { -webkit-justify-content: center; -ms-flex-pack: center; -webkit-box-pack: center; justify-content: center; } 
.flex-left { -webkit-justify-content: flex-start; -ms-flex-pack: start; -webkit-box-pack: start; justify-content: flex-start; } 
.flex-right { -webkit-justify-content: flex-end; -ms-flex-pack: end; -webkit-box-pack: end; justify-content: flex-end; } 
.flex-justify { -webkit-justify-content: space-between; -ms-flex-pack: justify; -webkit-box-pack: justify; justify-content: space-between; } 
.flex-around { -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; } 
.flex-top { -webkit-align-items: flex-start; -ms-flex-align: start; -webkit-box-align: start; align-items: flex-start; } 
.flex-middle { -webkit-align-items: center; -ms-flex-align: center; -webkit-box-align: center; align-items: center; align-self: center; } 
.flex-bottom { -webkit-align-items: flex-end; -ms-flex-align: end; -webkit-box-align: end; align-items: flex-end; } 
.flex-item-top { -webkit-align-self: flex-start; -ms-flex-item-align: start; align-self: flex-start; } 
.flex-item-middle { -webkit-align-self: center; -ms-flex-item-align: center; align-self: center; } 
.flex-item-bottom { -webkit-align-self: flex-end; -ms-flex-item-align: end; align-self: flex-end; }

@import "colors";
@import "variables";
@import "breakpoints"; 
@import "mixins";


/** OTHER **/

.btn {
	outline: none;
	box-shadow: none;
	border: 1px solid transparent;
	background: transparent;
	font-size: 14px;
	font-weight: 500;
	min-width: 120px;
	padding: 10px 15px;
	moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: inline-block;
  &:focus {
  	outline: none;
  	box-shadow: none;
  }
	&.btn-blue {
		color: #fff;
		background-image: linear-gradient(to right, #297FFF, #4CA8FD, #4CA8FD, #297FFF);
		border-radius: 2px;
		background-size: 300% 100%;
		&:hover,
		&:focus,
		&:active {
			background-position: 100% 0;
		}
	}
	&.btn-transparent {
		border: 1px solid #297FFF;
		border-radius: 2px;
		color: #297FFF;
		background-size: 300% 100%;
		&:hover,
		&:focus,
		&:active {
			background-image: linear-gradient(to right, #297FFF, #4CA8FD, #4CA8FD, #297FFF);
			color: #fff;
		}
	}
}




.hamburger .line{
  width: 22px;
  height: 2px;
  background-color: #ffca00;
  display: block;
  margin: 7px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

.hamburger.is-active .line:nth-child(1){
  -webkit-transform: translateY(4px) rotate(45deg);
  -ms-transform: translateY(4px) rotate(45deg);
  -o-transform: translateY(4px) rotate(45deg);
  transform: translateY(4px) rotate(45deg);
}

.hamburger.is-active .line:nth-child(2){
  -webkit-transform: translateY(-5px) rotate(-45deg);
  -ms-transform: translateY(-5px) rotate(-45deg);
  -o-transform: translateY(-5px) rotate(-45deg);
  transform: translateY(-5px) rotate(-45deg);
}

body.catalog-opened {
	position: relative;
	.overlay {
		display: block;
		pointer-events: none;
	}
}

.overlay {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.33);
}

.section-title {
	font-size: 28px;
	text-align: center;
	font-weight: 600;
	margin: 0 0 35px;
}


.main-slider .slide-item,
.about-us-slider .slide-item,
.review-slider .slide-item,
.product-inner-slider .slide-item,
.slider-nav-thumbnails .slide-item
 {
  display: none;
}

.main-slider .slide-item:first-child,
.about-us-slider .slide-item:first-child,
.review-slider .slide-item:first-child,
.product-inner-slider .slide-item:first-child,
.slider-nav-thumbnails .slide-item:first-child {
  display: block;
}

.quanity-field .jq-number__spin.plus:after {
  content: "+";
  font-size: 18px;
  position: absolute;
}

.quanity-field .jq-number__spin.minus:after {
  content: "-";
  font-size: 18px;
  position: absolute;
}

.quanity-field .jq-number__spin.minus {
	left: 0;
}

.quanity-field .jq-number__spin.plus {
	right: 0;
}


.quanity-field {
	position: relative;
	margin: 0 15px;
}

.quanity-field .jq-number__spin {
  position: absolute;
  width: 20px;
  transition: all 0.3s ease;
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  top: 0;
}

.quanity-field .jq-number__field {
	padding: 0 20px;	
	border: 1px solid #297FFF;
	box-sizing: border-box;
	border-radius: 2px;
}

.quanity-field .jq-number__field .quanity-field {
  background: transparent;
  font-size: 18px;
  font-weight: 700;
  width: 40px;
  padding: 0 5px;
  height: 36px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
}

.jq-selectbox {
	.jq-selectbox__select {
		min-width: 170px;
		cursor: pointer;
		padding: 5px 25px 5px 8px;
		border: 1px solid #E5E5E5;
		font-size: 12px;
		color: #040404;
		font-weight: 300;
		position: relative;
		.jq-selectbox__trigger-arrow {
			position: absolute;
			background: url(../img/icons/select-arrow.svg)center no-repeat;
			background-size: cover;
			width: 9px;
			height: 9px;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%) rotate(0deg);
			right: 10px;
		}
	}
	.jq-selectbox__dropdown {
		width: 100%;
		background: #fff;
		li {
			padding: 5px 8px;
			border: 1px solid #E5E5E5;
			border-top: none;
			font-size: 12px;
			transition: all 0.3s ease;
			&:hover {
				cursor: pointer;
				background: #E5E5E5;

			}
		}
	}
	&.opened {
		.jq-selectbox__trigger-arrow {
			transform: translate(0, -50%) rotate(180deg);
		}
	}
}

.pagination {
	ul {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 25px 0 0;
		width: 100%;
		li {
			a {
				width: 36px;
				height: 36px;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 16px;
				border: 2px solid transparent;
				&:hover {
					color: #297FFF;
				}
			}
			&.active {
				span {
					width: 36px;
					height: 36px;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 16px;
					color: #297FFF;
					border: 2px solid #297FFF;
					font-weight: 700;
				}
			}
		}
	}
}


.btn-top {
	position: fixed;
	right: 15px;
	bottom: 15px;
	z-index: 100;
	width: 40px;
	height: 40px;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	background: rgba(41, 127, 255, 0.61);
	display: none;
	svg {
		transform: rotate(-90deg);
		width: 15px;
		height: 15px;
		fill: #fff;
		color: #fff;
	}
}


.seo {
	padding: 85px 0 85px;
	margin-bottom: -85px;
	background: #fff;
	.seo-block {
		max-width: 750px;
		margin: 0 auto;
		max-height: 315px;
		overflow: hidden;
		&.visible-block {
			max-height: initial;
		}
	}
	.description {
		font-size: 14px;
		margin: 0 0 17px;
		line-height: 25px;
		strong {
			display: block;
			font-weight: 600;
		}
		&:nth-last-child(1) {
			margin: 0;
		}
	}
	.show-more-btn {
		max-width: 750px;
		margin: 20px auto 0;
	}
	.show_more_seo {
		font-size: 14px;
		color: #297FFF;
		display: inline-block;
		border-bottom: 1px dashed transparent;
		&:hover {
			border-bottom: 1px dashed #297FFF;
		}
	}
}

/** START HEADER **/

header {
	background: #fff;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
	.top-nav {
		padding: 10px 0;
		border-bottom: 0.5px solid #D9D9D9;
		.container {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
		}
		.main-menu {
			ul {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				flex-wrap: wrap;
				li {
					margin: 0 30px 0 0;
					&:nth-last-child(1) {
						margin: 0;
					}
					a {
						color: #8D8D8D;
						font-size: 12px;
						&:hover {
							color: #297FFF;
						}
					}
				}
			}
		}
		.contacts_language {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
			.contacts {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				flex-wrap: wrap;
				a {
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					align-items: center;
					flex-wrap: wrap;
					font-size: 12px;
					color: #8D8D8D;
					margin: 0 35px 0 0;
					&:nrh-last-child(1) {
						margin: 0;
					}
					svg {
						margin: 0 5px 0 0;
						transition: all 0.3s ease;
					}
					&:hover {
						color: #297FFF;
						svg {
							fill: #297FFF;
						}
					}
				}
			}
			.language {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				li {
					margin: 0 10px 0 0;
					&:nth-last-child(1) {
						margin: 0;
					}
					a {
						font-size: 12px;
						color: #8D8D8D;
						text-transform: uppercase;
						font-weight: 400;
						border-bottom: 1px solid transparent;
						&.active {
							color: #297FFF;
							border-bottom: 1px solid transparent !important;
							font-weight: 600;
						}
						&:hover {
							border-bottom: 1px dashed #8D8D8D;
						}
					}
				}
			}
		}
	}
	.bottom-nav	{
		padding: 20px 0;
		.container {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}
		.logo {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin: 0 40px 0 0;
			img {
				display: block;
			}
			p {
				position: relative;
				color: #25136A;
				opacity: 0.75;
				padding: 0 0 0 25px;
				font-size: 14px;
				&:before {
					content: '';
					width: 1px;
					height: calc(100% + 10px);
					background: #D9D9D9;
					opacity: 0.75;
					left: 10px;
					top: -5px;
					position: absolute;
				}
			}
		}
		.for-client {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
			a {
				font-size: 14px;
				color: #297FFF;
				font-weight: 500;
				opacity: 0.75;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				margin: 0 40px 0 0;
				&:nth-last-child(1) {
					margin: 0;
				}
				svg {
					margin: 0 10px 0 0;
				}
				&:hover {
					opacity: 1;
				}
			}
		}
		.search-form {
			position: relative;
			width: 355px;
			padding: 0 55px 0 0;
			margin: 0 65px 0 40px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			.search-field {
				width: 100%;
				font-size: 12px;
				color: #333333;
				padding: 9px 10px;
				background: #FAFAFA;
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
				border: 1px solid transparent;
				&:focus {
					border: 1px solid #5F9FFF;
				}
			}
			.search-submit {
				position: absolute;
				width: 55px;
				height: 36px;
				border-top-right-radius: 2px;
				border-bottom-right-radius: 2px;
				background: #297FFF;
				opacity: 0.75;
				right: 0;
				top: 0;
				cursor: pointer;
				transition: all 0.3s ease;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				align-items: center;
				justify-content: center;
				&:hover {
					opacity: 1;
				}
			}
		}
	}
	.basket {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		position: relative;
		font-size: 11px;
		color: #297FFF;
		.total {
			background: #FF0000;
			width: 15px;
			height: 15px;
			color: #fff;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50px;
			top: 0;
			left: 20px;
			position: absolute;
		}
		svg {
			margin: 0 10px 0 0;
			fill: #297FFF;
			transition: all 0.3s ease;
			width: 30px;
			height: 30px;
		}
		.price {
			font-size: 13px;
			font-weight: 600;
		}
		&:hover {
			color: #00327D;
			svg {
				fill: #00327D;
			}
		}
	}
	.mob-nav {
		display: none;
		.mob-top-nav {
			padding: 10px 0;
		}
		.mob-bottom-nav {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
			border-top: 1px solid #EEEEEE;
			a {
				width: 50%;
			}
			.mob-catalog-btn {
				padding: 10px;
				font-size: 11px;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				img {
					margin: 0 0 0 5px;
				}
			}
			.download {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 10px;
				font-size: 11px;
				color: #297FFF;
				svg {
					margin: 0 5px 0 0;
				}
			}
		}
		.container {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		.mob-main-nav {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			.img {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				align-items: center;
				height: 18px;
				margin: 0 0 5px;
				justify-content: center;
			}
			.text {
				font-size: 11px;
				text-align: center;
			}
		}
		.logo {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			.img {
				height: 18px;
				align-items: center;
				justify-content: center;
				margin: 0 0 5px;
			}
			img {
				width: 45px;
			}
			span {
				font-size: 7px;
				text-align: center;
				color: #ADADAD;
				opacity: 0.75;
			}
		}
		.basket {
			flex-direction: column;
			.img {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 18px;
				margin: 0 0 5px;
			}
			.total {
				width: 11px;
				height: 11px;
				font-size: 7px;
			}
			img {
				width: 20px;
			}
		}
	}
	.mob-menu {
		display: none;
		position: fixed;
		left: 0;
		background: #fff;
		top: 0;
		z-index: 999;
		-webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
    max-height: 100%;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: auto;
    padding: 0;
    display: block;
    &.active {
			-webkit-transform: translateX(-0%);
		  -ms-transform: translateX(0%);
		  transform: translateX(0%);
    }
    .top-item {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			padding: 10px;
			border-bottom: 1px solid #EEEEEE;
			.phone {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				align-items: center;
				font-size: 14px;
				svg {
					margin: 0 5px 0 0;
				}
			}
			.mob-item {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				.language {
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					li {
				    margin: 0 10px 0 0;
				    a {
				    	font-size: 12px;
					    color: #8D8D8D;
					    text-transform: uppercase;
					    font-weight: 400;
					    &.active {
			    	    color: #297FFF;
						    font-weight: 600;
					    }
				    }
					}
				}
				.close-menu {
					img {
						width: 16px;
						height: 16px;
						display: block;
						margin: 0 0 0 10px;
					}
				}
			}
		}
		.for-client {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
			padding: 10px 20px;
			border-bottom: 1px solid #EEEEEE;
			justify-content: space-between;
			a {
				font-size: 11px;
				color: #297FFF;
				font-weight: 500;
				opacity: 0.75;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				&:nth-last-child(1) {
					margin: 0;
				}
				svg {
					margin: 0 10px 0 0;
				}
				&:hover {
					opacity: 1;
				}
			}
		}
		.mob-bottom-nav.item {
			.mob-catalog-btn {
				width: 100%;
				border-radius: 0;
			}
		}
		.main-mob-nav {
			padding: 35px 10px;
			border-bottom: 1px solid #EEEEEE;
			ul {
				li {
					display: block;
					margin: 0 0 15px;
					a {
						display: inline-block;
						font-size: 16px;
					}
				}
				&:nth-last-child(1) {
					margin: 0;
				}
			}
			.mail {
				margin: 30px 0 0;
				font-size: 14px;
			}
		}
	}
	.mob-search {
		display: none;
		left: 0;
		top: 97px;
		z-index: 9;
		width: 100%;
		padding: 10px;
		background: #fff;
		border-top: 1px solid #EEEEEE;
		&.active {
			display: block;
		}
		.form-block {
			position: relative;
			width: 100%;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			input {
				width: 100%;
		    font-size: 12px;
		    color: #333333;
		    padding: 9px 10px;
		    background: #FAFAFA;
		    border-top-left-radius: 5px;
		    border-bottom-left-radius: 5px;
		    border: 1px solid transparent;
		    &:focus {
		    	border: 1px solid #5F9FFF;
		    }
			}
			.search-submit{
		    position: absolute;
		    width: 55px;
		    height: 36px;
		    border-top-right-radius: 5px;
		    border-bottom-right-radius: 5px;
		    background: #297FFF;
		    opacity: 0.75;
		    right: 0;
		    top: 0;
		    cursor: pointer;
		    transition: all 0.3s ease;
		    display: -webkit-flex;
		    display: -moz-flex;
		    display: -ms-flex;
		    display: -o-flex;
		    display: flex;
		    align-items: center;
		    justify-content: center;
			}
		}
	}
}


/** END HEADER **/


/** START CONTENT **/
/** START MAIN-PAGE **/

.top-elements {
	padding: 25px;
	.container {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		position: relative;
	}
	.catalog-nav {
		margin: 0 45px 0 0;
	}
	.back-page {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		font-weight: 300;
		color: #000;
		margin: 0 15px 0 0;
		font-size: 12px;
		&:hover {
			text-decoration: underline;
			color: #000;
		}
		img {
			margin: 0 5px 0 0;
		}
	}
	.breadcrumbs {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		font-size: 12px;
		font-weight: 300;
		color: #8A8A8A;
		a {
			font-size: 12px;
			font-weight: 300;
			color: #8A8A8A;
			margin: 0 3px;
			&:hover {
				color: #3F67C0;
			}
		}
		span {
			color: #3F67C0;
			margin: 0 0 0 3px;
		}
	}
}


.catalog-nav {
	width: 295px;
	.catalog-btn {
		display: block;
		width: 100%;
		position: relative;
		background: #3E78FE;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		color: #fff;
		font-size: 17px;
		padding: 8px 10px;
		border-top-left-radius: 5px; 
		border-top-right-radius: 5px; 
		&:after {
			content: '';
			background: url(../img/icons/catalog-arrow.svg)center no-repeat;
			background-size: cover;
			width: 14px;
			height: 14px;
			position: absolute;
			transform: translate(0, -50%) rotate(0);
			top: 50%;
			right: 10px;
			transition: all 0.3s ease;
		}
		img {
			margin: 0 10px 0 0;
		}
	}
	.hover-block {
		position: absolute;
		width: 100%;
		z-index: 10;
		display: none;
	}
	.catalog-menu {
		position: static;
		top: 37px;
		flex-direction: column;
		border: 1px solid #CDDDFE;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border-top: none;
		width: 295px;
		padding: 0 0 15px;
		background: #fff;
		z-index: 10;
		li {
			display: block;
			width: 100%;
			&:hover {
				.catalog-elem {
					color: #297FFF;
				}
			}
			.catalog-elem {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				align-items: flex-start;
				padding: 7px 20px 7px 10px;
				position: relative;
				font-size: 16px;
				margin-right: -5px;
				&:hover {
					color: #297FFF;
				}
				.sidebar-ico {
					display: block;
					margin: 3px 10px 0 0;
				}
				svg {
					width: 9px;
					height: 9px;
					position: absolute;
					right: 10px;
					top: 50%;
					transition: all 0.3s ease;
					transform: translate(0%, -50%);
					display: none;
				}
			}
			&.has-child {
				&:hover {
					.subitem {
						display: block;
					}
				}
				svg {
					display: block;
				}
			}
		}
		.subitem {
			position: absolute;
			top: 0px;
			left: 295px;
			width: calc(100% - 325px);
			display: none;
			border: 1px solid #CDDDFE;
			padding: 20px 20px 0;
			background: #fff;
			z-index: 1;
			max-height: 540px;
			overflow: auto;
			.submenu {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				flex-wrap: wrap;
				width: 100%;
			}
			li {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin: 0 20px 20px 0;
				width: calc((100% / 5) - 16px);
				a {
					padding: 10px 15px 20px;
					height: 100%;
					border: 1px solid #E3E8F3;
					&:hover {
						border: 1px solid #297FFF;
						p {
							color: #297FFF;
						}
					}
				}
				&:nth-child(5n) {
					margin: 0 0 20px;
				}
				.img {
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					align-items: center;
					justify-content: center;
					min-height: 100px;
					margin: 0 0 10px;
				}
				p {
					@extend .roboto;
					color: #000;
					font-size: 13px;
					text-align: center;
					transition: all 0.3s ease;
			    word-wrap: break-word;
				}
			}
		}	
		&.active {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
		}
	}
	.mob-top-elem {
		display: none;
	}
	&:hover {
		.hover-block {
			display: block;
		}
		.catalog-btn {
			&:after {
				transform: translate(0, -50%) rotate(180deg);
			}
		}
	}
}

.tagline {
	padding: 20px 0 0;
	.container {
		position: relative;
		z-index: 1;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
	}
	.catalog-nav {
		.catalog-btn {
			&:after {
				content: none;
			}
		}
		.hover-block {
			position: static;
			display: block;
		}
		.catalog-menu {
			position: static;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			.subitem {
				top: 37px;
				left: 310px;
				width: calc(100% - 325px);
				z-index: 99;
			}
		}
	}
}

.main-slider {
	width: calc(100% - 315px);
	margin: 0 0 0 20px;
	max-height: 520px;
	overflow: hidden;
	&.slick-initialized {
		overflow: visible;
	}
	.slide-item {
		display: -webkit-flex !important;
		display: -moz-flex !important;
		display: -ms-flex !important;
		display: -o-flex !important;
		display: flex !important;
		flex-direction: column;
		align-items: flex-start;
		padding: 50px 50px 50px 110px;
		justify-content: center;
		height: 520px;
		position: relative;
		.bg-slide {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			-webkit-transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
		  -moz-transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
		  -ms-transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
		  -o-transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
		  transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
		  background-size: cover !important;
		  transform: scale(1.2, 1.2);
		  -webkit-filter: grayscale(100%);
		  filter: grayscale(100%);
		  object-fit: cover;
		}
	}
	.title {
		font-size: 28px;
		color: #fff;
		font-weight: 500;
		padding: 7px 10px;
		background: rgba(0, 0, 0, 0.45);
		display: inline-block;
		font-family: 'Montserrat', sans-serif;
		position: relative;
		z-index: 1;
	}
	.description {
		font-size: 18px;
		font-weight: 500;
		color: #fff;
		padding: 7px 10px;
		background: rgba(0, 0, 0, 0.45);
		margin: 10px 0;
		display: inline-block;
		font-family: 'Montserrat', sans-serif;
		position: relative;
		z-index: 1;
	}
	.btn-blue {
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		min-width: 140px;
		padding: 6px;
		position: relative;
		z-index: 1;
	}
	.slick-arrow {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		z-index: 1;
		svg {
			color: #fff;
			width: 35px;
			height: 35px;
		}
	}
	.slick-prev {
		left: 0;
	}
	.slick-next {
		right: 0;
	}
	.slick-dots {
		position: absolute;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		left: 0;
		bottom: -30px;
		li {
			margin: 0 15px 0 0;
			button {
				padding: 0;
				font-size: 0;
				width: 11px;
				height: 11px;
				border-radius: 50px;
				background: linear-gradient(99.55deg, #3E78FE 16.46%, #23A2EA 88.48%);
				opacity: 0.35;
				transition:  all 0.3s ease;
			}
			&.slick-active,
			&:hover {
				button {
					background: linear-gradient(99.55deg, #3E78FE 16.46%, #23A2EA 88.48%);
					opacity: 1;
				}
			}
			&:nth-last-child(1) {
				margin: 0;
			}
		}
	}
	.slick-current {
		.slide-item {
			.bg-slide {
				transform: scale(1, 1);
		    -webkit-filter: grayscale(0%);
		    filter: grayscale(0%);
			}
		}
	}
}

.popular-product {
	padding: 80px 0 0;
	&.item {
		padding: 80px 0;
	}
}

.product-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	&.inner-product-block {
		.product-elem  {
			width: calc((100% / 4) - (90px / 4));
			margin: 0 30px 30px 0;
			&:nth-child(4n) {
				margin: 0 0 30px;
			}
		}
	}
	.product-elem {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		background: #FFFFFF;
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
		flex-direction: column;
		min-height: 430px;
		transition: all 0.3s ease;
		&:hover {
			box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.12);
		}
		.img {
			height: 185px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				display: block;
				object-fit: cover;
				height: 100%;
			}
		}
		.product-item {
			margin: 0 0 auto;
			min-height: 170px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		.info-block {
			padding: 15px;
		}
		.price-block {
			padding: 0 15px;
		}
		.product-type {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			font-size: 12px;
			color: #9A9A9A;
			&:hover {
				text-decoration: underline;			
			}
			img {
				margin: 0 5px 0 0;
			}
		}
		.title {
			font-size: 14px;
			color: #333333;
			margin: 10px 0 5px;
			display: inline-block;
			transition: all 0s ease;
			&:hover {
				text-decoration: underline;
				color: #297FFF;
			}
		}
		.product-code {
			color: #999999;
			font-size: 12px;
		}
		.bottom-elem {
			margin: auto 0 0;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			padding: 0 10px 15px;
		}	
		.status {
			font-size: 12px;
			color: #528723;
			margin: 0 0 5px;
		}
		.price {
			font-size: 24px;
			font-weight: 700;
			color: #B8B8B8;
		}
		.button {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			min-height: 58px;
			padding: 0 15px 15px;
			p {
				font-size: 13px;
				padding: 0 15px;
				color: #B8B8B8;
			}
			a {
				margin: 0 25px 0 0;
				&:nth-last-child(1) {
					margin: 0 25px 0 0;
				}
			}
			.read-more {
				font-size: 13px;
				color: #4DA8FD;
				border-bottom: 1px solid transparent;
				padding: 3px 0;
				&:hover {
					border-bottom: 1px dashed #4DA8FD;
				}
			}
		}
		&.in-stock {
			.price {
				color: #333333;
			}
			.button {
				justify-content: flex-start;
				a {
					&:nth-last-child(1) {
						margin: 0;
					}
				}
			}
		}
	}
	.download-block	{
		display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 35px;
    background: linear-gradient(50.53deg, #FF6464 0%, #F09831 100%);
    border: 1px solid #E3E3E3;
    border-radius: 2px;
    margin: 0px 0 20px;
    p {
	    color: #fff;
	    font-size: 14px;
	    margin: 5px 0 13px;
	    text-align: center;
    }
	}
}

.main-show-more {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	position: relative;
	.show-more-btn {
		span {
			border-bottom: 1px solid transparent;
			transition: all 0.3s ease;
			font-size: 16px;
			color: #297FFF;
		}
		img {
			vertical-align: middle;
			margin: 0 0 0 10px;
		}
		&:hover {
			span {
				border-bottom: 1px dashed #297FFF;			
			}
		}
	}
	.ready-sets {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(0, -50%);
		span {
			border-bottom: 1px solid transparent;
			transition: all 0.3s ease;
			font-size: 16px;
			color: #297FFF;
		}
		img {
			vertical-align: middle;
			margin: 0 0 0 10px;
			transform: rotate(-90deg);
		}
		&:hover {
			span {
				border-bottom: 1px dashed #297FFF;			
			}
		}
	}
}

.about-us {
	background: #fff;
	padding: 80px 0 120px;
}

.about-us-slider {
	padding: 0 65px;
	.slick-slide  {
		padding: 10px 10px 10px 0;
	}
	.slide-item {
		display: -webkit-flex !important;
		display: -moz-flex !important;
		display: -ms-flex !important;
		display: -o-flex !important;
		display: flex !important;
		flex-wrap: wrap;
		.img {
			border-top-left-radius: 2px;
			border-bottom-left-radius: 2px;
			overflow: hidden;
			width: 480px;
			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				min-height: 280px;
			}
		}
		.info-block {
			width: calc(100% - 480px);
			padding: 25px 45px 25px 30px;
			box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.09);
			border-top-right-radius: 2px;
			border-bottom-right-radius: 2px;
			background: #fff;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			.title {
				font-size: 22px;
				font-weight: 600;
				margin: 0 0 15px;
			}
			.description {
				font-size: 18px;
				color: #9A9A9A;
				margin: 0 0 20px;
			}
		}
	}
}

.section-inner-slider {
	.slick-arrow {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		z-index: 1;
		transition: all 0.3s ease;
		svg {
			color: #297FFF;
			width: 30px;
			height: 30px;
		}
		&:hover {
			opacity: 0.75;
		}
	}
	.slick-prev {
		left: 0;
	}
	.slick-next {
		right: 0;
	}
	.slick-dots {
		position: absolute;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		left: 0;
		bottom: -30px;
		z-index: 1;
		li {
			margin: 0 15px 0 0;
			button {
				padding: 0;
				font-size: 0;
				width: 11px;
				height: 11px;
				border-radius: 50px;
				background: linear-gradient(99.55deg, #3E78FE 16.46%, #23A2EA 88.48%);
				opacity: 0.35;
				transition:  all 0.3s ease;
			}
			&.slick-active,
			&:hover {
				button {
					background: linear-gradient(99.55deg, #3E78FE 16.46%, #23A2EA 88.48%);
					opacity: 1;
				}
			}
			&:nth-last-child(1) {
				margin: 0;
			}
		}
	}
}


.reviews {
	padding: 50px 0 30px;
	.show-more-btn {
		margin: 40px auto 0;
		img {
			transform: rotate(-90deg);
		}
	}
}

.review-slider {
	padding: 0 65px;
	.slick-slide  {
		padding: 10px 10px 10px 0;
	}
	.slide-item {
		display: -webkit-flex !important;
		display: -moz-flex !important;
		display: -ms-flex !important;
		display: -o-flex !important;
		display: flex !important;
		flex-wrap: wrap;
		.img {
			width: 130px;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 10px;
			background: linear-gradient(93.14deg, #297FFF 16.46%, #4CA8FD 88.48%);
		}
		.review-block {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			width: calc(100% - 130px);
			padding: 25px 65px 65px;
			background: #fff;
			box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.09);
			border-top-right-radius: 2px;
			border-bottom-right-radius: 2px;
			.description {
				font-size: 14px;
				margin: 0 0 30px;
			}
			.reviewer {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				flex-direction: column;
				position: relative;
				.name {
					position: relative;
					font-size: 16px;
					font-weight: 600;
					padding: 0 0 0 20px;
					&:before {
						content: '';
						width: 15px;
						height: 2px;
						background: #333;
						position: absolute;
						top: 50%;
						margin-top: -1px;
						left: 0;
						margin: 0 0 10px;
					}
				}
				.position {
					font-size: 12px;
					color: #999;
				}
				img {
					position: absolute;
					right: 100px;
					top: 50%;
					transform: translate(0, -50%);
				}
			}
		}
	}
}

.advantages {
	background: #fff;
	padding: 85px 0 0px;
	.advantages-block {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		.advantages-elem {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			width: 25%;
			padding: 0 30px 0 0;
			&:nth-last-child(1) {
				padding: 0;
			}
			.img {
				height: 40px;
				width: 40px;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0 0 15px;
			}
			.title {
				font-size: 16px;
				font-weight: 600;
				margin: 0 0 10px;
			}
			.description {
				font-size: 14px;
				color: #939393;
			}
		}
	}
}

/** END MAIN-PAGE **/
/** START PRODUCT-INNER-PAGE **/

.product-inner {
	.product-wrapper {	
		padding: 25px 35px 40px;
		background: #fff;
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
	}
	.product-inner-block {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
	}
	.slider-block {
		padding: 0 0 0 100px;
		width: 540px;
		position: relative;
		.product-inner-slider {
			.slide-item {
				img {
					width: 440px;
					height: 440px;
					object-fit: cover;
				}
			}
			.slick-arrow {
				position: absolute;
				left: -78px;
				z-index: 1;
				padding: 0;
				svg {
					width: 22px;
					height: 22px;
					color: #297FFF;
				}
			}
			.slick-prev {
				top: 30px;
				transform: rotate(90deg);
			}
			.slick-next {
				bottom: 30px;
				svg {
					transform: rotate(90deg);
				}
			}
		}
		.slider-nav-thumbnails {
			padding: 0 0 32px;
			position: absolute;
			left: 0;
			width: 70px;
			top: 50%;
			transform: translate(0, -50%);
			.slide-item {
				cursor: pointer;
				border: 2px solid transparent;
				img {
					width: 70px;
					height: 70px;
					object-fit: cover;
				}
			}
			.slick-current {
				.slide-item{
					border: 2px solid #297FFF;
				}
			}
		}
		.description {
			font-size: 12px;
			color: #9A9A9A;
			margin: 10px 0 0;
			text-align: center;
		}
	}
	.product-info {
		width: calc(100% - 540px);
		padding: 0 0 0 30px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		.product-code {
			font-size: 12px;
			color: #BDBDBD;
		}
		.title {
			font-size: 24px;
			font-weight: 600;
			margin: 5px 0 10px;
		}
		.rating {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			.starts {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				flex-wrap: wrap;
				margin: 0 0 30px;
				a {
					margin: 0 5px 0 0;
					&:nth-last-child(1) {
						margin: 0;
					}
				}
			}
			p {
				@extend .roboto;
				font-size: 12px;
				color: #BDBDBD;
				text-decoration: underline;
				display: inline-block;
				margin: 0 0 0 10px;
			}
		}
		.old-price {
			font-size: 14px;
			color: #BDBDBD;
			position: relative;
			display: inline-block;
			margin: 0 0 5px;
			span {
				font-size: 18px;
			}
			&:after {
				content: '';
				background: #FF1B1B;
				width: 100%;
				height: 1px;
				top: 50%;
				position: absolute;
				left: 0;
			}
		}
		.price-item {
			.status {
				display: none;
			}
		}
		.new-price {
			font-size: 18px;
			font-weight: 600;
			color: #FF1B1B;
			span {
				font-weight: 700;
				font-size: 24px;
			}
		}
		.order-block {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			margin: 15px 0 30px;
			.btn {
				width: 150px;
				padding: 5px;
				text-align: center;
				font-size: 16px;
				font-weight: 600;
			}
			.status {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				align-items: center;
				font-size: 12px;
				color: #219653;
				img {
					margin: 0 5px 0 0;
					align-items: center;
				}
			}
		}
		.partners-block {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
			.subtitle {
				width: 100%;
				font-size: 14px;
				color: #000;
				margin: 0 0 10px;
			}
			a {
				margin: 0 7px 0 0;
			}
		}
		.product-item {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
			margin: 25px 0 0;
			border-top: 1px solid #D9D9D9;
			padding: 25px 0 0;
			.item-block {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				align-items: center;
				margin: 0 0 15px;
				padding: 0 15px 0 0;
				width: 50%;
				img {
					margin: 0 15px 0 0;
				}
				p {
					font-size: 12px;
					color: #BDBDBD;
				}
			}
		}
	}
	.info-elem {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		margin: 30px 0;
		.title {
			font-size: 16px;
			margin: 0 0 15px;
			font-weight: 600;
		}
		.description {
			font-size: 14px;
			margin: 0 0 20px;
			&:nth-last-child(1) {
				max-width: none;
			}
		}
		.product-descr {
			width: 540px;
		}
		.product-specific {
			width: calc(100% - 540px);
			padding: 0 0 0 30px;
			ul {
				li {
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					flex-wrap: wrap;
					margin: 0 0 5px;
					&:nth-last-child(1) {
						margin: 0;
					}
					p {
						font-size: 14px;
						width: 250px;
					}
					span {
						font-size: 14px;
					}
				}
			}
		}
	}
	.product-review {
		width: 540px;
		.title {
			font-size: 16px;
			font-weight: 600;
			margin: 0 0 20px;
		}
		.review-block {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			margin: 0 0 25px;
			.name-rating {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				align-items: center;
				margin: 0 0 10px;
				p {
					font-size: 14px;
					font-weight: 600;
					color: #297FFF;
					margin: 0 10px 0 0;
				}
				.rating {
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					flex-wrap: wrap;
					img {
						margin: 0 5px 0 0;
					}
				}
			}
			.review-info {
				font-size: 14px;	
				height: 95px;
				overflow: hidden;
				&.visible-text {
					height: auto;
				}
			}
			.read-more {
				margin: 5px 0 0;
				font-size: 14px;
				color: #BDBDBD;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
		.show-more-review {
			font-size: 14px;
			font-weight: 500;
			color: #297FFF;
			display: table;
			margin: 0 auto;
			border-bottom: 1px dashed transparent;
			&:hover {
				border-bottom: 1px dashed #297FFF;
			}
		}
		.send-review {
			margin: 15px auto 0;
			display: table;
		}
		form {
			display: none;
			margin: 40px 0 0;
			.form-title {
				text-align: center;
				font-size: 24px;
				font-weight: 500;
				margin: 0 0 40px;
			}
			.rating {
				p {
					display: block;
					font-size: 14px;
					margin: 0 0 10px;
 				}
 				.stars {
 					display: -webkit-flex;
 					display: -moz-flex;
 					display: -ms-flex;
 					display: -o-flex;
 					display: flex;
 					align-items: center;
 					flex-wrap: wrap;
 					margin: 0 0 20px;
 					a {
 						margin: 0 5px 0 0;
 						img {
 							width: 20px;
 							height: 20px;
 						}
 					}
 				}
			}
			label {
				margin: 0 0 20px;
				width: 100%;
				display: block;
				span {
					font-size: 14px;
					display: block;
					margin: 0 0 10px;
				}
				.form-element {
					max-width: 270px;
					width: 100%;
					border: 1px solid #9A9A9A;
					border-radius: 2px;
					color: #333333;
					font-size: 14px;
					padding: 8px 10px;
					&:focus {
						border: 1px solid #297FFF;
					}
				}
				textarea {
					&.form-element {
						height: 155px;
						overflow: auto;
						width: 100%;
						max-width: 540px;
					}
				}
			}
			.btn {
				display: table;
				margin: 0 auto;
			}
		}
	}
}


/** END PRODUCT-INNER-PAGE **/
/** START CATEGORY-PAGE **/

.category-content {
	.container {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
	}
	.sidebar {
		width: 320px;
		padding: 0 20px 0 0;
		.title {
			font-size: 16px;
			font-weight: 600;
			color: #333333;
			margin: 0 0 10px;
		}
		.main-title {
			display: none;
		}
		.sidebar-menu {
			position: relative;
			&:after {
				content: '';
				background: #EBEBEB;
				width: 1px;
				height: calc(100% + 32px);
				right: -20px;
				bottom: 0;
				position: absolute;
			}
			li {
				display: block;
				width: 100%;
				margin: 0 0 10px;
				a {
					font-size: 14px;
					font-weight: 300;
					color: #333333;
					&:hover,
					&.active {
						color: #297FFF;
					}
				}
				.submenu {
					padding: 5px 0 0;
					li {
						a {
							position: relative;
							padding: 0 0 0 15px;
							&:before {
								content: '';
								width: 10px;
								height: 1px;
								background: #333333;
								position: absolute;
								left: 0;
								top: 50%;
							}
						}
					}
				}
			}
		}
		.download-block {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 15px 35px;
			background: linear-gradient(50.53deg, #FF6464 0%, #F09831 100%);
			border: 1px solid #E3E3E3;
			border-radius: 2px;
			margin: 35px 0 0;
			p {
				color: #fff;
				font-size: 14px;
				margin: 5px 0 13px;
				text-align: center;
			}
		}
	}
	.category-wrapper {
		width: calc(100% - 320px);
		padding: 0 0 0 20px;
	}
	.categorys {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		.title {
			width: 100%;
			font-size: 14px;
			font-weight: 300;
			margin: 0 0 10px;
		}
		.category-elem {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			padding: 7px 10px;
			font-size: 12px;
			margin: 0 10px 0 0;
			border: 1px solid #E6E6E6;
			border-radius: 2px;
			&:hover {
				background: #fff;
			}
			img {
				margin: 0 10px 0 0;
			}
		}
	}
	.product-nav-block {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 20px 0 25px;
		.section-title {
			text-align: left;
			margin: 0;
		}
		.product-nav {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			.sorting {	
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				align-items: center;
				p {
					font-size: 12px;
					font-weight: 600;
					margin: 0 5px 0 0;
				}
			}
		}
		.product-type-nav {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			margin: 0 0 0 15px;
			a {
				margin: 0 15px 0 0;
				opacity: 0.3;
				img {
					display: block;
				}
				&:nth-last-child(1) {
					margin: 0
				}
				&.active {
					opacity: 1;
				}
			}
		}
	}
	.product-block {
		justify-content: space-between;
		.product-elem {
			width: calc((100% / 3) - (50px / 3));
			margin: 0 0px 30px 0;
			&:nth-child(3n) {
				margin: 0 0 30px;
			}
		}
		&.product-view2 {
			flex-direction: column;
			.product-elem {
				&.product-type2 {
					width: 100%;
					margin: 0 0 10px !important;
					flex-direction: row;
					min-height: auto;
					align-items: center;
					.price-block {
						padding: 0 15px;
						margin: 0;
					}
					.button {
						padding: 0 0 0 15px;
					}
					.product-item {
						flex-direction: row;
						align-items: center;
					}
					.info-block {
						padding: 0 15px;
						width: 200px;
					}
					.img {
						width: 200px;
						img {
							display: block;
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
				}
			}
		}
	}
}

/** END CATEGORY-PAGE **/
/** START CATALOG-PAGE **/

.catalog-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	.catalog-elem {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		width: 20%;
		border: 1px solid #C8C8C8;
		border-right: 0;
		margin: 0 0 25px;
		padding: 25px 10px;
 		&:nth-child(5n) {
			border-right: 1px solid #C8C8C8;
		}
		.img {
			height: 106px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 0 15px;
		}
		.title {
			text-align: center;
			font-size: 14px;
			font-weight: 600;
			margin: 0 0 30px;
			&:hover {
				color: #297FFF;
			}
		}
		ul {
			li {
				display: block;width: 100%;
				margin: 0 0 10px;
				&:nth-last-child(1) {
					margin: 0;
					a {
						border-bottom: 1px solid transparent;
					}
				}
				a {
					display: block;
					width: 100%;
					border-bottom: 1px dotted #C8C8C8;
					font-size: 14px;
					padding: 0 0 5px;
					&:hover {
						color: #297FFF;
					}
				}
			}
		}
	}
}

/** END CATALOG-PAGE **/
/** END CONTENT **/


/** START FOOTER **/

footer {
	background: #001F5C;
	padding: 35px 0 70px;
	margin: 85px 0 0;
	.bottom-nav {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		.title {
			width: 100%;
			color: #fff;
			font-size: 14px;
			font-weight: 700;
			margin: 0 0 10px;
		}
		ul {
			width: 100%;
			li {
				margin: 0 0 5px;
				&:nth-last-child(1) {
					margin: 0;
				}
				a {
					color: #fff;
					font-size: 12px;
					&:hover {
						color: #297FFF;
					}
				}
			}
		}
		&.item {
			ul {
				width: calc(50% - 30px);
				&:nth-last-child(1) {
					margin: 0;
				}
			}
		}
		.address {
			color: #fff;
			font-size: 12px;
			margin: 0 0 40px;
		}
		.phone {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			color: #fff;
			font-size: 12px;
			a {
				margin: 0 0 0 2px;
			}
			a:hover {
				color: #297FFF;
			}
		}
		.social {
			a {
				margin: 0 10px 0 0;
				&:nth-last-child(1) {
					margin: 0;
				}
			}
		}
	}
	.bottom-info {
		padding: 0 0 0 40px;
	}
	.copyright {
		color: #fff;
		font-size: 12px;
		margin: 5px 0 15px;
	}
	.cards {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
		img {
			margin: 0 15px 0 0;
			&:nth-last-child(1) {
				margin: 0;
			}
		}
	}
}


/** END FOOTER **/

/** START MODAL **/

.modal-consultation {
	.modal-dialog {
		max-width: 600px;
	}
	.modal-content {
		padding: 45px 30px;
		.info-block {
			width: 100%;
			padding: 0;
		}
	}
}

.modal-dialog {
	max-width: 900px;
	position: relative;
}

.modal-content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 45px 30px 65px;
	background: #FBFAFA;
	border-radius: 2px;
	flex-direction: row;
	position: relative;
	.close-modal {
		position: absolute;
		right: 10px;
		top: 10px;
	}
	.img {
		width: 330px;
		img {
			display: block;
		}
	}
	.info-block {
		width: calc(100% - 330px);
		padding: 0 30px 0 0;
		.title {
			text-align: center;
			font-size: 24px;
			margin: 0 0 10px;
		}
		.subtitle {
			font-size: 18px;
			margin: 0 0 30px;
			text-align: center;
		}
		form {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			width: 290px;
			margin: 0 auto;
			label {
				display: block;
				width: 100%;
				margin: 0 0 25px;
				span {
					font-size: 14px;
					margin: 0 0 5px;
				}
				.form-element {
					display: block;
					width: 100%;
					background: #fff;
					font-size: 14px;
					padding: 8px 10px;
					border: 1px solid #BCBCBC;
					border-radius: 2px;
					&:focus {
						border: 1px solid #5F9FFF;
					}
				}
			}
			.form-btn {
				width: 100%;
			}
		}
	}
}

/** END MODAL **/



/** START MEDIA **/

@media screen and (max-width: 1440px) {
	.catalog-nav .catalog-btn {
		font-size: 15px;
	}
	.catalog-nav .catalog-menu li .catalog-elem {
		font-size: 14px;
	}
	.catalog-nav .catalog-menu .subitem li p {
		font-size: 12px;
	}
}

@media screen and (max-width: 1199px) {
	.product-block.inner-product-block .product-elem .button p {
		padding: 0;
	}
	.product-block.inner-product-block .product-elem .button a:nth-last-child(1) {
		margin: 0;
	}
	.product-block.inner-product-block .product-elem .button .btn.btn-blue {
		padding: 6px 10px;
		margin: 0 10px 0 0;
		width: 100px;
		min-width: initial;
	}
	.product-inner .product-info .order-block .btn {
		width: 120px;
	}
	.category-content .sidebar {
		width: 250px;
	}
	.category-content .category-wrapper {
    width: calc(100% - 250px);
  }
	.product-block .product-elem .img img {
		height: 100%;
	}
	header .bottom-nav .search-form {
		width: 240px;
		margin: 0 20px;
	}
	footer .bottom-nav.item ul {
		width: 50%;
	}
}
@media screen and (max-width: 991px) {
	header .basket svg {
		width: 25px;
		height: 25px;
	}
	.category-content .sidebar .download-block {
		display: none;
	}
	.product-block .download-block {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	.product-inner .product-info .product-item {
		padding: 25px 0;
	    border-bottom: 1px solid #D9D9D9;
	}
	.product-inner .product-info .order-block .status {
		display: none;
	}
	.product-inner .product-info .price-item {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
	}
	.product-inner .product-info .price-item .status {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #219653;
    margin: 0 0 0 10px;
	}
	.product-inner .product-info .price-item .status img {
		margin: 0 5px 0 0;
	}
	.product-inner .product-wrapper {
		box-shadow: none;
	}
	.product-inner .product-info .product-item .item-block {
		width: 100%;
		padding: 0;
	}
	body {
		background: #fff;
	}
	.product-inner .product-wrapper {
		padding: 0;
	}
	.product-inner .info-elem {
		flex-direction: column;
	}
	.product-inner .info-elem .product-descr {
		width: 100%;
	}
	.product-inner .info-elem .product-specific {
		width: 100%;
		padding: 0;
	}
	.product-inner .product-inner-block {
		flex-direction: column;
	}
	.product-inner .slider-block {
		width: 100%;
	}
	.product-inner .product-info {
		width: 100%;
		padding: 20px 0 0;
	}
	.product-inner .slider-block .product-inner-slider .slide-item img {
		width: 100%;
	}
	.catalog-block .catalog-elem {
		width: 25%;
		border-right: 0 !important;
	}
	.catalog-block .catalog-elem:nth-child(4n) {
		border-right: 1px solid #C8C8C8 !important;
	}
	.category-content .sidebar .title {
		padding: 5px 20px;
		border: 1px solid #E6E6E6;
		border-radius: 2px;
	}
	.category-content .sidebar .title:after {
		content:'';
    background: url(../img/icons/select-arrow.svg) center no-repeat;
    background-size: cover;
    width: 9px;
    height: 9px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 5px;
    transform: rotate(0deg);
	}
	.category-content .sidebar .title.active:after {
		transform: rotate(180deg);
	}
	.category-content .categorys .category-elem {
		flex-wrap: unset;
		padding: 5px;
		font-size: 10px;
		text-align: center;
	}
	.category-content .product-nav-block .section-title {
		display: none;
	}
	.category-content .product-nav-block .product-nav .sorting p {
		display: none;
	}
	.category-content .product-nav-block {
		justify-content: flex-end;
	}
	.product-block {
		flex-direction: column;
	}
	.product-block.inner-product-block {
		flex-direction: row;
	}
	.category-content .product-block .product-elem {
		width: 100%;
		margin: 0 0 20px !important;
	}
	.category-content .sidebar .head-info {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.main-title {
			display: block;
			font-size: 18px;
			font-weight: 600;
		}
	}
	.category-content .sidebar .sidebar-menu {
		display: none;
	}
	.category-content .container {
		flex-direction: column;
	}
	.category-content .sidebar {
		width: 100%;
		padding: 0;
	}
	.category-content .sidebar .sidebar-menu:after {
		display: none;
	}
	.category-content .category-wrapper {
		padding: 0;
		width: 100%;
	}
	header .top-nav .main-menu ul li {
		margin: 0 10px 0 0;
	}
	header .top-nav .contacts_language .contacts a {
		margin: 0 15px 0 0;
	}
	header .top-nav .main-menu ul li {
		display: inline-block;
		line-height: 1;
	}
	header .top-nav .contacts_language .language li {
		display: inline-block;
		line-height: 1;
	}
	.main-slider .slide-item {
		padding: 50px;
	}
	header .bottom-nav .for-client a {
		font-size: 12px;
		margin: 0 15px;
	}
	header .bottom-nav .logo {
		margin: 0;
	}
	header .bottom-nav .logo img {
		width: 70px;
	}
	header .bottom-nav .logo p {
		padding: 0 0 0 20px;
		font-size: 12px;
	}
	header .bottom-nav .basket img {
		width: 25px;
	}
	header .bottom-nav .basket .total {
		left: 10px;
	}
	header .bottom-nav .search-form {
		margin: 0 10px;
		width: 165px;
		padding: 0 30px 0 0;
	}
	header .bottom-nav .search-form .search-submit {
		width: 30px;
	}
	.product-block.inner-product-block .product-elem {
		width: calc((100% / 3) - 20px);
		margin: 0 30px 30px 0 !important;
	}
	.product-block.inner-product-block .product-elem:nth-child(3n) {
		margin: 0 0 30px !important;
	}
	.product-block.inner-product-block {
		justify-content: center;
	}
	.about-us-slider .slide-item {
		flex-wrap: wrap;
		.img {
			width: 100%;
		}
		.info-block {
			width: 100%;
			padding: 15px;
		}
	}
	.about-us-slider .slick-slide{
		padding: 10px;
	}
	.review-slider .slide-item .review-block .reviewer img {
		right: 0;
	}
	footer .bottom-nav.item ul:nth-last-child(1) {
		padding: 0 15px;
	}
	footer [class*='col-'] {
		margin: 0 0 15px;
	}
	footer [class*='col-']:nth-last-child(1) {
		margin: 0;
	}
	footer .bottom-info {
		padding: 0;
		justify-content: center;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}
	footer .copyright {
		margin: 0 20px;
	}
}
@media screen and (max-width: 767px) {
	.seo .description {
		margin: 0;
	}
	.seo .seo-block {
		max-height: 355px;
	}
	.product-block.inner-product-block .product-elem .button .btn.btn-blue {
		width: 50%;
		text-align: center;
		margin: 0;
		min-width: initial;
	}
	.product-block .product-elem .button a:nth-last-child(1) {
		width: 50%;
		text-align: center;
	}
	.product-block .product-elem .button .btn.btn-blue {
		width: 50%;
		text-align: center;
		margin: 0;
		min-width: initial;
	}

	.product-block.product-view2 .product-elem.product-type2 .button .btn.btn-blue {
		min-width: 120px;
		margin: 0 25px 0 0;
		width: initial;
	}
	.product-block.product-view2 .product-elem.product-type2 .button a {
		width: initial;
	}
	.product-block .product-elem .button a {
		margin: 0;
		width: 50%;
		min-width: initial;
	}
	.catalog-nav .hover-block {
		z-index: 1000;
	}
	.top-elements .breadcrumbs a {
		font-size: 10px;
	}
	.top-elements .container {
		flex-wrap: unset;
		align-items: flex-start;
	}
	.top-elements .back-page {
		font-size: 10px;
	}
	.btn-top.active {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;	}
	header.active {
		position: fixed;
    animation: animation 1s;
    width: 100%;
    left: 0;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.14);
    z-index: 995;
	}
	.content.active {
		padding: 97px 0 0;
	}
	header.active .mob-nav .mob-bottom-nav {
		display: none;
	}
	.reviews .show-more-btn {
		margin: 55px auto 0;
	}
	.product-block .product-elem .img img {
		height: initial;
	}
	.product-block.inner-product-block .product-elem {
		max-width: 260px;
	}
	.product-block .product-elem .img {
		height: initial;
	}
	.modal {
		padding: 0 !important;
	}
	.modal-content .info-block {
		padding: 0;
		width: 100%;
	}
	.modal-content .info-block form {
		width: 100%;
	}
	.modal-dialog {
		max-width: 300px;
		margin: 0 auto;
	}
	.modal-content .info-block .title{
		font-size: 18px;
	}
	.modal-content .info-block .subtitle {
		font-size: 14px;
	}
	.modal-content {
		flex-direction: column;
		padding: 25px;
	}
	.modal-content .img {
		display: none;
	}
	.product-inner .product-info .order-block .status {
		width: 100%;
		padding: 10px 0 0;
	}
	.product-inner .product-review {
		width: 100%;
	}
	.product-inner .slider-block .product-inner-slider .slide-item img {
		height: 250px;
	}
	.product-inner .slider-block .slider-nav-thumbnails {
		padding: 0;
	}
	.product-inner .slider-block .product-inner-slider .slick-arrow svg {
		width: 12px;
		height: 12px;
	}
	.product-inner .slider-block .product-inner-slider .slick-arrow {
		left: -36px;
	}
	.product-inner .slider-block .product-inner-slider .slick-prev {
		top: 0;
	}
	.product-inner .slider-block .product-inner-slider .slick-next {
		bottom: 0;
	}
	.product-inner .slider-block .slider-nav-thumbnails .slide-item img {
		width: 40px;
		height: 40px;
	}
	.product-inner .slider-block .slider-nav-thumbnails {
		width: 40px;
	}
	.product-inner .slider-block .description {
		display: none;
	}
	.product-inner .slider-block {
		padding: 0 0 0 50px;
	}
	.tagline .catalog-nav .catalog-menu .subitem {
		left: 0;
		top: 0;
		width: 100%;
	}
	.catalog-block .catalog-elem.has-menu .title {
		position: relative;
		padding: 0 10px 0 0;
	}
	.catalog-block .catalog-elem.has-menu .title:after {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(0, -50%) rotate(0deg);
    content: "";
    background: url(../img/icons/select-arrow.svg) center no-repeat;
    background-size: cover;
    width: 9px;
    height: 9px;
	}
	.catalog-block .catalog-elem.has-menu .title.active:after {
		transform: translate(0, -50%) rotate(180deg);
	}
	.catalog-block .catalog-elem ul {
		display: none;
	}
	.catalog-block .catalog-elem .title {
		font-size: 12px;
	}
	.catalog-block .catalog-elem {
		width: 50%;
	}
	.catalog-block .catalog-elem:nth-child(4n),
	.catalog-block .catalog-elem:nth-child(5n) {
		border-right: 0 ! important;
	}
	.catalog-block .catalog-elem:nth-last-child(1) {
		border-right: 1px solid #C8C8C8 !important;
	}
	.catalog-block .catalog-elem:nth-child(even) {
		border-right: 1px solid #C8C8C8 !important;
	}
	.top-elements {
		padding: 25px 0;
	}
	.catalog-nav .hover-block {
		display: block;
	}
	.top-elements .catalog-nav {
		margin: 0;
	}
	.category-content .product-block.product-view2 .product-elem.product-type2 .img {
		width: 150px;
		height: 150px;
	}
	.category-content .product-block.product-view2 .product-elem.product-type2 .info-block {
		width: calc(100%);
	}
	.category-content .product-block.product-view2 .product-elem.product-type2 .price-block {
		width: calc(100%);
	}
	.category-content .product-block.product-view2 .product-elem.product-type2 .product-item {
		width: calc(100% - 150px);
	}
	.category-content .product-block.product-view2 .product-elem.product-type2 {
		flex-wrap: wrap;
	}
	.category-content .product-block.product-view2 .product-elem.product-type2 .bottom-elem {
		width: 100%;
		flex-direction: column;
		align-items: center;justify-content: center;
		padding: 0;
	}
	.category-content .product-block.product-view2 .product-elem.product-type2 .bottom-elem .price-block {
		margin-top: 10px;
	}
	.category-content .categorys .category-elem img {
		max-width: 32px;
		margin: 0 5px 0 0;
	}
	.category-content .categorys .category-elem {
		width: calc(50% - 2.5px);
		margin: 0 5px 0 0;
	}
	.category-content .categorys .category-elem:nth-last-child(1) {
		margin: 0;
	}
	header .top-nav,
	header .bottom-nav {
		display: none;
	}
	header .mob-nav {
		display: block;
		width: 100%;
	}
	.catalog-nav {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 997;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: auto;
    top: 0;
    left: 0;
    .catalog-nav .catalog-btn {
    	display: none;
    }
    .tagline .catalog-nav .hover-block {
    	display: block !important;
    }
	}
	.main-slider {
		width: 100%;
		margin: 0;
	}
	.main-slider .title {
		font-size: 16px;
	}
	.main-slider .description {
		font-size: 14px;
	}
	.main-slider .slide-item {
		min-height: 200px;
		height: auto;
		min-height: 300px;
		padding: 30px;
	}
	.main-slider .slick-arrow svg {
		width: 21px;
		height: auto;
	}
	.section-title {
		margin: 0 0 20px;
		font-size: 18px;
	}
	.product-block.inner-product-block {
		flex-direction: column;
	}
	.product-block.inner-product-block .product-elem,
	.product-block.inner-product-block .product-elem:nth-child(3n) {
		width: 100%;
		margin: 0 auto 20px !important;
	}
	.main-show-more .ready-sets {
		display: none;
	}
	.popular-product.item {
		padding: 50px 0;
	}
	.about-us {
		padding: 50px 0 80px;
	}
	.about-us-slider .slide-item .info-block .title {
		font-size: 16px;
		margin: 0 0 10px;
	}
	.about-us-slider .slide-item .info-block .description {
		font-size: 14px;
		margin: 0 0 15px;
	}
	.about-us-slider {
		padding: 0;
	}
	.section-inner-slider .slick-arrow {
		bottom: -42px;
		top: auto;
		transform: translate(0,0);
	}
	.section-inner-slider .slick-prev {
		left: 25px;
	}
	.section-inner-slider .slick-next {
		right: 25px;
	}
	.btn {
		font-size: 13px;
		padding: 6px 15px;
		min-width: 140px;
	}
	.review-slider .slide-item {
		flex-direction: column;
	}
	.review-slider .slide-item .img {
		width: 100%;
		height: 70px;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
    border-bottom-left-radius: 0px;
	}
	.review-slider .slide-item .review-block {
		padding: 35px 10px;
		width: 100%;
	}
	.review-slider .slide-item .review-block .reviewer .position,
	.review-slider .slide-item .review-block .reviewer .name {
		max-width: 230px;
	}
	.review-slider {
		padding: 0;
	}
	.review-slider .slick-slide {
		padding: 10px;
	}
	.advantages {
		padding: 50px 0;
		margin-bottom: -50px;
	}
	.advantages {
		flex-direction: column;
	}
	.advantages .advantages-block .advantages-elem {
		width: 100%;
		padding: 0 0 30px;
	}
	.section-inner-slider .slick-arrow svg {
		width: 22px;
		height: 22px;
	}
	footer .bottom-info {
		flex-direction: column;
	}
	.catalog-nav .hover-block {
		position: static !important;
	}
	.catalog-nav.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
	}
	.catalog-nav .catalog-menu {
		width: 100%;
		margin: 0;
		padding: 0;
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.27);
		border-radius: 0 !important;
	}
	.catalog-nav .catalog-btn {
		display: none !important;
	}
	.catalog-nav .mob-top-elem {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 10px;
		background: #F6F6F6;
		position: relative;
	}
	.catalog-nav .mob-top-elem .back {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		font-size: 14px;
		img {
			margin: 0 5px 0 0;
		}
	}
	.catalog-nav .mob-top-elem .title {
		font-size: 14px;
		font-weight: 600;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		span {
			margin: 0 0 0 5px;
		}
	}
	.catalog-nav .catalog-menu .subitem {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 998;
		-webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
    max-height: 100%;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: auto;
    padding: 0;
    display: block;
	}
	.catalog-nav .catalog-menu li.has-child:hover .subitem {
		-webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	}
	.catalog-nav .catalog-menu .subitem.active {
		-webkit-transform: translateX(0%) !important;
    -ms-transform: translateX(0%) !important;
    transform: translateX(0%) !important;
	}
	.catalog-nav .catalog-menu .subitem .submenu {
		padding: 10px;
	}
	.catalog-nav .catalog-menu .subitem li {
		width: calc(50% - 5px);
		margin: 0 10px 10px 0 !important;
		&:nth-child(2n) {
			margin: 0 0 10px !important;
		}
	}
}
@media screen and (max-width: 575px) {
	.category-content .product-block.product-view2 .product-elem.product-type2 .product-item {
		flex-wrap: wrap;
		padding: 10px;
	}
	.category-content .product-block.product-view2 .product-elem.product-type2 .info-block,
	.category-content .product-block.product-view2 .product-elem.product-type2 .price-block {
		width: 100%;
	}
	.product-block.product-view2 .product-elem .title {
		font-size: 12px;
	}
	.product-block.product-view2  .product-elem .product-type {
		font-size: 10px;
	}
	.product-block.product-view2  .product-elem .product-code {
		font-size: 10px;
	}
	.product-block.product-view2 .product-elem .price {
		font-size: 18px;
	}
	.product-block.product-view2 .product-elem .status {
		font-size: 10px;
		margin: 10px 0 0;
	}
	.category-content .product-block.product-view2 .product-elem.product-type2 .price-block,
	.category-content .product-block.product-view2 .product-elem.product-type2 .info-block {
		padding: 0;
	}
	.category-content .product-block.product-view2 .product-elem.product-type2 .button {
		width: 100%;
		padding: 0 15px;
		justify-content: center;
	}
	.category-content .product-block.product-view2 .product-elem.product-type2 .button a {
		margin: 0 25px 0 0;
	}
	.category-content .product-block.product-view2 .product-elem.product-type2 .button a:nth-last-child(1) {
		margin: 0;
	}
}


@keyframes animation {
	from {
	  top: -300px;
	}
	to {
	  top: 0px;
	}
}

/** END MEDIA **/