@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-regular_0.woff2') format('woff2'),
         url('../fonts/lato-regular_0.woff') format('woff'),
         url('../fonts/lato-regular_0.ttf') format('truetype');
    font-display: swap;
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-italic_0.woff2') format('woff2'),
         url('../fonts/lato-italic_0.woff') format('woff'),
         url('../fonts/lato-italic_0.ttf') format('truetype');
    font-display: swap;
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-bold_0.woff2') format('woff2'),
         url('../fonts/lato-bold_0.woff') format('woff'),
         url('../fonts/lato-bold_0.ttf') format('truetype');
    font-display: swap;
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-bolditalic_0.woff2') format('woff2'),
         url('../fonts/lato-bolditalic_0.woff') format('woff'),
         url('../fonts/lato-bolditalic_0.ttf') format('truetype');
    font-display: swap;
    font-weight: 700;
    font-style: italic;

}