/*! CSS Used from: https://b-pro.com.ua/assets/site/assets_rev/libs/font-awesome/css/fontawesome-all.css */
.fa-2x{font-size:2em;}
.fa-chevron-right:before{content:"\f054";}
.fa-facebook-f:before{content:"\f39e";}
.fa-instagram:before{content:"\f16d";}
.fa-youtube:before{content:"\f167";}
/*! CSS Used from: https://b-pro.com.ua/assets/site/assets_rev/libs/bootstrap/bootstrap.css */
:root{--blue:#007bff;--indigo:#6610f2;--purple:#6f42c1;--pink:#e83e8c;--red:#dc3545;--orange:#fd7e14;--yellow:#ffc107;--green:#28a745;--teal:#20c997;--cyan:#17a2b8;--white:#fff;--gray:#6c757d;--gray-dark:#343a40;--primary:#007bff;--secondary:#6c757d;--success:#28a745;--info:#17a2b8;--warning:#ffc107;--danger:#dc3545;--light:#f8f9fa;--dark:#343a40;--breakpoint-xs:0;--breakpoint-sm:576px;--breakpoint-md:768px;--breakpoint-lg:992px;--breakpoint-xl:1200px;--font-family-sans-serif:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";--font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;}
*,::after,::before{box-sizing:border-box;}
html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-ms-overflow-style:scrollbar;-webkit-tap-highlight-color:transparent;}
footer,header,section{display:block;}
body{margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left;background-color:#fff;}
[tabindex="-1"]:focus{outline:0!important;}
h2,h3{margin-top:0;margin-bottom:.5rem;}
p{margin-top:0;margin-bottom:1rem;}
ul{margin-top:0;margin-bottom:1rem;}
ul ul{margin-bottom:0;}
b{font-weight:bolder;}
a{color:#007bff;text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects;}
a:hover{color:#0056b3;text-decoration:underline;}
a:not([href]):not([tabindex]){color:inherit;text-decoration:none;}
a:not([href]):not([tabindex]):focus,a:not([href]):not([tabindex]):hover{color:inherit;text-decoration:none;}
a:not([href]):not([tabindex]):focus{outline:0;}
img{vertical-align:middle;border-style:none;}
svg:not(:root){overflow:hidden;}
label{display:inline-block;margin-bottom:.5rem;}
button{border-radius:0;}
button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color;}
button,input,textarea{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button,input{overflow:visible;}
button{text-transform:none;}
[type=submit],button,html [type=button]{-webkit-appearance:button;}
[type=button]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none;}
textarea{overflow:auto;resize:vertical;}
h2,h3{margin-bottom:.5rem;font-family:inherit;font-weight:500;line-height:1.2;color:inherit;}
h2{font-size:2rem;}
h3{font-size:1.75rem;}
.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
@media (min-width:576px){
.container{max-width:540px;}
}
@media (min-width:768px){
.container{max-width:720px;}
}
@media (min-width:992px){
.container{max-width:960px;}
}
@media (min-width:1200px){
.container{max-width:1140px;}
}
.row{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
.col-12,.col-lg-2,.col-lg-4,.col-lg-6,.col-md-12,.col-xl-2,.col-xl-4,.col-xl-6{position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px;}
.col-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;}
@media (min-width:768px){
.col-md-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;}
}
@media (min-width:992px){
.col-lg-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%;}
.col-lg-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%;}
.col-lg-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%;}
}
@media (min-width:1200px){
.col-xl-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%;}
.col-xl-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%;}
.col-xl-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%;}
}
.btn{display:inline-block;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.btn:focus,.btn:hover{text-decoration:none;}
.btn:focus{outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25);}
.btn:disabled{opacity:.65;}
.fade{opacity:0;transition:opacity .15s linear;}
.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;outline:0;}
.modal-dialog{position:relative;width:auto;margin:.5rem;pointer-events:none;}
.modal.fade .modal-dialog{transition:-webkit-transform .3s ease-out;transition:transform .3s ease-out;transition:transform .3s ease-out,-webkit-transform .3s ease-out;-webkit-transform:translate(0,-25%);transform:translate(0,-25%);}
.modal-dialog-centered{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;min-height:calc(100% - (.5rem * 2));}
.modal-content{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;width:100%;pointer-events:auto;background-color:#fff;background-clip:padding-box;border:1px solid rgba(0,0,0,.2);border-radius:.3rem;outline:0;}
@media (min-width:576px){
.modal-dialog{max-width:500px;margin:1.75rem auto;}
.modal-dialog-centered{min-height:calc(100% - (1.75rem * 2));}
}
@media print{
*,::after,::before{text-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
img{page-break-inside:avoid;}
h2,h3,p{orphans:3;widows:3;}
h2,h3{page-break-after:avoid;}
body{min-width:992px!important;}
.container{min-width:992px!important;}
}
/*! CSS Used from: https://b-pro.com.ua/assets/site/assets_rev/css/app.css?v27081538 */
::-webkit-input-placeholder{color:#B0B0B0;}
::-moz-placeholder{color:#B0B0B0;}
:-ms-input-placeholder{color:#B0B0B0;}
:-moz-placeholder{color:#B0B0B0;}
input:focus::-webkit-input-placeholder{color:transparent;}
input:focus:-moz-placeholder{color:transparent;}
input:focus::-moz-placeholder{color:transparent;}
input:focus:-ms-input-placeholder{color:transparent;}
input,textarea,button{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
input,textarea,button{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
::-webkit-scrollbar{width:10px;height:0px;}
::-webkit-scrollbar-thumb{background:#c1c1c1;}
::-webkit-scrollbar-thumb{width:10px;height:0px;}
::-webkit-scrollbar-track{background:#fff;}
html,body,div,span,iframe,h2,h3,p,a,img,b,i,ul,li,form,label,footer,header,section,audio,input,textarea{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
img{max-width:100%;height:auto;}
footer,header,section{display:block;}
body{line-height:1.4;color:#333333;font-family:"Lato", 'Arial', sans-serif;transition:0s;background:#FBFAFA;}
ul{list-style:none;}
input:focus,button,button:focus,textarea{outline:none;}
button{cursor:pointer;}
.catalog-nav .catalog-menu .subitem li p{font-family:"Roboto", sans-serif;}
button{background-color:transparent;border:none;}
.row:after{content:"";clear:both;display:block;}
a:focus,a:active{color:initial;outline:0;text-decoration:none;}
a:hover{color:initial;text-decoration:none;}
a,input[type=submit]{transition:all 0.3s ease;color:inherit;}
textarea{resize:none;}
.btn{outline:none;box-shadow:none;border:1px solid transparent;background:transparent;font-size:14px;font-weight:500;min-width:120px;padding:10px 15px;moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;display:inline-block;}
.btn:focus{outline:none;box-shadow:none;}
.btn.btn-blue{color:#fff;background-image:linear-gradient(to right, #297FFF, #4CA8FD, #4CA8FD, #297FFF);border-radius:2px;background-size:300% 100%;}
.btn.btn-blue:hover,.btn.btn-blue:focus,.btn.btn-blue:active{background-position:100% 0;}
.hamburger:hover{cursor:pointer;}
.overlay{display:none;position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.33);}
.section-title{font-size:28px;text-align:center;font-weight:600;margin:0 0 35px;}
.review-carousel .slide-item{display:none;}
.review-carousel .slide-item:first-child{display:block;}
.main-slider2 .slide-item>a{display:block;width:100%;height:100%;background-size:cover!important;}
.btn-top{position:fixed;right:15px;bottom:15px;z-index:100;width:40px;height:40px;align-items:center;justify-content:center;border-radius:50px;background:rgba(41, 127, 255, 0.61);display:none;}
.btn-top svg{transform:rotate(-90deg);width:15px;height:15px;fill:#fff;color:#fff;}
.seo{background:#fff;}
.seo .seo-block{max-width:750px;margin:0 auto;position:relative;}
.seo .inner-seo:after{height:30px;width:100%;position:absolute;bottom:0;left:0;background-image:-webkit-linear-gradient(bottom, #fff, rgba(255, 255, 255, 0));content:'';}
.seo .inner-seo:empty{display:none;}
.seo .inner-seo:empty + .show-more-btn{display:none;}
.seo .show-more-btn{max-width:750px;margin:20px auto 0;}
.seo .show_more_seo{font-size:14px;color:#297FFF;display:inline-block;border-bottom:1px dashed transparent;}
.seo .show_more_seo:hover{border-bottom:1px dashed #297FFF;}
header{background:#fff;box-shadow:0px 2px 10px rgba(0, 0, 0, 0.06);}
header .top-nav{padding:10px 0;border-bottom:0.5px solid #D9D9D9;}
header .top-nav .container{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center;}
header .top-nav .main-menu ul{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-wrap:wrap;}
header .top-nav .main-menu ul li{margin:0 25px 0 0;}
header .top-nav .main-menu ul li:nth-last-child(1){margin:0;}
header .top-nav .main-menu ul li a{color:#8D8D8D;font-size:12px;}
header .top-nav .main-menu ul li a:hover{color:#297FFF;}
header .top-nav .contacts_language{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-wrap:wrap;}
header .top-nav .contacts_language .contacts{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-wrap:wrap;}
header .top-nav .contacts_language .contacts>a,header .top-nav .contacts_language .contacts .head-tel{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;align-items:center;flex-wrap:wrap;font-size:12px;color:#8D8D8D;margin:0 25px 0 0;}
.head-tel{width:138px;position:relative;z-index:3;}
.head-tel ul:hover>li{display:block;}
header .top-nav .contacts_language .contacts .head-tel ul{top:1.5px;padding-top:3px;padding-bottom:3px;}
.head-tel ul{position:absolute;left:0;right:0;top:0;margin:0;background:#FFF;padding-right:10px;}
.head-tel ul:hover{box-shadow:0 0 3px 1px #8D8D8D;}
.head-tel ul:after{content:'';position:absolute;z-index:0;cursor:pointer;right:3px;top:9px;border-left:4px solid transparent;border-right:4px solid transparent;border-top:6px solid #8D8D8D;}
.head-tel ul:hover:after{border-top-color:#007bff;}
.head-tel li{display:none;}
.head-tel li.active{display:block;}
.head-tel li a{display:block;padding:0 0 3px 3px;color:#8D8D8D;background:#FFF;}
header .top-nav .contacts_language .contacts a svg{margin:0 5px 0 0;transition:all 0.3s ease;}
header .top-nav .contacts_language .contacts a:hover{color:#297FFF;}
header .top-nav .contacts_language .contacts a:hover svg{fill:#297FFF;}
header .top-nav .contacts_language .language{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;}
header .top-nav .contacts_language .language li{margin:0 10px 0 0;}
header .top-nav .contacts_language .language li:nth-last-child(1){margin:0;}
header .top-nav .contacts_language .language li a{font-size:12px;color:#8D8D8D;text-transform:uppercase;font-weight:400;border-bottom:1px solid transparent;}
header .top-nav .contacts_language .language li a.active{color:#297FFF;border-bottom:1px solid transparent!important;font-weight:600;}
header .top-nav .contacts_language .language li a:hover{border-bottom:1px dashed #8D8D8D;}
header .bottom-nav{padding:20px 0;}
header .bottom-nav .container{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-wrap:wrap;align-items:center;}
header .bottom-nav .logo{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-wrap:wrap;align-items:center;margin:0 20px 0 0;}
header .bottom-nav .logo img{display:block;}
header .bottom-nav .logo p{position:relative;color:#8c8f94;opacity:0.75;padding:0 0 0 25px;font-size:15px;line-height:18px;}
header .bottom-nav .logo p:before{content:"";width:1px;height:calc(100% + 10px);background:#D9D9D9;opacity:0.75;left:10px;top:-5px;position:absolute;}
header .bottom-nav .for-client{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-wrap:wrap;}
header .bottom-nav .for-client a{font-size:15px;line-height:18px;color:#297FFF;font-weight:500;opacity:0.75;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;align-items:center;flex-wrap:wrap;margin:0 40px 0 0;}
header .bottom-nav .for-client a:nth-last-child(1){margin:0;}
header .bottom-nav .for-client a svg{margin:0 10px 0 0;}
header .bottom-nav .for-client a:hover{opacity:1;}
header .bottom-nav .search-form{position:relative;width:320px;padding:0 55px 0 0;margin:0 15px 0 15px;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;align-items:center;}
header .bottom-nav .search-form .search-field{width:100%;height:36px;font-size:15px;font-weight:300;color:#333333;padding:9px 10px 9px 15px;background:#FFF;border-top-left-radius:20px;border-bottom-left-radius:20px;border:1px solid #e6e6e6;border-right:0;}
header .bottom-nav .search-form .search-field:focus{border:1px solid #5F9FFF;}
header .bottom-nav .search-form .search-submit{position:absolute;width:55px;height:36px;border-top-right-radius:20px;border-bottom-right-radius:20px;background:#297FFF;opacity:0.75;right:0;top:0;cursor:pointer;transition:all 0.3s ease;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;align-items:center;justify-content:center;outline:none;}
header .bottom-nav .search-form .search-submit:hover{opacity:1;}
header .basket{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-wrap:wrap;align-items:center;position:relative;font-size:15px;line-height:17px;color:#297FFF;}
header .basket .total{background:#09b55a;font-size:10px;width:15px;height:15px;line-height:15px;color:#fff;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;align-items:center;justify-content:center;border-radius:50px;top:0;left:20px;position:absolute;}
header .basket svg{margin:0 10px 0 0;fill:#297FFF;transition:all 0.3s ease;width:30px;height:30px;}
header .basket .price{font-size:15px;font-weight:600;}
header .basket:hover{color:#00327D;}
header .basket:hover svg{fill:#00327D;}
header .mob-nav{display:none;}
header .mob-nav .mob-top-nav{padding:10px 0;}
header .mob-nav .mob-bottom-nav{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-wrap:wrap;border-top:1px solid #EEEEEE;}
header .mob-nav .mob-bottom-nav a{width:50%;}
header .mob-nav .mob-bottom-nav .mob-catalog-btn{padding:10px;font-size:11px;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-wrap:wrap;align-items:center;justify-content:center;}
header .mob-nav .mob-bottom-nav .mob-catalog-btn img{margin:0 0 0 5px;}
header .mob-nav .mob-bottom-nav .download{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;align-items:center;justify-content:center;padding:10px;font-size:11px;color:#297FFF;}
header .mob-nav .mob-bottom-nav .download svg{margin:0 5px 0 0;}
header .mob-nav .container{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-wrap:wrap;justify-content:space-between;}
header .mob-nav .head-tel ul{width:124px;}
header .mob-nav .head-tel li a{font-size:11px;}
header .mob-nav .head-tel ul:after{display:inline-block;right:25px;top:6px;}
header .mob-nav .mob-main-nav,header .mob-nav .mobile-tel-box{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-direction:column;}
header .mob-nav .mob-main-nav .img,header .mob-nav .mobile-tel-box .img{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;align-items:center;height:18px;margin:0 0 5px;justify-content:center;}
header .mob-nav .mob-main-nav .text,header .mob-nav .mobile-tel-box .text{font-size:11px;text-align:center;display:block;color:#007bff;}
header .mob-nav .logo{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-direction:column;}
header .mob-nav .logo .img{height:18px;align-items:center;justify-content:center;margin:0 0 5px;}
header .mob-nav .logo img{width:45px;}
header .mob-nav .logo span{font-size:7px;text-align:center;color:#ADADAD;opacity:0.75;}
header .mob-nav .basket{flex-direction:column;}
header .mob-nav .basket .img{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;align-items:center;justify-content:center;height:18px;margin:0 0 5px;}
header .mob-nav .basket .total{width:11px;height:11px;font-size:7px;}
header .mob-nav .basket img{width:20px;}
header .mob-menu{display:none;position:fixed;left:0;background:#fff;top:0;z-index:999;-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);width:100%;height:100%;max-height:100%;-webkit-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;overflow:auto;padding:0;display:block;}
header .mob-menu .top-item{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center;padding:10px;border-bottom:1px solid #EEEEEE;}
header .mob-menu .top-item .phone{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;align-items:center;font-size:14px;}
header .mob-menu .top-item .phone svg{margin:0 5px 0 0;}
header .mob-menu .top-item .mob-item{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-wrap:wrap;align-items:center;}
header .mob-menu .top-item .mob-item .language{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;}
header .mob-menu .top-item .mob-item .language li{margin:0 10px 0 0;}
header .mob-menu .top-item .mob-item .language li a{font-size:12px;color:#8D8D8D;text-transform:uppercase;font-weight:400;}
header .mob-menu .top-item .mob-item .language li a.active{color:#297FFF;font-weight:600;}
header .mob-menu .top-item .mob-item .close-menu img{width:16px;height:16px;display:block;margin:0 0 0 10px;}
header .mob-menu .for-client{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-wrap:wrap;padding:10px 20px;border-bottom:1px solid #EEEEEE;justify-content:space-between;}
header .mob-menu .for-client a{font-size:11px;color:#297FFF;font-weight:500;opacity:0.75;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;align-items:center;flex-wrap:wrap;}
header .mob-menu .for-client a:nth-last-child(1){margin:0;}
header .mob-menu .for-client a svg{margin:0 10px 0 0;}
header .mob-menu .for-client a:hover{opacity:1;}
header .mob-menu .mob-bottom-nav.item .mob-catalog-btn{width:100%;border-radius:0;}
header .mob-menu .main-mob-nav{padding:35px 10px;border-bottom:1px solid #EEEEEE;}
header .mob-menu .main-mob-nav ul li{display:block;margin:0 0 15px;}
header .mob-menu .main-mob-nav ul li a{display:inline-block;font-size:16px;}
header .mob-menu .main-mob-nav .mail{margin:30px 0 0;font-size:14px;}
header .mob-search{display:none;left:0;top:97px;z-index:9;width:100%;padding:10px;background:#fff;border-top:1px solid #EEEEEE;}
header .mob-search .form-block{position:relative;width:100%;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;align-items:center;}
header .mob-search .form-block input{width:100%;font-size:12px;color:#333333;padding:9px 10px;background:#FAFAFA;border-top-left-radius:5px;border-bottom-left-radius:5px;border:1px solid transparent;}
header .mob-search .form-block input:focus{border:1px solid #5F9FFF;}
header .mob-search .form-block .search-submit{position:absolute;width:55px;height:36px;border-top-right-radius:5px;border-bottom-right-radius:5px;background:#297FFF;opacity:0.75;right:0;top:0;cursor:pointer;transition:all 0.3s ease;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;align-items:center;justify-content:center;}
.catalog-nav{width:295px;}
.catalog-nav .catalog-btn{display:block;width:100%;position:relative;background:#3E78FE;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;align-items:center;flex-wrap:wrap;color:#fff;font-size:17px;padding:8px 10px;border-top-left-radius:5px;border-top-right-radius:5px;}
.catalog-nav .catalog-btn:after{content:"";background:url(https://b-pro.com.ua/assets/site/assets_rev/img/icons/catalog-arrow.svg) center no-repeat;background-size:cover;width:14px;height:14px;position:absolute;transform:translate(0, -50%) rotate(0);top:50%;right:10px;transition:all 0.3s ease;}
.catalog-nav .catalog-btn img{margin:0 10px 0 0;}
.catalog-nav .hover-block{position:absolute;width:100%;z-index:10;display:none;}
.catalog-nav .catalog-menu{position:static;top:37px;flex-direction:column;border:1px solid #CDDDFE;border-bottom-left-radius:5px;border-bottom-right-radius:5px;border-top:none;width:295px;padding:0 0 15px;background:#fff;z-index:10;}
.catalog-nav .catalog-menu li{display:block;width:100%;}
.catalog-nav .catalog-menu li:hover .catalog-elem{color:#297FFF;}
.catalog-nav .catalog-menu li .catalog-elem{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;align-items:flex-start;padding:7px 20px 7px 10px;position:relative;font-size:15px;margin-right:-5px;}
.catalog-nav .catalog-menu li .catalog-elem:hover{color:#297FFF;}
.catalog-nav .catalog-menu li .catalog-elem .sidebar-ico{display:block;margin:3px 10px 0 0;}
.catalog-nav .catalog-menu li .catalog-elem svg{width:9px;height:9px;position:absolute;right:10px;top:50%;transition:all 0.3s ease;transform:translate(0%, -50%);display:none;}
.catalog-nav .catalog-menu li.has-child svg{display:block;}
.catalog-nav .catalog-menu .subitem{position:absolute;top:0px;left:295px;width:calc(100% - 325px);display:none;border:1px solid #CDDDFE;padding:20px 20px 0;background:#fff;z-index:1;max-height:675px;overflow:auto;height:100%;}
.tagline .catalog-nav .catalog-menu .subitem{max-height:633px;}
.catalog-nav .catalog-menu .subitem .submenu{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-wrap:wrap;width:100%;}
.catalog-nav .catalog-menu .subitem li{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-direction:column;justify-content:center;margin:0 20px 20px 0;width:calc((100% / 5) - 16px);}
.catalog-nav .catalog-menu .subitem li a{padding:10px 15px 20px;height:100%;border:1px solid #E3E8F3;}
.catalog-nav .catalog-menu .subitem li a:hover{border:1px solid #297FFF;}
.catalog-nav .catalog-menu .subitem li a:hover p{color:#297FFF;}
.catalog-nav .catalog-menu .subitem li:nth-child(5n){margin:0 0 20px;}
.catalog-nav .catalog-menu .subitem li .img{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;align-items:center;justify-content:center;min-height:100px;margin:0 0 10px;}
.catalog-nav .catalog-menu .subitem li p{color:#000;font-size:15px;text-align:center;transition:all 0.3s ease;word-wrap:break-word;}
.catalog-nav .mob-top-elem{display:none;}
.catalog-nav:hover .catalog-btn:after{transform:translate(0, -50%) rotate(180deg);}
.tagline{padding:20px 0 0;}
.tagline .container{position:relative;z-index:1;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-wrap:wrap;}
.tagline .catalog-nav .catalog-btn:after{content:none;}
.tagline .catalog-nav .hover-block{position:static;display:block;}
.tagline .catalog-nav .catalog-menu{position:static;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;}
.tagline .catalog-nav .catalog-menu .subitem{top:37px;left:310px;width:calc(100% - 325px);z-index:99;}
.main-slider2.owl-carousel{width:calc(100% - 315px);margin:0 0 0 20px;max-height:520px;overflow:hidden;}
.main-slider2.owl-carousel{overflow:visible;}
.main-slider2 .slide-item{display:-webkit-flex!important;display:-moz-flex!important;display:-ms-flex!important;display:-o-flex!important;display:flex!important;flex-direction:column;align-items:flex-start;padding:50px 50px 50px 110px;justify-content:center;height:520px;position:relative;overflow:hidden;}
.main-slider2 .slide-item{padding:0;}
.main-slider2 .owl-prev{left:0;}
.main-slider2 .owl-next{right:0;}
.main-slider2.owl-theme .owl-dots .owl-dot span{padding:0;font-size:0;width:11px;height:11px;border-radius:50px;background:linear-gradient(99.55deg, #3E78FE 16.46%, #23A2EA 88.48%);opacity:0.35;transition:all 0.3s ease;}
.main-slider2.owl-theme .owl-dots .owl-dot span:hover,.main-slider2.owl-theme .owl-dots .owl-dot.active span{background:linear-gradient(99.55deg, #3E78FE 16.46%, #23A2EA 88.48%);opacity:1;}
.popular-product{padding:80px 0 0;}
.popular-product.item{padding:80px 0;}
.product-block{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-wrap:wrap;}
.product-block.inner-product-block .product-elem{width:calc((100% / 4) - (90px / 4));margin:0 30px 30px 0;}
.product-block.inner-product-block .product-elem:nth-child(4n){margin:0 0 30px;}
.product-block .product-elem{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;background:#FFFFFF;box-shadow:0px 2px 10px rgba(0, 0, 0, 0.06);flex-direction:column;min-height:430px;transition:all 0.3s ease;}
.product-block .product-elem:hover{box-shadow:0px 1px 25px rgba(0, 0, 0, 0.12);}
.product-block .product-elem .img{height:185px;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;align-items:center;justify-content:center;}
.product-block .product-elem .img img{display:block;object-fit:cover;max-height:185px;}
.product-block .product-elem .product-item{margin:0 0 auto;min-height:170px;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-direction:column;justify-content:space-between;}
.product-block .product-elem .info-block{padding:15px;}
.product-block .product-elem .price-block{padding:0 15px;}
.product-block .product-elem .product-type{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;font-size:12px;color:#9A9A9A;}
.product-block .product-elem .product-type:hover{text-decoration:underline;}
.product-block .product-elem .product-type img{margin:0 5px 0 0;}
.product-block .product-elem .title{font-size:14px;color:#333333;margin:10px 0 5px;display:inline-block;transition:all 0s ease;}
.product-block .product-elem .title:hover{text-decoration:underline;color:#297FFF;}
.product-block .product-elem .product-code{color:#999999;font-size:12px;}
.product-block .product-elem .status{font-size:12px;color:#528723;margin:0 0 5px;}
.product-block .product-elem .price{font-size:24px;font-weight:700;color:#B8B8B8;margin-bottom:5px;}
.product-block .product-elem .button{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;min-height:58px;padding:0 15px 15px;}
.product-block .product-elem .button a{margin:0 25px 0 0;}
.product-block .product-elem .button a:nth-last-child(1){margin:0 25px 0 0;}
.product-block .product-elem .button .read-more{font-size:13px;color:#4DA8FD;border-bottom:1px solid transparent;padding:3px 0;margin:0 auto!important;}
.product-block .product-elem .button .read-more:hover{border-bottom:1px dashed #4DA8FD;}
.product-block .product-elem.in-stock .price{color:#333333;}
.product-block .product-elem.in-stock .button{justify-content:space-between;}
.product-block .product-elem.in-stock .button a:nth-last-child(1){margin:0;}
.main-show-more{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;justify-content:center;position:relative;}
.main-show-more .show-more-btn span{border-bottom:1px solid transparent;transition:all 0.3s ease;font-size:16px;color:#297FFF;}
.main-show-more .show-more-btn span:not(.hide){margin-top:15px;display:inline-block;}
.main-show-more .show-more-btn img{vertical-align:middle;margin:0 0 0 10px;}
.main-show-more .show-more-btn:hover span{border-bottom:1px dashed #297FFF;}
.main-show-more .ready-sets{position:absolute;right:0;top:50%;transform:translate(0, -50%);}
.main-show-more .ready-sets span{border-bottom:1px solid transparent;transition:all 0.3s ease;font-size:16px;color:#297FFF;}
.main-show-more .ready-sets img{vertical-align:middle;margin:0 0 0 10px;transform:rotate(-90deg);}
.main-show-more .ready-sets:hover span{border-bottom:1px dashed #297FFF;}
.main-slider2 .owl-dots,.review-carousel .owl-dots{bottom:-30px;}
.main-slider2.owl-loaded{visibility:visible;opacity:1;}
.main-slider2{visibility:hidden;opacity:0;}
.reviews{padding:50px 0 30px;}
.reviews .show-more-btn{margin:40px auto 0;}
.reviews .show-more-btn img{transform:rotate(-90deg);}
.review-carousel{padding:0 40px;}
.review-carousel .slide-item{display:-webkit-flex!important;display:-moz-flex!important;display:-ms-flex!important;display:-o-flex!important;display:flex!important;flex-wrap:wrap;}
.review-carousel .slide-item .img{width:130px;border-top-left-radius:5px;border-bottom-left-radius:10px;background:linear-gradient(93.14deg, #297FFF 16.46%, #4CA8FD 88.48%);}
.review-carousel .slide-item .review-block{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-direction:column;width:calc(100% - 130px);padding:25px 65px 65px;background:#fff;box-shadow:0px 1px 5px rgba(0, 0, 0, 0.09);border-top-right-radius:2px;border-bottom-right-radius:2px;}
.review-carousel .slide-item .review-block .reviewer{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-direction:column;position:relative;margin:25px 0 0;padding-right:30px;}
.review-carousel .slide-item .review-block .reviewer .name{position:relative;font-size:16px;font-weight:600;padding:0 0 0 20px;}
.review-carousel .slide-item .review-block .reviewer .name:before{content:"";width:15px;height:2px;background:#333;position:absolute;top:50%;margin-top:-1px;left:0;margin:0 0 10px;}
.review-carousel .slide-item .review-block .reviewer .position{font-size:12px;color:#999;}
.review-carousel .slide-item .review-block .reviewer img{position:absolute;right:0;top:50%;transform:translate(0, -50%);display:none;}
.advantages{background:#fff;padding:85px 0 0px;}
.advantages .advantages-block{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-wrap:wrap;}
.advantages .advantages-block .advantages-elem{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-direction:column;width:25%;padding:0 30px 0 0;}
.advantages .advantages-block .advantages-elem:nth-last-child(1){padding:0;}
.advantages .advantages-block .advantages-elem .img{height:40px;width:40px;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;align-items:center;justify-content:center;margin:0 0 15px;}
.advantages .advantages-block .advantages-elem .title{font-size:16px;font-weight:600;margin:0 0 10px;}
.advantages .advantages-block .advantages-elem .description{font-size:14px;color:#939393;}
.price-block  .old-price{font-size:14px;color:#BDBDBD;position:relative;display:inline-block;margin:0 0 5px;text-decoration-line:line-through;text-decoration-color:#FF1B1B;}
footer{background:#f4f4f4;padding:55px 0 70px;margin:85px 0 0;}
footer .bottom-nav{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-wrap:wrap;}
footer .bottom-contacts .title,footer .bottom-nav .title{width:100%;color:#181e28;font-size:19px;font-weight:700;margin:0 0 10px;}
footer .bottom-nav ul{width:100%;}
footer .bottom-nav ul li{margin:0 0 5px;}
footer .bottom-nav ul li a{color:#50545c;font-size:16px;}
footer .bottom-nav ul li a:hover{color:#1151fb;}
footer .bottom-nav.item > ul{width:calc(50% - 30px);}
footer .bottom-nav.item > ul:nth-last-child(1){margin:0;}
footer .bottom-contacts .address{color:#50545c;font-size:17px;margin:20px 0 0;}
footer .bottom-contacts .phone{padding-top:10px;color:#50545c;font-size:17px;margin:0 0 35px;}
footer .bottom-contacts .phone a{margin:0 0 0 5px;color:#50545c;}
footer .bottom-contacts .phone a:after{content:',';}
footer .bottom-contacts .phone a:last-child:after{display:none;}
footer .bottom-contacts .phone a:hover{color:#297FFF;}
footer .bottom-contacts .social a{width:34px;height:34px;padding-top:7px;background:#82a2f8;display:inline-block;text-align:center;vertical-align:top;border-radius:100%;margin:0 10px 0 0;}
footer .bottom-contacts .social a.youtube-icon{padding-top:8px;}
footer .bottom-contacts .social a:hover{background:transparent;}
footer .bottom-contacts .social a:hover svg path{fill:#82a2f8;}
footer .bottom-contacts .social svg{max-width:20px;max-height:20px;}
footer .bottom-contacts .social svg path{fill:#FFF;}
footer .bottom-contacts .social a:nth-last-child(1){margin:0;}
footer .bottom-info{padding:0 0 0 40px;}
footer .bottom-logo{width:320px;overflow:hidden;}
footer .bottom-logo-img{width:195px;float:left;}
footer .bottom-logo-txt{margin-left:200px;padding-top:18px;font-size:18px;line-height:20px;color:#50545c;text-decoration:none;}
.modal-consultation .modal-dialog{max-width:600px;}
.modal-consultation .modal-content{padding:45px 30px;}
.modal-consultation .modal-content .info-block{width:100%;padding:0;}
.modal-dialog{max-width:900px;position:relative;}
.modal-content{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-wrap:wrap;align-items:center;padding:45px 30px 65px;background:#FBFAFA;border-radius:2px;flex-direction:row;position:relative;}
.modal-content .close-modal__{position:absolute;right:10px;top:10px;}
.modal .thx-block{display:none;text-align:center;width:100%;}
.modal .thx-block .title{text-align:center;font-size:24px;margin:10px 0;font-weight:600;}
.thx-block .title{text-align:center;font-size:24px;margin:10px 0;font-weight:normal!important;}
.modal-content .info-block{width:calc(100% - 330px);padding:0 30px 0 0;}
.modal-content .info-block .title{text-align:center;font-size:24px;margin:0 0 10px;}
.modal-content .info-block .subtitle{font-size:18px;margin:0 0 30px;text-align:center;}
.modal-content .info-block form{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-direction:column;width:290px;margin:0 auto;}
.modal-content .info-block form label{display:block;width:100%;margin:0 0 25px;}
.modal-content .info-block form label span{font-size:14px;margin:0 0 5px;}
.modal-content .info-block form label .form-element{display:block;width:100%;background:#fff;font-size:14px;padding:8px 10px;border:1px solid #BCBCBC;border-radius:2px;}
.modal-content .info-block form label .form-element:focus{border:1px solid #5F9FFF;}
.modal-content .info-block form .form-btn{width:100%;}
@media screen and (max-width: 1440px){
.catalog-nav .catalog-btn{font-size:15px;}
.catalog-nav .catalog-menu li .catalog-elem{font-size:14px;}
.catalog-nav .catalog-menu .subitem li p{font-size:12px;}
}
@media screen and (max-width: 1199px){
.product-block.inner-product-block .product-elem .button a:nth-last-child(1){margin:0;}
.product-block.inner-product-block .product-elem .button .btn.btn-blue{padding:6px 10px;margin:0 10px 0 0;width:100px;min-width:initial;}
.product-block .product-elem .img img{height:100%;}
header .bottom-nav .search-form{width:235px;margin:0 14px;}
footer .bottom-nav.item ul{width:50%;}
}
@media screen and (max-width: 991px){
header .basket svg{width:25px;height:25px;}
body{background:#fff;}
.product-block.inner-product-block{flex-direction:row;}
header .top-nav .main-menu ul li{margin:0 10px 0 0;}
header .top-nav .contacts_language .contacts>a,header .top-nav .contacts_language .contacts .head-tel{margin:0 15px 0 0;}
header .top-nav .main-menu ul li{display:inline-block;line-height:1;}
header .top-nav .contacts_language .language li{display:inline-block;line-height:1;}
header .bottom-nav .for-client a{font-size:12px;margin:0 6px;}
header .bottom-nav .logo{margin:0;}
header .bottom-nav .logo img{width:70px;}
header .bottom-nav .logo p{padding:0 0 0 20px;font-size:12px;}
header .bottom-nav .basket .total{left:10px;}
header .bottom-nav .search-form{margin:0 10px;width:165px;padding:0 30px 0 0;}
header .bottom-nav .search-form .search-submit{width:30px;}
.product-block.inner-product-block .product-elem{width:calc((100% / 3) - 20px);margin:0 30px 30px 0!important;}
.product-block.inner-product-block .product-elem:nth-child(3n){margin:0 0 30px!important;}
.product-block.inner-product-block{justify-content:center;}
.review-carousel .slide-item .review-block .reviewer img{right:0;}
footer .bottom-nav.item ul:nth-last-child(1){padding:0 15px;}
footer [class*=col-]{margin:0 0 15px;}
footer [class*=col-]:nth-last-child(1){margin:0;}
footer .bottom-info{padding:0;justify-content:center;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;align-items:center;}
}
@media screen and (max-width: 767px){
.product-block.inner-product-block .product-elem .button .btn.btn-blue{width:50%;text-align:center;margin:0;min-width:initial;}
.product-block .product-elem .button a:nth-last-child(1){width:50%;text-align:center;}
.product-block .product-elem .button .btn.btn-blue{width:50%;text-align:center;margin:0;min-width:initial;}
.product-block .product-elem .button a{margin:0;width:50%;min-width:initial;}
.catalog-nav .hover-block{z-index:1000;}
.reviews .show-more-btn{margin:55px auto 0;}
.product-block .product-elem .img img{height:initial;}
.product-block.inner-product-block .product-elem{max-width:260px;}
.modal{padding:0!important;}
.modal-content .info-block{padding:0;width:100%;}
.modal-content .info-block form{width:100%;}
.modal-dialog{max-width:300px;margin:0 auto;}
.modal-content .info-block .title{font-size:18px;}
.modal-content .info-block .subtitle{font-size:14px;}
.modal-content{flex-direction:column;padding:25px;}
.tagline .catalog-nav .catalog-menu .subitem{left:0;top:0;width:100%;}
.catalog-nav .hover-block{display:block;}
header .top-nav,header .bottom-nav{display:none;}
header .mob-nav{display:block;width:100%;}
.catalog-nav{-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);width:100%;height:100%;position:fixed;z-index:997;-webkit-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;overflow:auto;top:0;left:0;}
.main-slider2.owl-carousel{width:100%;margin:0;}
.main-slider2 .slide-item{height:250px;}
.section-title{margin:0 0 20px;font-size:18px;}
.product-block.inner-product-block .product-elem,.product-block.inner-product-block .product-elem:nth-child(3n){width:100%;margin:0 15px 30px 0!important;max-width:calc(50% - 8px);min-height:inherit;}
.product-block.inner-product-block .product-elem:nth-child(3n){margin-right:15px;}
.product-block.inner-product-block .product-elem:nth-child(2n){margin-right:0!important;}
.main-show-more .ready-sets{display:none;}
.popular-product.item{padding:50px 0;}
.btn{font-size:13px;padding:6px 15px;min-width:140px;}
.review-carousel .slide-item{flex-direction:column;}
.review-carousel .slide-item .img{width:100%;height:70px;border-top-left-radius:2px;border-top-right-radius:2px;border-bottom-left-radius:0px;}
.review-carousel .slide-item .review-block{padding:35px 10px;width:100%;}
.review-carousel .slide-item .review-block .reviewer .position,.review-carousel .slide-item .review-block .reviewer .name{max-width:inherit;}
.review-carousel{padding:0;padding-top:30px;}
.review-carousel .owl-item{padding:10px;}
.advantages{padding:50px 0;margin-bottom:-50px;}
.advantages{flex-direction:column;}
.advantages .advantages-block .advantages-elem{width:100%;padding:0 0 30px;}
footer .bottom-info{flex-direction:column;}
.catalog-nav .hover-block{position:static!important;}
.catalog-nav .catalog-menu{width:100%;margin:0;padding:0;box-shadow:0px 2px 10px rgba(0, 0, 0, 0.27);border-radius:0!important;}
.catalog-nav .catalog-btn{display:none!important;}
.catalog-nav .mob-top-elem{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;justify-content:space-between;flex-wrap:wrap;padding:10px;background:#F6F6F6;position:relative;}
.catalog-nav .mob-top-elem .back{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;align-items:center;font-size:14px;}
.catalog-nav .mob-top-elem .back img{margin:0 5px 0 0;}
.catalog-nav .mob-top-elem .title{font-size:14px;font-weight:600;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-wrap:wrap;align-items:center;}
.catalog-nav .mob-top-elem .title span{margin:0 0 0 5px;}
.catalog-nav .catalog-menu .subitem{position:fixed;left:0;top:0;z-index:998;-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);width:100%;height:100%;max-height:100%;-webkit-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;overflow:auto;padding:0;display:block;}
.catalog-nav .catalog-menu li.has-child:hover .subitem{-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);-webkit-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
.catalog-nav .catalog-menu .subitem .submenu{padding:10px;}
.catalog-nav .catalog-menu .subitem li{width:calc(50% - 5px);margin:0 10px 10px 0!important;}
.catalog-nav .catalog-menu .subitem li:nth-child(2n){margin:0 0 10px!important;}
.product-block .product-elem.in-stock .button button{width:100%!important;}
}
@media screen and (max-width: 575px){
.product-block.inner-product-block .product-elem,.product-block.inner-product-block .product-elem:nth-child(3n){width:100%;margin:0 auto 30px auto!important;max-width:273px;}
.product-block.inner-product-block .product-elem:nth-child(2n){margin:0 auto 30px auto!important;}
}
.popular-product .product-block{min-height:455px;overflow:hidden;}
.show-more-btn span.hide{display:none;}
.seo .show-more-btn a:first-child + a{display:none;}
#search-result{position:absolute;top:40px;font-size:12px;left:0;z-index:999;padding:10px 0;}
.catalog-nav .catalog-menu{max-width:100%;}
.catalog-nav{max-width:100%;}
.seo .inner-seo{max-height:320px;overflow:hidden;position:relative;}
.seo .container{padding:85px 15px 85px;margin-bottom:-85px;}
@media screen and (max-width: 575px){
.seo .container{padding:40px 15px 40px;margin-bottom:-40px;}
}
.seo .container:empty{padding:0;}
.seo h2{font-size:24px;font-weight:600;margin:15px 0 5px 0;}
.seo h3{font-size:22px;font-weight:600;margin:15px 0 5px 0;}
.seo p{margin-bottom:15px;font-size:14px;line-height:25px;}
.seo ul{list-style-type:disc;margin:0 0 15px 15px;}
.seo ul li{margin-bottom:5px;font-size:14px;}
.rating span{background:url(https://b-pro.com.ua/assets/site/assets_rev/img/icons/star2.svg)center no-repeat;-webkit-background-size:contain;background-size:contain;width:15px;height:14px;display:inline-block;margin-right:1px;vertical-align:middle;}
.rating .myraiting5 span{background:url(https://b-pro.com.ua/assets/site/assets_rev/img/icons/star.svg)center no-repeat;}
.rating .myraiting4 span:nth-child(-n+4){background:url(https://b-pro.com.ua/assets/site/assets_rev/img/icons/star.svg)center no-repeat;}
.rating{display:flex;}
@media screen and (max-width: 991px){
.catalog-nav .catalog-menu .subitem li{width:calc((100% / 3) - 5px);margin:0 7px 10px 0!important;}
.catalog-nav .catalog-menu .subitem li:nth-child(3n){margin-right:0!important;}
.catalog-nav .catalog-menu .subitem li:nth-child(5n){margin:0 7px 10px 0!important;}
}
@media screen and (max-width: 767px){
.catalog-nav .catalog-menu .subitem li:nth-child(2n){margin-right:7px!important;}
.product-block.inner-product-block .product-elem .button .btn.btn-blue{min-width:110px;}
}
@media screen and (max-width: 575px){
.catalog-nav .catalog-menu .subitem li{width:calc((100% / 2) - 3.5px);margin:0 7px 10px 0!important;}
.catalog-nav .catalog-menu .subitem li:nth-child(3n){margin-right:7px!important;}
.catalog-nav .catalog-menu .subitem li:nth-child(5n){margin-right:7px!important;}
.catalog-nav .catalog-menu .subitem li:nth-child(2n),.catalog-nav .catalog-menu .subitem li:nth-child(4n),.catalog-nav .catalog-menu .subitem li:nth-child(6n){margin-right:0!important;}
}
@media screen and (max-width: 380px){
header .mob-nav .mob-bottom-nav .download{font-size:10px;}
}
.representative{background:#FFF;padding:80px 0;}
@media only screen and (max-width : 768px){
.representative{padding:40px 0;}
}
.representative-carousel-box{padding:0 40px;}
.representative-box{max-width:275px;margin:0 auto;}
.representative-box-img{width:100%;height:150px;display:table;box-sizing:border-box;background:#FFF;border:1px solid #e6e6e6;margin-bottom:25px;}
.representative-box-img img{max-height:150px;}
.representative-box-img>a{width:100%;height:100%;box-sizing:border-box;padding:0 15px;display:table-cell;vertical-align:middle;text-align:center;}
.representative-box-name{min-height:35px;padding-bottom:5px;}
.representative-box-name a{text-decoration:none;color:#333;font-weight:600;font-size:20px;}
.representative-box-cont{min-height:110px;font-size:16px;color:#53565e;padding-bottom:10px;}
.representative .owl-prev,.representative .owl-next,.review-carousel .owl-prev,.review-carousel .owl-next,.main-slider2 .owl-next,.main-slider2 .owl-prev{width:14px;height:25px;margin-top:-12.5px;left:-40px;background-image:url(https://b-pro.com.ua/assets/site/assets_rev/images/left-arrow.png);}
.representative .owl-next,.review-carousel .owl-next,.main-slider2 .owl-next{left:auto;right:-40px;transform:rotate(180deg);}
.review-carousel .owl-prev{left:0;}
.review-carousel .owl-next{right:0;}
.main-slider2 .owl-prev{left:10px;}
.main-slider2 .owl-next{right:10px;}
.top-nav ul{margin-bottom:0;}
/*! CSS Used from: https://b-pro.com.ua/assets/site/css/owl.carousel.css */
.owl-height{-webkit-transition:height 500ms ease-in-out;-moz-transition:height 500ms ease-in-out;-ms-transition:height 500ms ease-in-out;-o-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out;}
.owl-carousel{display:none;width:100%;-webkit-tap-highlight-color:transparent;position:relative;z-index:1;}
.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;}
.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0px,0px,0px);}
.owl-carousel .owl-controls .owl-nav .owl-prev,.owl-carousel .owl-controls .owl-nav .owl-next,.owl-carousel .owl-controls .owl-dot{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.owl-carousel.owl-loaded{display:block;}
.owl-carousel .owl-item{position:relative;min-height:1px;float:left;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.owl-carousel .owl-item img{transform-style:preserve-3d;}
.owl-theme .owl-controls{text-align:center;}
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover{color:#fff;text-decoration:none;}
.owl-dots{width:100%;text-align:center;position:absolute;z-index:20;bottom:5px;left:0;}
.owl-theme .owl-dots .owl-dot{display:inline-block;zoom:1;*display:inline;}
.owl-theme .owl-dots .owl-dot span{width:17px;height:18px;text-align:center;margin:0 5px;display:block;font-size:0;font-weight:700;background:url(https://b-pro.com.ua/assets/site/images/bullets.png) no-repeat right top;}
.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{background-position:left top;}
.owl-prev{width:29px;height:29px;position:absolute;left:-35px;top:50%;margin-top:-14px;cursor:pointer;background:url(https://b-pro.com.ua/assets/site/images/prev-next.png) no-repeat left top;}
.owl-prev:hover{opacity:.7;}
.owl-next{width:29px;height:29px;position:absolute;right:-35px;top:50%;margin-top:-14px;cursor:pointer;background:url(https://b-pro.com.ua/assets/site/images/prev-next.png) no-repeat right top;}
.owl-next:hover{opacity:.7;}
/*! CSS Used from: Embedded ; media=all */
@media all{
.st0{fill:#fff;}
}
/*! CSS Used from: Embedded ; media=all */
@media all{
.st0{fill:#fff;}
}
/*! CSS Used from: https://b-pro.com.ua/assets/site/assets_rev/css/A.cabinnet.css.pagespeed.cf.F9aYhGo6se.css */
header .bottom-nav .search-form{margin-right:10px;}
header .basket br{display:none;}
.enter-btn{cursor:pointer;display:inline-block;color:#979797;font-size:12px;text-decoration:none;padding:0 15px 0 0;position:relative;z-index:0;margin-left:40px;}
.enter-btn:after{content:'';width:10px;height:10px;position:absolute;z-index:-1;right:0;top:50%;margin-top:-5px;background:url(https://b-pro.com.ua/assets/site/assets_rev/images/xlogout.png.pagespeed.ic.7wT2YgX0zJ.png) no-repeat left top;}
.fadebox{width:100%;height:100%;position:fixed;z-index:10;left:0;top:0;overflow-y:scroll;display:none;background:rgba(000,000,000,.6);}
.fadebox-cont{width:100%;height:100%;box-sizing:border-box;padding-top:3%;}
.login-box{width:440px;background:#fff;position:relative;z-index:1;margin:5% auto;display:none;padding:50px 45px 25px 45px;font-size:11px;}
.login-box-close{width:15px;height:15px;position:absolute;z-index:0;top:15px;right:15px;cursor:pointer;}
.box-title{text-align:center;font-size:25px;line-height:30px;font-weight:700;color:#333;margin-bottom:15px;}
.fadebox form{margin-top:15px;}
.inputbox{width:100%;height:48px;padding:5px 15px;background:#fff;font-size:15px;border:1px solid #e0e0df;box-sizing:border-box;margin-bottom:20px;}
.forgot-link{font-size:10px;text-align:right;position:relative;z-index:0;top:-15px;}
.madal-btn{width:100%;height:50px;font-family:'Montserrat',sans-serif;font-weight:600;font-size:13px;background:#0062ff;text-decoration:none;color:#fff!important;text-align:center;text-transform:uppercase;display:block;cursor:pointer;border:0;-webkit-appearance:none;-webkit-border-radius:0;}
.login-box-bot{margin-top:20px;text-align:center;color:#000;font-weight:bold;font-size:16px;}
.enter-button1,.register-link{cursor:pointer;color:rgba(0,98,255,.75)!important;}
.fadebox-close{width:100%;height:100%;position:absolute;z-index:0;left:0;top:0;}
.register-block{display:none;}
/*! CSS Used from: Embedded */
div#jivo-iframe-container{width:0!important;height:0!important;transition:none;position:fixed!important;overflow:hidden!important;background:transparent!important;max-height:100%!important;min-height:0!important;padding:0;margin:0;top:auto;bottom:0!important;backface-visibility:hidden;}
iframe#jivo_container{z-index:0!important;position:relative!important;width:0!important;height:0!important;display:block!important;background:transparent!important;top:0!important;bottom:0!important;opacity:0;visibility:hidden;}
jdiv#jivo-mouse-tracker{position:fixed!important;width:auto!important;height:auto!important;max-height:initial!important;z-index:2147483647!important;left:-300px!important;right:-300px!important;top:-200px!important;bottom:0!important;display:block;background-color:transparent!important;opacity:0!important;-webkit-touch-callout:none!important;-webkit-user-select:none!important;-khtml-user-select:none!important;-moz-user-select:none!important;-ms-user-select:none!important;-o-user-select:none!important;user-select:none!important;transform:initial!important;}
.globalClass_53a a,.globalClass_53a input,.globalClass_53a textarea{-webkit-animation:0s none!important;animation:0s none!important;-webkit-backface-visibility:visible!important;backface-visibility:visible!important;background:none!important;border:0!important;box-shadow:none!important;box-sizing:content-box!important;bottom:auto!important;caption-side:top!important;clear:none!important;clip:auto!important;cursor:auto!important;display:inline!important;direction:ltr!important;flex:none!important;height:auto!important;-webkit-hyphens:manual!important;-ms-hyphens:manual!important;hyphens:manual!important;image-rendering:auto!important;justify-content:flex-start!important;left:auto!important;letter-spacing:normal!important;line-height:normal!important;margin:0!important;max-height:none!important;max-width:none!important;min-height:0!important;min-width:0!important;-o-object-fit:fill!important;object-fit:fill!important;opacity:1!important;order:1!important;orphans:2!important;outline:0 none!important;overflow:visible!important;padding:0!important;perspective:none!important;position:static!important;resize:none!important;right:auto!important;text-align:left!important;text-decoration:none!important;text-indent:0!important;text-overflow:clip!important;text-shadow:none!important;text-transform:none!important;top:auto!important;transform:none!important;transition:all 0s ease 0s!important;unicode-bidi:normal!important;-webkit-user-select:none!important;-moz-user-select:none!important;-ms-user-select:none!important;user-select:none!important;vertical-align:baseline!important;white-space:normal!important;width:auto!important;word-break:normal!important;word-spacing:normal!important;word-wrap:normal!important;z-index:auto!important;zoom:normal!important;font-style:normal!important;font-weight:400!important;-webkit-filter:none!important;filter:none!important;}
.globalClass_53a a{-webkit-text-size-adjust:inherit!important;}
.globalClass_53a :after,.globalClass_53a :before{content:none;}
jdiv{-webkit-animation:0s none;animation:0s none;-webkit-backface-visibility:visible;backface-visibility:visible;background:none;border:0;box-shadow:none;box-sizing:content-box;bottom:auto;caption-side:top;clear:none;clip:auto;cursor:auto;display:inline;direction:ltr;flex:none;height:auto;-webkit-hyphens:manual;-ms-hyphens:manual;hyphens:manual;image-rendering:auto;justify-content:flex-start;left:auto;letter-spacing:normal;line-height:normal;margin:0;max-height:none;max-width:none;min-height:0;min-width:0;-o-object-fit:fill;object-fit:fill;opacity:1;order:1;orphans:2;outline:0 none;overflow:visible;padding:0;perspective:none;position:static;resize:none;right:auto;text-align:left;text-decoration:none;text-indent:0;text-overflow:clip;text-shadow:none;text-transform:none;top:auto;transform:none;transition:all 0s ease 0s;unicode-bidi:normal;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;vertical-align:baseline;white-space:normal;width:auto;word-break:normal;word-spacing:normal;word-wrap:normal;z-index:auto;zoom:normal;-webkit-filter:none!important;filter:none!important;font-weight:400;-webkit-text-size-adjust:inherit;-webkit-font-smoothing:antialiased;-webkit-text-fill-color:currentColor;}
jdiv:after,jdiv:before{box-sizing:inherit;}
.globalClass_53a input[type=text]:focus{background-color:transparent!important;}
.pseudoHeight_d3c{position:fixed;top:0;bottom:0;width:auto;left:0;right:0;visibility:hidden;}
/*! CSS Used from: Embedded */
.teler-wd__trigger{letter-spacing:normal!important;background-color:transparent!important;cursor:pointer!important;height:125px!important;position:fixed!important;transition:visibility 0.5s ease 0s,   opacity 0.5s ease 0s!important;visibility:visible!important;opacity:1!important;width:125px!important;z-index:2147483645!important;box-sizing:content-box!important;transform:none!important;bottom:3%!important;left:20%!important;right:auto!important;}
.teler-wd__flipper_wrapper{background-color:rgba(0,98,255, 1)!important;height:75px!important;position:absolute!important;width:75px!important;top:25px!important;left:25px!important;border:2px solid transparent!important;border-radius:100%!important;box-sizing:content-box!important;-webkit-perspective:1000!important;-moz-perspective:1000!important;-ms-perspective:1000!important;perspective:1000!important;-ms-transform:perspective(1000px)!important;-moz-transform:perspective(1000px)!important;-ms-transform-style:preserve-3d!important;z-index:3!important;box-shadow:0 0 2px rgba(0,0,0,.14),0 2px 2px rgba(0,0,0,.28)!important;}
.teler-wd__flipper_wrapper:hover .teler-wd__flipper-back,.teler-wd__flipper_wrapper_hover .teler-wd__flipper-back{-webkit-transform:rotateY(0deg)!important;-moz-transform:rotateY(0deg)!important;-o-transform:rotateY(0deg)!important;-ms-transform:rotateY(0deg)!important;transform:rotateY(0deg)!important;}
.teler-wd__flipper_wrapper:hover{box-shadow:0 0 4px rgba(0,0,0,.16),0 4px 4px rgba(0,0,0,.32)!important;-webkit-transition:box-shadow 150ms cubic-bezier(0,0,.2,1)!important;transition:box-shadow 150ms cubic-bezier(0,0,.2,1)!important;}
.teler-wd__flipper_wrapper:hover .teler-wd__flipper-front,.teler-wd__flipper_wrapper_hover .teler-wd__flipper-front{-webkit-transform:rotateY(180deg)!important;-moz-transform:rotateY(180deg)!important;-o-transform:rotateY(180deg)!important;transform:rotateY(180deg)!important;}
.teler-wd__flipper,.teler-wd__flipper-front,.teler-wd__flipper-back{position:absolute!important;height:75px!important;width:75px!important;background-repeat:no-repeat!important;background-position:center!important;transform-origin:50% 50% 0!important;}
.teler-wd__flipper{-webkit-transition:0.6s!important;-webkit-transform-style:preserve-3d!important;-ms-transition:0.6s!important;-moz-transition:0.6s!important;-moz-transform:perspective(1000px)!important;-moz-transform-style:preserve-3d!important;-ms-transform-style:preserve-3d!important;transition:0.6s!important;transform-style:preserve-3d!important;position:relative!important;}
.teler-wd__flipper-front,.teler-wd__flipper-back{background-color:rgba(0,98,255, 1)!important;border-radius:100%!important;-webkit-backface-visibility:hidden!important;-moz-backface-visibility:hidden!important;-ms-backface-visibility:hidden!important;backface-visibility:hidden!important;-webkit-transition:0.6s!important;-webkit-transform-style:preserve-3d!important;-webkit-transform:rotateY(0deg)!important;-moz-transition:0.6s!important;-moz-transform-style:preserve-3d!important;-moz-transform:rotateY(0deg)!important;-o-transition:0.6s!important;-o-transform-style:preserve-3d!important;-o-transform:rotateY(0deg)!important;-ms-transition:0.6s!important;-ms-transform-style:preserve-3d!important;-ms-transform:rotateY(0deg)!important;transition:0.6s!important;transform-style:preserve-3d!important;transform:rotateY(0deg)!important;position:absolute!important;top:0!important;left:0!important;box-sizing:border-box!important;}
.teler-wd__flipper-front{-webkit-transform:rotateY(0deg)!important;-ms-transform:rotateY(0deg)!important;z-index:2!important;padding:14px!important;fill:rgba(255,255,255,1)!important;}
.teler-wd__icon{height:48px!important;width:48px!important;}
.teler-wd__flipper-back{text-align:center!important;padding:0!important;display:flex!important;display:-webkit-flex!important;align-items:center!important;-webkit-align-items:center!important;justify-content:center!important;-webkit-justify-content:center!important;-webkit-transform:rotateY(-180deg)!important;-moz-transform:rotateY(-180deg)!important;-o-transform:rotateY(-180deg)!important;-ms-transform:rotateY(-180deg)!important;transform:rotateY(-180deg)!important;font:normal 300 16px Roboto, sans-serif!important;font-size:14px!important;line-height:18px!important;color:rgba(255,255,255,1)!important;}
.teler-wd__tooltip{display:block!important;opacity:0!important;visibility:hidden!important;height:36px!important;position:absolute!important;width:auto!important;top:-40px!important;left:50px!important;margin:0!important;padding:0 14px!important;border:0!important;white-space:nowrap!important;background-color:rgba(0,98,255, 1)!important;color:rgba(255,255,255,1)!important;transition:all 1s!important;font:normal 300 16px Roboto, sans-serif!important;line-height:36px!important;font-size:14px!important;border-radius:4px!important;}
.teler-wd__tooltip:after{content:''!important;position:absolute!important;top:35px!important;left:15px!important;width:0!important;height:0!important;border-top:12px solid rgba(0,98,255, 1)!important;border-right:12px solid transparent!important;}
.teler-wd__tooltip_show .teler-wd__tooltip{visibility:visible!important;opacity:1!important;}
@media (min-width: 1px) and (max-width: 520px){
.teler-wd__trigger{height:100px!important;width:100px!important;}
.teler-wd__flipper,.teler-wd__flipper-front,.teler-wd__flipper-back,.teler-wd__flipper_wrapper{height:60px!important;width:60px!important;}
.teler-wd__flipper-front{padding:10px!important;}
.teler-wd__flipper-back{font-size:12px!important;line-height:16px!important;}
.teler-wd__icon{height:40px!important;width:40px!important;}
.teler-wd__tooltip{display:none;}
}
@media (max-width: 768px){
.teler-wd__trigger{z-index:4000020!important;}
}
@media (max-width: 768px){
.teler-wd__trigger{z-index:4000020!important;}
}
/*! CSS Used fontfaces */
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Lato';src:url('https://b-pro.com.ua/assets/site/assets_rev/fonts/lato-regular_0.woff2') format('woff2'),          url('https://b-pro.com.ua/assets/site/assets_rev/fonts/lato-regular_0.woff') format('woff'),          url('https://b-pro.com.ua/assets/site/assets_rev/fonts/lato-regular_0.ttf') format('truetype');font-display:swap;font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato';src:url('https://b-pro.com.ua/assets/site/assets_rev/fonts/lato-italic_0.woff2') format('woff2'),          url('https://b-pro.com.ua/assets/site/assets_rev/fonts/lato-italic_0.woff') format('woff'),          url('https://b-pro.com.ua/assets/site/assets_rev/fonts/lato-italic_0.ttf') format('truetype');font-display:swap;font-weight:normal;font-style:italic;}
@font-face{font-family:'Lato';src:url('https://b-pro.com.ua/assets/site/assets_rev/fonts/lato-bold_0.woff2') format('woff2'),          url('https://b-pro.com.ua/assets/site/assets_rev/fonts/lato-bold_0.woff') format('woff'),          url('https://b-pro.com.ua/assets/site/assets_rev/fonts/lato-bold_0.ttf') format('truetype');font-display:swap;font-weight:700;font-style:normal;}
@font-face{font-family:'Lato';src:url('https://b-pro.com.ua/assets/site/assets_rev/fonts/lato-bolditalic_0.woff2') format('woff2'),          url('https://b-pro.com.ua/assets/site/assets_rev/fonts/lato-bolditalic_0.woff') format('woff'),          url('https://b-pro.com.ua/assets/site/assets_rev/fonts/lato-bolditalic_0.ttf') format('truetype');font-display:swap;font-weight:700;font-style:italic;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:400;src:local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:400;src:local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:400;src:local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:400;src:local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:400;src:local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:500;src:local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gTD_u50.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:500;src:local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3g3D_u50.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:500;src:local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gbD_u50.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:500;src:local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gfD_u50.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:500;src:local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:600;src:local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gTD_u50.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:600;src:local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3g3D_u50.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:600;src:local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gbD_u50.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:600;src:local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gfD_u50.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:600;src:local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:700;src:local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gTD_u50.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:700;src:local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3g3D_u50.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:700;src:local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gbD_u50.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:700;src:local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gfD_u50.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:700;src:local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}