.cleared:after{
	content:'';
	display:table;
	clear:both;
}
.blog-cat{
	font-weight: 800;
	font-family: Lato;
	color: #BFBFBF;
	font-size: 12px;
	line-height: 20px;
	text-transform:uppercase;
	margin-bottom:10px;
}
.blog-title{
	font-weight: bold;
	font-family: Lato;
	color: #252A3D;
	font-size: 30px;
	line-height: 35px;
	margin-bottom:30px;
}
.blog-nav ul li{
	display:inline-block;
	vertical-align:top;
	font-size:0;
	margin:0 14px 14px 0;
}
.blog-nav ul li:last-child{
	margin-right:0;
}
.blog-nav ul li a{
	font-family: Lato;
	display:block;
	font-size:14px;
	color: #525558;
	text-decoration:none;
	padding:8px 15px;
	border:1px solid #EDEDED;
	border-radius:7px;
}
.blog-nav ul li.active>a,
.blog-nav ul li a:hover{
	color:#0062FF;
	background:#e6f0ff;
	border-color:#e6f0ff;
}
.blog-block{
	font-family: Lato;
	margin-bottom:50px;
}
.blog-top{
	padding:0 145px 0 0;
	position:relative;
	z-index:0;
	margin-bottom:30px;
}
.blog-top:before{
	content:'';
	height:1px;
	background:#e5e5e5;
	position:absolute;
	z-index:-1;
	left:0;
	right:0;
	top:50%;
	margin-top:-0.5px;
}
.blog-top-title{
	color: #252A3D;
	font-weight: 600;
	font-size: 25px;
	line-height: 25px;
}
.blog-top-title span{
	display:inline-block;
	background:#FFF;
	padding-right:15px;
}
.blog-top-link{
	position:absolute;
	z-index:0;
	top:0;
	right:0;
}
.blog-top .blog-more{
	padding-left:15px;
}
.blog-more{
	text-decoration:underline;
	position:relative;
	z-index:0;
	display:inline-block;
}
.blog-more:before{
	content:'';
	height:2px;
	background:#FFF;
	position:absolute;
	z-index:-1;
	left:0;
	right:0;
	top:50%;
	margin-top:-0.5px;
}
.blog-more:hover{
	text-decoration:none;
}
.blog-more svg{
	display:inline-block;
	position:relative;
	z-index:0;
	top:1px;
	margin-left:5px;
}
.blog-cont-left{
	width:749px;
	float:left;
}
.blog-article-main{
	border-radius:5px;
	overflow:hidden;
	box-shadow:0 0 5px 5px #f0f1f2;
}
.blog-article-main:hover{
	box-shadow:0 0 15px 15px #f0f1f2;
}
.blog-article-main-img{
	width:360px;
	height: 275px;
	float:left;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	background-color: #E0E0E0;
}
.blog-article-main-right{
	margin-left:360px;
	height: 275px;
	display:table;
}
.blog-article-main-cont{
	width:100%;
	height: 275px;
	box-sizing:border-box;
	padding:15px 30px;
	display:table-cell;
	vertical-align:middle;
}
.blog-article-main-title a{
	font-size:17px;
	font-weight:bold;
	color: #303342;
	text-decoration:none;
}
.blog-article-main-title a:hover{
	color: #0062FF;
}
.blog-article-main-text{
	height:75px;
	overflow:hidden;
	font-size:16px;
	margin-bottom:10px;
}
.blog-cont-right{
	margin-left:779px;
}
.blog-article-liks ul li{
	border-bottom: 1px dashed #E5E5E5;
}
.blog-article-liks ul li a{
	padding:10px 0;
	display:block;
	text-decoration:none;
	color: #252A3D;
	font-size: 16px;
	line-height: 25px;
}
.blog-article-liks ul li a:hover{
	color: #0062FF;
}
.blog-row{
	margin-left:-10px;
	margin-right:-10px;
}
.blog-row>.blog-row3{
	width:33.33%;
	float:left;
	padding:0 10px;
	box-sizing:border-box;
}
.blog-row>.blog-row3:nth-child(3n)+div{
	clear:both;
}
.expert-box{
	font-family: Lato;
	max-width:360px;
	height: 458px;
	margin:0 auto 40px auto;
	border-radius:5px;
	overflow:hidden;
	position:relative;
	z-index:0;
	box-shadow:0 0 5px 5px #f0f1f2;
}
.expert-box:hover{
	box-shadow:0 0 15px 15px #f0f1f2;
}
.expert-box-img{
	width:100%;
	height:275px;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	background-color: #E0E0E0;
}
.expert-box-cont{
	min-height:183px;
	background:#FFF;
	padding:20px;
	position:absolute;
	z-index:1;
	left:0;
	right:0;
	bottom:0;
	padding-bottom:50px;
}
.epert-bot-top{
	height:30px;
	line-height:30px;
	font-weight: bold;
	font-size: 11px;
	text-transform:uppercase;
	color:#FFF;
	display:inline-block;
	padding:0 15px;
	position:absolute;
	z-index:1;
	left:0;
	top:-30px;
	background: #0062FF;
	border-radius: 0px 4px 0px 0px;
}
.expert-box-title{
	height:75px;
	overflow:hidden;
	margin-bottom:10px;
}
.expert-box:hover .expert-box-title a{
	color: #0062FF;
}
.expert-box-title a{
	font-size: 17px;
	line-height: 26px;
	font-weight: bold;
	color: #303342;
	text-decoration:none;
}
.expert-box:hover .expert-box-text{
	height:85px;
}
.expert-box-text{
	height:0;
	overflow:hidden;
	font-size:16px;
	line-height: 25px;
	color: #525558;
	transition: all .3s ease;
}
.expert-box-bot{
	position:absolute;
	z-index:1;
	left:0;
	right:0;
	bottom:25px;
	padding:0 20px;
}
.paginate{
	text-align:center;
}
.paginate ul li{
	display:inline-block;
	vertical-align:top;
	margin:0 3px 5px 3px;
}
.paginate ul li a{
	width:40px;
	height:40px;
	box-sizing:border-box;
	line-height:40px;
	text-align:center;
	display:block;
	color:#525558;
	font-size:16px;
	border-radius:5px;
	background:#F6F6F6;
}
.paginate ul li a:hover{
	background:#E5E5E5;
	color:#525558;
	text-decoration:none;
}
.paginate ul li.active>a{
	color:#FFF;
	background:#0062FF;
}
.paginate ul li.prev-page>a,
.paginate ul li.next-page>a{
	width:auto;
	padding:0 15px;
	background:#FFF;
	border:1px solid #F6F6F6;
}
.paginate ul li.prev-page>a:hover,
.paginate ul li.next-page>a:hover{
	color:#0062FF;
}
.next-page svg{
	display:inline-block;
	position:relative;
	z-index:0;
	top:1px;
	margin-left:5px;
}
.prev-page svg{
	display:inline-block;
	position:relative;
	z-index:0;
	top:1px;
	margin-right:5px;
}
.blog-text{
	padding:40px 0;
	font-family: Lato;
	color: #525558;
	font-size: 16px;
	line-height: 25px;
	text-align: justify;
}
.blog-text h1{
	max-width:945px;
	font-weight: bold;
	font-family: Lato;
	color: #252A3D;
	font-size: 30px;
	line-height: 35px;
	margin:0 auto 30px auto;
	text-align:center;
}
.blog-text h2{
	max-width:945px;
	font-weight: 600;
	font-family: Lato;
	color: #252A3D;
	font-size: 25px;
	line-height: 33px;
	margin:0 auto 20px auto;
	text-align:center;
}
.blog-text h3{
	max-width:945px;
	font-weight: 600;
	font-family: Lato;
	color: #252A3D;
	font-size: 20px;
	line-height: 30px;
	margin:0 auto 20px auto;
	text-align:center;
}
.blog-text iframe{
	max-width:945px;
	overflow:hidden;
	border-radius:10px;
	margin:0 auto 20px auto;
}
.blog-text p,
.blog-text ul{
	max-width:945px;
	margin:0 auto 30px auto;
}
.blog-text ul li{
	position:relative;
	z-index:0;
	padding-left:18px;
	margin-bottom:15px;
}
.blog-text ul li:before{
	content:'';
	width:7px;
	height:7px;
	position:absolute;
	z-index:-1;
	top:10px;
	left:0;
	background:#70CAF4;
	border-radius:100%;
}
.blog-text ol{
	list-style: none;
	max-width:945px;
	padding:45px 45px;
	margin:0 auto 30px auto;
	background: #F5F9FA;
	border-radius: 10px;
	counter-reset: my-awesome-counter;
}
.blog-text ol li {
	min-height:45px;
	position:relative;
	z-index:0;
	padding:5px 0 15px 60px;
	counter-increment: my-awesome-counter;
}
.blog-text ol li:before {
	content: counter(my-awesome-counter);
	position:absolute;
	z-index:-1;
	left:0;
	top:0;
	width:30px;
	height:30px;
	text-align:center;
	line-height:30px;
	font-weight: bold;
	font-size: 17px;	
	display:block;
	color: #FFF;
	box-sizing:content-box;
	background:#70caf4;
	border:5px solid #daeff9;
	border-radius:100%;
}
.blog-text a{
	color:#0062ff;
	text-decoration:none;
}
.blog-text a:hover{
	color:#0062ff;
	text-decoration:underline;
}
.blog-texta:visited{
	color:#7e9ecf;
}
.blog-text img{
	max-width:100%;
	height:auto;
	border-radius:10px;
}
.blog-text strong{
	font-weight:bold;
}
.blog-text blockquote{
	max-width:715px;
	margin:0 auto 40px auto;
	padding-left:30px;
	font-weight:600;
	font-size:20px;
	line-height:30px;
	border-left: 3px solid #70CAF4;
}
.blog-text-info{
	max-width: 945px;
	margin:0 auto 30px auto;
	padding:40px 30px 40px 100px;
	background: #eaf7fe;
	border-radius: 10px;
	position:relative;
	z-index:0;
	font-size:16px;
}
.blog-icon-info{
	background: #eaf7fe;
}
.blog-icon-attention{
	background: #fff9d9;
}
.blog-icon-plus{
	background: #daf9ef;
}
.blog-icon-minus{
	background: #feecf2;
}
.blog-info-icon{
	position:absolute;
	z-index:0;
	left:30px;
	top:30px;
}
.blog-text-info h3{
	text-align:left;
	margin-bottom:15px;
}
.blog-text-info p{
	margin:0;
}
.blog-text-info p+p{
	margin-top:15px;
}
@media only screen and (max-width : 992px) {
	.blog-text h1,
	.blog-title{
		font-size: 25px;
		line-height: 32px;
	}
	.blog-nav ul li{
		margin:0 10px 10px 0;
	}
	.blog-nav ul li a{
		padding:5px 10px;
	}
	.blog-top-title{
		font-size: 21px;
		line-height: 30px;
	}
	.blog-cont-left{
		width:auto;
		float:none;
		margin-bottom:20px;
	}
	.blog-article-main-cont{
		padding:5px 20px;
	}
	.blog-cont-right{
		margin:0;
	}
	.blog-row>.blog-row3{
		width:50%;
	}
	.blog-row>.blog-row3:nth-child(3n)+div{
		clear:none;
	}
	.blog-row>.blog-row3:nth-child(2n)+div{
		clear:both;
	}
	.expert-box{
		height: 438px;
	}
	.expert-box-img {
		height: 255px;
	}
	.blog-text ol{
		padding:40px 25px;
	}
	.blog-text-info {
		padding: 30px 30px 30px 80px;
	}
	.blog-info-icon{
		left:25px;
		top:30px;
	}
	.blog-info-icon svg{
		width:40px;
	}
}
@media only screen and (max-width : 768px) {
	.blog-top{
		padding:0;
	}
	.blog-top:before{
		display:none;
	}
	.blog-top-link{
		position:unset;
	}
	.blog-top-title{
		margin-bottom:5px;
	}
	.blog-top .blog-more{
		padding-left:0;
	}
	.blog-article-main{
		max-width:360px;
	}
	.blog-article-main-img{
		width:100%;
		height:225px;
	}
	.blog-article-main-right{
		margin:0;
		display:block;
		height:auto;
	}
	.blog-article-main-cont{
		height:auto;
		padding:30px 10px 20px 10px;
	}
	.blog-row>.blog-row3{
		width:100%;
	}
	.blog-row3{
		float:none;
	}
	.expert-box{
		height: 408px;
	}
	.expert-box-img {
		height: 225px;
	}
	.blog-text h2{
		font-size: 21px;
		line-height: 30px;
	}
	.blog-text h3{
		font-size: 18px;
		line-height: 28px;
	}
	.blog-info-icon{
		left:10px;
	}
	.blog-text-info{
		padding-left:65px;
	}
	.blog-text ol {
		padding: 30px 10px;
	}
	.blog-text ol li{
		pdding-left:65px;
	}
}