header .bottom-nav .search-form{
	margin-right:10px;
}
header .basket br{
	display:none;
}
.user-link{
	height:30px;
	line-height:30px;
	background:#7ac3ee;
	display:inline-block;
	vertical-align:top;
	color:#FFF;
	font-size:12px;
	text-decoration:none;
	padding:0 20px 0 30px;
	position:relative;
	z-index:0;
	margin-right:5px;
}
.user-link:after{
	content:'';
	width:9px;
	height:10px;
	position:absolute;
	z-index:-1;
	left:10px;
	top:50%;
	margin-top:-5px;
	background:url(../images/user-icon.png) no-repeat left top;
}
.user-link:hover{
	background:#3d67c1;
}
.enter-btn, .primary, .webuser a{
	cursor:pointer;
	display:inline-block;
	color: #979797;
	font-size:12px;
	text-decoration:none;
	padding:0 15px 0 0;
	position:relative;
	z-index:0;
	margin-left:40px;
}
.enter-btn:after, .primary:after{
	content:'';
	width:10px;
	height:10px;
	position:absolute;
	z-index:-1;
	right:0;
	top:50%;
	margin-top:-5px;
	background:url(../images/logout.png) no-repeat left top;
}
.fadebox{
	width:100%;
	height:100%;
	position:fixed;
	z-index:10;
	left:0;
	top:0;
	overflow-y:scroll;
	display:none;
	background:rgba(000,000,000,0.6);
}
.fadebox-cont{
	width:100%;
	height:100%;
	box-sizing:border-box;
	padding-top:3%;
}
.login-box {
    width: 440px;
    background: #FFF;
    position: relative;
    z-index: 1;
    margin: 5% auto;
    display: none;
    padding: 50px 45px 25px 45px;
	font-size:11px;
}
.login-box-close {
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 0;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.box-title {
	text-align:center;
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    color:#333;
    margin-bottom: 15px;
}
.fadebox form {
    margin-top: 15px;
}
.inputbox {
    width: 100%;
    height: 48px;
    padding: 5px 15px;
    background: #FFF;
	font-size:15px;
    border: 1px solid #e0e0df;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.forgot-link{
	font-size:10px;
	text-align:right;
	position:relative;
	z-index:0;
	top:-15px;
}
.madal-btn{
    width: 100%;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 13px;
    background: #0062ff;
    text-decoration: none;
    color: #FFF !important;
    text-align: center;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
    border: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
.login-box-bot {
    margin-top: 20px;
    text-align: center;
    color: #000;
	font-weight:bold;
	font-size:16px;
}
.enter-button1,
.register-link{
	cursor:pointer;
	color: rgba(0, 98, 255, 0.75) !important;
}
.fadebox-close {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
}
.hidded{
	overflow:hidden;
}
.register-block{
	display:none;
}
.cabinet-bar .text-box p {
    padding-bottom: 20px;
}
.cabinet-bar .text-box ul {
    margin: 0 0 20px 25px;
}
.cabinet-bar:after{
	content:'';
	display:table;
	clear:both;
}
.cabinet-right{
	width:100%;
	margin-right:-300px;
	float:left;
}
.cabinet-right-cont{
	font-size:14px;
	margin-right:300px;
}
.cabinet-right-cont ul{
	list-style-image:url(../images/checked.png);
}
.cabinet-right-cont ul li{
	margin-bottom:5px;
}
.sales{
	text-align:center;
}
.sale-box{
	width:190px;
	overflow:hidden;
	text-align:center;
	display:inline-block;
	vertical-align:top;
}
.sale-box b{
	display:block;
}
.sale-box-number{
	width:56px;
	height:56px;
	float:left;
	font-weight:bold;
	margin:0 auto 10px auto;
	background:#f76998;
	border-radius:100%;
}
.sale-box-number span{
	width:56px;
	height:56px;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	color:#FFF;
	font-size:25px;
	font-weight:500;
}
.sale-box-price{
	margin-left:60px;
	padding-top:10px;
}
.sale-box-price p{
	text-align:center;
}
.user-tab{
	border:1px solid #eaeae9;
	background:#FFF;
	border-collapse:collapse;
}
.user-tab td{
	padding:15px 5px;
	border:1px solid #eaeae9;
	text-align:center;
}
.user-tab td p{
	text-align:center;
	padding:0 !important;
}
.cabinet-left{
	width:200px;
	float:right;
}
.user-box{
	padding:45px 20px 20px 20px;
	position:relative;
	z-index:0;
	text-align:center;
	border:1px solid #e4e4e3;
    background-color: #ffffff;
	margin-bottom:20px;
}
.user-box:before{
	content:'';
	height:55px;
	position:absolute;
	z-index:-1;
	left:-0.5px;
	right:-0.5px;
	top:-0.5px;
	background:#64a2fd;
}
.user-box-img{
	width:58px;
	height:58px;
	overflow:hidden;
	margin:0 auto 15px auto;
	border-radius:100%;
}
.user-name{
	color:#000;
	font-size:20px;
	margin-bottom:10px;
}
.user-box-cont{
	text-align:center;
}
.user-box-cont a{
	font-size:14px;
	color:#a7a7a7;
	text-decoration:none;
}
.user-box-bot{
	margin-top:20px;
	text-align:right;
}
.logout-btn{
	height:30px;
	line-height:30px;
	display:inline-block;
	vertical-align:top;
	text-decoration:underline;
	cursor:pointer;
	color:#7ac3ee;
	font-size:12px;
	padding-right:20px;
	position:relative;
	z-index:0;
	/* text-transform:uppercase; */
}
.logout-btn:after{
	content:'';
	width:11px;
	height:11px;
	position:absolute;
	z-index:-1;
	right:0;
	top:50%;
	margin-top:-5.5px;
	background:url(../images/logout_blue.png) no-repeat center center;
}
.basket-tab-col:after,
.prod-tab-top:after{
	content:'';
	display:table;
	clear:both;
}
.prod-top-left{
	float:left;
}
.prod-top-right{
	float:right;
	font-weight:bold;
}
.prod-top-right p{
	margin-top:15px;
}
.prod-top-right a{
	text-decoration:underline !important;
	color: #64a2fd !important;
	cursor:pointer;
	text-decoration:underline;
}
.prod-top-right a:hover{
	text-decoration:none;
}
.order-sum{
	margin-bottom:10px;
}
.discount-info{
	max-width:610px;
	float:right;
	text-align:right;
}
.discount-info span{
	color:#64a2fd;
}
.discount-info a{
	text-decoration:underline;
	cursor:pointer;
}
.discount-info a:hover{
	text-decoration:none;
}
.discount-info-bot{
	max-width:610px;
	text-align:right;
}
.discount-price{
	color:#fd6d21 !important;
	font-size:24px;
}
a.discount-btn{
	line-height:43px;
	text-decoration:none;
}
.discount-btn{
	width:236px;
	height:43px;
	background:#4ca8fd;
	display:inline-block;
	border:0;
	color:#FFF;
	text-decoration:none;
	text-align:center;
	font-size:14px;
	margin-bottom:5px;
}
.discount-btn:hover{
	background:#000;
	color:#FFF;
}
.cabinet-bar h1, .cabinet-bar h2 {
    font-size: 28px;
    text-align: left;
    font-weight: 600;
    margin: 20px 0;
}
.cleared:after{
	content:'';
	display:table;
	clear:both;
}
.discount-info .register-open,
.enter-btn1{
	color:#64a2fd !important;
	text-decoration:underline !important;
}

.register-open:hover,
.enter-btn1:hover{
	text-decoration:none !important;
}
.login-box .error{
margin-top: -15px;
margin-bottom: 15px;
color: red;
padding-left: 5px;
}
.showv a img {
vertical-align: middle;
margin-top: -10px;
}
@media only screen and (max-width: 768px){
	.head-top-right {
		margin-left: 145px;
		padding-top: 0;
		padding-left: 0;
	}
	.head-top-right:after,
	.head-top-right:before{
			display:none;
	}
	.cabinet-left,
	.cabinet-right,
	.cabinet-right-cont{
		width:auto;
		float:none;
		margin:0;
	}
	.user-box{
		max-width:400px;
		margin-left:auto;
		margin-right:auto;
	}
	.prod-top-left,
	.prod-top-right{
		float:none;
	}
}