header .top-nav .main-menu ul li {
    line-height: 1;
    padding: 0 5px 3px 5px;
    border: 1px solid #297FFF;
    border-radius: 10px;
    background-color: rgba(41, 127, 255, .05);
}

footer .bottom-nav {
    flex-direction: column;
}

footer .bottom-contacts .title, footer .bottom-nav .title {
    line-height: 1;
    padding: 0 5px 3px 5px;
    border: 1px solid #297FFF;
    border-radius: 10px;
    background-color: rgba(41, 127, 255, .05);
    width: fit-content;
}

header .bottom-nav .for-client a:first-child{
    /*border: 1px solid green;*/
    /*padding: 5px;*/
}
header .bottom-nav .for-client a:nth-last-child(1){
    /*border: 1px solid #297FFF;*/
}
header .top-nav .main-menu ul li {
    /*color: #fff;*/
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(41, 127, 255, .7);
}

.top-right{
    position: relative;
}
.enter-btn{
    position: absolute !important;
    white-space: nowrap;
    top: 20px;
    border: 1px solid #297FFF;
    border-radius: 10px;
    padding: 0 15px 0 5px !important;
}

.enter-btn:after{
    margin-right: 3px;
}

.representative {
    padding: 0;
}

.popular-product{
    padding: 20px 0 0 !important;
}

footer {
    margin: 25px 0 0; !important;
}