.video-main{
    width: calc(100% - 315px);
    margin: 0 0 0 20px;
    max-height: 520px;
    overflow: hidden;
	position:relative;
	z-index:0;
}
.slide-item .video-main{
	width:100%;
}
.slide-item .video-box{
	position:absolute;
	z-index:0;
	left:0;
	top:0;
	right:0;
	bottom:0;
}
@media screen and (max-width: 767px){
	.video-main {
		width: 100%;
		height:200px;
		margin: 0;
	}
}