
.relative {width:100%; position:relative;}

/* shop stuff */
.shop-stuff {width:45%; height:265px; float:left; margin:0 20px 15px 0; border:1px solid #888;}
.shop-stuff-b {padding:10px;}
.shop-stuff .shk-image {float:left; margin:0 10px 5px 0;}
.shop-stuff .shs-descr {height:180px; margin-bottom:5px; border-bottom:1px dashed #888;}
.shop-stuff .shs-price {height:40px;}
.shop-stuff .shs-price .shk-but {float: right; vertical-align: middle;}
.shop-stuff small {font-size:12px;}
.shop-stuff fieldset {padding:0; margin:0; border:0;}

.shs-tocart {margin:5px 0; padding:5px 0; border-top:1px dashed #888;}
.shs-tocart div {margin:5px 0;}

.shk-price {font-weight:bold; font-size:1.3em;}
.shk-but {background: url(img/grad.gif) bottom repeat-x #dfdfdf; border:1px outset #888; margin:5px 5px 0 0; padding:2px;}
.shk-but:active {background: #A3A3A3; outline:none;}
.price-add {color:red; padding-left:3px; line-height:0;}

/* cart block */
.shop-cart {background-color:#fff; border:1px solid #888; padding:10px; margin: 10px 0 21px 0;}
.shop-cart-head {padding:5px 0 15px 0; text-align: center;}
.shop-cart-body {padding:15px 0; text-align: center;}
.shop-cart table {border-collapse:collapse; margin:5px 0;}
.shop-cart td {padding:3px; border-bottom:1px solid #ddd; border-top:1px solid #ddd;}
.shop-cart table small {font-size:11px; color:#595959;}
#butEmptyCart {text-decoration: none; color:#000; border-bottom:1px dashed #000;} 
#cartEmpty {height:50px; line-height:50px;}
#totalCart {margin:5px 0;}
.cart-order {margin:5px 0; text-align: center;}

/* helper box */
#stuffHelper {position: absolute; z-index:100; width:150px; padding:5px; border:1px solid #888; display:none; background: #fff;}
#stuffHelper div {text-align: center;}

/* progressbar */
#shkLoading {width:30px; height:30px; position: absolute; z-index:100; background:url(img/ajax-loader.gif) center center no-repeat #fff; border:1px solid #888; display: none;}

/* materials */
.materials {padding:5px 0;}
.materials img {width:70px;}
.materials input {cursor: pointer;}

.shs-tocart form label,
.shs-count label {
 display: inline-block;
 position: relative;
     width: 100%;
}
.shs-tocart form label [name*='count'],
.shs-count label [name*='count'] {
  /*display: inline-block;
  float: left;
  margin-right: -22px;
  padding: 0.2em 0.3em;
  width: 100%;*/
  width: 40px;
height: 20px;
padding: 5px;
text-align: center;
line-height: 20px;
margin: 0 10px;
background: #FFF;
font-size: 18px;
color: #000;
border: 1px solid #CCC;
}
.shs-tocart form label .field-arr,
.shs-count label .field-arr {
  display: block;
  float: right;
  height: 10px;
  margin: 1px;
  position: relative;
  vertical-align: middle;
  width: 17px;
  line-height: 10px;
}
.shs-tocart form label .field-arr.up,
.shs-count label .field-arr.up {
background: #009fe3;
width: 20px;
height: 20px;
padding: 5px;
text-align: center;
line-height: 20px;
color: #FFF;
text-decoration: none;
font-family: Arial, sans-serif;
font-size: 18px;
border: 2px solid #009fe3;
float: right;
}
.shs-tocart form label .field-arr.down,
.shs-count label .field-arr.down {
 background: #009fe3;
width: 20px;
height: 20px;
padding: 5px;
text-align: center;
line-height: 20px;
color: #FFF;
text-decoration: none;
font-family: Arial, sans-serif;
font-size: 18px;
border: 2px solid #009fe3;
float: left;
}
#confirmButton, #cancelButton{
margin-top:20px;
border: 2px solid #009fe3;
background: #009fe3;
cursor: pointer;
}